/* ---------- Seznam nabídek -------------*/

#offers .offer{
    padding: 1em;
    border-radius: 10px;
    margin: 1% 1% 1em;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    padding-bottom: 5em;
}

#offers .offer .img {
    width: 100%;
    position: relative;
}

#offers .offer .img:before {
    content: " ";
    display: block;
    padding-top:75%;
}

#offers .offer .img img {
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}

#offers .offer strong {
    padding: .7em 0 0;
    display: inline-block;
}

#offers .offer .price {
    display: block;
    width: 100%;
    font-size: 2em;
    text-align: right;
    position: relative;
}

#offers .offer .price-from {
    font-size: .5em;
    position: absolute;
    left: 0;
    top: 1em;
}

#offers .offer .detail-link  {
    display: block;
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    margin:0;
}

#offers .buttons {
    text-align: center;
}

#offers .nothing-found{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 2em 0;
}

/* ---------- Vyhledávání -------------*/

#search .logo {
    margin: 1em auto;
    display: block;
    padding: .5em;
}

/* odsazení políček s datumy */
#search .datepickWrap .ui-block-a,
#search .datepickWrap .ui-block-b {
    padding: 0 1em;
}

/* labely v přepínačích first/last bez omezení šířky */
#searchForm .firstLastWrapper label {
    width: auto;
}
#searchForm .extended-search {
    padding: 0;
    border-top: 0;
    border-bottom: 0;
}
#searchForm .extended-search h4 {
    margin: 0;
}
#searchForm .extended-search h4.ui-collapsible-heading-collapsed a.ui-btn,
#searchForm .extended-search .ui-collapsible-content{
    border-bottom: 0;
}
#searchForm .daysWrapper .ui-controlgroup-controls,
#searchForm .priceWrapper .ui-controlgroup-controls {
    padding:0.5em;
}

/* ---------- detail nabídky -------------*/
#offerDetail .slider {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
/* slider bez třídy init má jen jeden obrázek a není inicializovaný slider - necháme přirozené rozměry obrázku */
#offerDetail .slider.init:before{
    content: " ";
    padding-top: 67%;
    display: block;
    height: 0;
}
#offerDetail .slider.init .swiper-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#offerDetail .swiper-container .swiper-wrapper:after{
    content : " ";
    clear : both;
    height: 0;
    display: table;
}
#offerDetail .swiper-container .swiper-wrapper .swiper-slide img{
    height:100%;
   width:100%;
}
#offerDetail .swiper-pagination {
    text-align: center;
    float: left;
    width: 100%;
    padding: 1em 0;
}
#offerDetail .swiper-pagination .swiper-pagination-switch {
    display: inline-block;
    margin: 0.2em;
    width: 1.4em;
    height: 1.4em;
    border-radius: 10em;
    background: #333;
}
#offerDetail .swiper-pagination .swiper-pagination-switch.swiper-active-switch {
    background: #888;
}

#offerDetail table.description td {
    padding: .5em 2em .5em .5em;
    font-size: 1.2em;
}
#offerDetail #noDatesMessage,
#bookingForm #oneRoom{
    display: block;
    margin: 0.5em 2% 0px 0px; /* stejne jako ma jqm label */
}
#bookingForm .prices label strong{
    display: block;
}
#bookingForm #finalPrice {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}
#bookingForm  .spinner {
    margin-bottom: 1em;
}
#bookingForm #orderResult.success {
    color: #94E096;
}
#bookingForm #orderResult.error {
    color: #D17070;
}
#bookingForm .ui-li-static {
    white-space: normal;
}
#bookingForm ul {
    margin-top: 0;
}


/* ---------- upravené selectmenu - zavírací ouško -------------*/
.ui-selectmenu .earWrap,
.ui-popup-container .earWrap{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 3.4em;
    pointer-events: none;
    z-index: 5;
}

.ui-selectmenu .ear,
.ui-popup-container .ear{
    height: 100%;
    width: 10em;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    left: 8em;
    box-shadow: 0 0 1em rgba(100, 250, 100, .8);
    border-radius: 0 0 5em 40em / 0 0 5em 10em;
    pointer-events: auto;
}

/* ---------- upravené selectmenu - odkaz na vyčištění -------------*/
.clearIt {
    width: 2.5em;
    height: 100%;
    border-radius: .2em;
    display: block;
    background-color: rgba(255, 4, 80, .1);
    position: absolute;
    left: 0;
    top: 0;
}

/* --- třída pro skrytí kontejneru ---- */
.hiddenContain {
    max-height: 0;
    display: none !important;
}

/* ---- overl u popupu nastavíme neprůhlednou --------*/
.ui-popup-screen.in.ui-overlay-a{
    opacity: 1;
}

/* date box - rozšíření titulku */
.ui-datebox-container .ui-header .ui-title {
    margin-left:10%;
    margin-right:10%;
}

/* ---- třída na centrování textu ----*/
.text-center,
.text-center > * {
    text-align: center;
}

/* ---- všechny submity zvětšit ----*/
.submit .ui-btn{
    font-size: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* listview zakazuje zalamování - znovu povolíme pro labely */
.ui-field-contain label {
    white-space: normal;
}

@media all and (min-width: 0em) and (max-width: 75em) {
    #offers .ui-grid-d .offer {
        width: 100%;
    }
}

@media all and (min-width: 30em) {
    #offers .ui-grid-d .offer {
        width: 100%;
    }    
}

@media all and (min-width: 50em) {
    #offers .ui-grid-d .offer{
        width: 48%;
    }
}

@media all and (min-width: 75em) {
    #offers .ui-grid-d .offer{
        width: 22.99%;
    }
}

@media all and (min-width: 30em) and  (max-width: 75em) {

    #offerDetail .ui-grid-a .ui-block-a {
        width: 100%;
    }

    #offerDetail .ui-grid-a .ui-block-b {
        width: 100%;
    }
}

@media all and (min-width: 75em) {
    #offerDetail .ui-grid-a .ui-block-a {
        width: 62.95% !important;
    }

    #offerDetail .ui-grid-a .ui-block-b {
        width: 36.95% !important;
    }
}

/******************
filtrace listu
***************************/
.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}

.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}

.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}

.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*skrytí křížku na zavření dialogu*/
.ui-selectmenu .ui-header {
    display: none;
}
