.simple-accordion > a{padding: 8px; background: #eee;}
.simple-accordion > a.opened{background: #ddd;}
.simple-accordion .accordion-content{background: #eee; padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}