.mobipick-main {
    padding: .5em;
}
.mobipick-date-formatted {
    min-height: 40px;
    /* clock image is 40 px */
    padding: 1em 0 0 40px;
    /* clock image is 40 px */
    background: url(/img/mobile/libs/mobipick/clock.png) 3px no-repeat;
    border-bottom: 1px solid #fff;
    border: none;
}
.mobipick-main ul {
    padding: 0;
    margin-left: 0;
}
.mobipick-main li {
    list-style: none;
}
/* All buttons */

.mobipick-main a {
    display: inline-block;
    width: 100%;
    padding: .5em 0;
    border: 0;
    text-decoration: none;
    text-align: center;
    font: bold 1em Helvetica, Arial, sans-serif;
    zoom: 1;
    *display: inline;
    box-shadow: 0 0 5px rgba(119, 101, 101, 0.66);
    color: #515640 !important;
}
.mobipick-groups>li {
    display: inline-block;
    width: 31.3333333%;
    margin: 0 1%;
    zoom: 1;
    *display: inline;
}
li.mobipick-inline-block {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
li.mobipick-hide {
    display: none;
}
.mobipick-groups a {
    font: bold 1.5em Helvetica, Arial, sans-serif;
}
.mobipick-groups input {
    display: block;
    width: 98%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid #B3B3B3;
    font: bold 1.8em Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    -webkit-border-radius: 0
}
/* set and cancel buttons */

.mobipick-buttons {
    *display: inline;
}
.mobipick-buttons>li {
    display: inline-block;
    width: 48%;
    margin: 0 1%;
    zoom: 1;
    *display: inline;
}