/**
 *	Styly pro veřejnou část, pro koncové zákazníky - customers.
 *	@author Martin Takáč
 */


/**
 *	Barvy
 */
div.error-message {
	color: red;
	}

/**
 *	Velikost a rozmístění.
 */


/**
 *	Fonty, odrážky, zarovnání.
 */
td.datetime.end {
	text-align: right;
	}
