		
	#filedrag
	{
		width: 100%;
		height: 200px;
		font-weight: bold;
		text-align: center;
		padding: 1em 0;
		margin: 1em 0;
		color: #555;
		border: 2px dashed #555;
		border-radius: 7px;
		cursor: default;
		vertical-align: middle;
		padding-top: 83px;
	}

	#filedrag.hover
	{
		color: #f00;
		border-color: #f00;
		border-style: solid;
		box-shadow: inset 0 3px 4px #888;
	}
	
	#upload-form{
		display: inline-block;
		width: 100%
	}