@charset "UTF-8";
/**
 *	Layout
 */
ul.inline-switcher {
  height: 2em; }

ul.inline-switcher li {
  float: left; }

/**
 *	Rozměry
 */
table.params th,
table.params td {
  padding: 5px 10px; }

code {
  display: block;
  padding: 5px 10px;
  white-space: pre; }

/**
 *	Barvy, pozadí.
 */
#content {
  color: #595959;
  /* background-color: white; */
  border-radius: 5px 5px 5px 5px; }

table.params, table.params td, table.params th {
  border: 1px solid #BADFFD;
  color: #595959;
  border-collapse: collapse; }

code {
  background-color: #2A2A2A;
  color: #ABDBDE;
  border-radius: 5px 5px 5px 5px; }

code.xml span.comment {
  color: gray; }

div.sample-block {
  background-color: #EEEEEE; }

/**
 *	Fonty, odrážky, zarovnání.
 */
table.params th,
table.params td {
  text-align: left; }

table tr.grid-sum td {
  font-weight: bold; }

td.valuetype-numeric,
td.valuetype-size {
  text-align: right; }
