.forumtable {
  background: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  clear: both;
  color: #333;
  width: 100%;
  -moz-border-radius: .3em;
  border-collapse: separate; }

.forumtable th {
  background: #f2f2f2;
  border: 1px solid #bbb;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-align: center;
  padding: 5px; }

.forumtable th a {
  color: #333; }

.forumtable td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px; }

.forumtable tr.altRow {
  background: #f4f4f4; }

.forumtable tr.altRow2 {
  background: #fafad8; }

.al {
  text-align: left; }

.ac {
  text-align: center; }

.ar {
  text-align: right; }

.fr {
  float: right; }

.fl {
  float: left; }

.forumpagination {
  padding: 5px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  color: #879fa9; }

.forumpagingList {
  float: right; }

.forumpagingList span {
  margin-left: 5px; }

.forumpagingList span a {
  padding: 1px 5px;
  color: #f9f9d2;
  background: #879fa9;
  -moz-border-radius: .3em; }

.forumpagingList span.current {
  padding: 0px 5px;
  color: #f9f9d2;
  font-weight: bold; }

.forumCrumb {
  padding: 10px 0; }
