@charset "UTF-8";
/* css kod objednávkového formuláře v adminu */
.local-booking-form {
  position: relative; }

.local-booking-form > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.8;
  border: 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold; }

/* vysledek objednavky */
.local-booking-form .booking-result {
  display: none;
  padding: 1em;
  margin-bottom: 10px; }

.local-booking-form .booking-result.error {
  background: #F2DEDE;
  color: #A94442;
  border: 1px solid #EBCCD1; }

.local-booking-form .booking-result.success {
  background: #DFF0D8;
  color: #3C763D;
  border: 1px solid #D6E9C6; }

/* úpravy order formu */
.admin .order-form input[type=text],
.admin .order-form input[type=email] {
  max-width: initial; }

.admin .order-form label {
  margin-bottom: 2px; }

.admin .order-form .form-group {
  margin-bottom: 5px; }

.admin .order-form #text {
  width: 100%; }

/* úpravy occupancy formu */
.admin .occupancy-form {
  margin-bottom: 15px; }

.admin .occupancy-form .row {
  margin-left: 0;
  margin-right: 0; }

.admin .occupancy-form .row .cell {
  min-width: 110px; }

.admin .occupancy-form .row .cell label {
  padding-bottom: 0; }

/* úpravy price listu */
.admin .price-list .section.storno-price .checkbox input {
  margin-left: 0; }
