@charset "UTF-8";
.required label:after {
  color: #CC0000;
  content: ' *';
  display: inline; }

.contentFiles td {
  padding-left: 5px;
  padding-right: 5px; }

.image-gallery {
  font-size: 75%;
  font-style: italic;
  text-align: center; }

.image-gallery table {
  text-align: center; }

.image-gallery td {
  vertical-align: top; }

.trip-detail th {
  background: none; }

.dm-object {
  background-color: #999;
  color: white;
  text-align: center;
  margin: 5px; }

/**** SEARCH DETAIL ****/
.search-result-detail {
  font-size: 11px;
  color: #333333; }

.search-result-detail .col1 {
  width: 400px;
  float: left; }

.search-result-detail .col2 {
  width: 431px;
  float: left;
  margin: 0 10px; }

.search-result-detail .col3 {
  width: 204px;
  float: right;
  text-align: center; }

.search-result-detail-print {
  width: 19cm; }

.search-result-detail .col1-print {
  width: 19cm; }

.search-result-detail .col2-print {
  width: 19cm; }

.search-result-detail .col3-print {
  width: 19cm; }

.search-result-detail .col1-print .details {
  float: left;
  width: 11cm; }

.search-result-detail .col1-print .details table {
  width: 11cm;
  text-align: left; }

.search-result-detail .col1-print .gallery {
  float: right;
  width: 8cm; }

.search-result-detail .col1-print .gallery li {
  list-style: none;
  padding: 0; }

.search-result-detail .col1-print .prices {
  width: 19cm; }

.search-result-detail .col1-print .prices {
  width: 19cm; }

.search-result-detail .col1-print .prices table th {
  width: 8.5cm;
  text-align: left; }

.search-result-detail .col1 .details, .search-result-detail .prices {
  padding: 10px; }

.search-result-detail .col1 .details table {
  width: 100%; }

.search-result-detail .col1 .details table th {
  text-align: left;
  color: #CC0000;
  border-bottom: 1px solid #EEEEEE; }

.search-result-detail .col1 .details table td {
  text-align: right;
  border-bottom: 1px solid #EEEEEE; }

.search-result-detail .col1 .prices table {
  width: 100%;
  margin: 5px 0; }

.search-result-detail .col1 .prices table th {
  text-align: left;
  height: 22px;
  vertical-align: bottom; }

.search-result-detail .col1 .prices table th.availability {
  text-align: right; }

.search-result-detail .col1 .prices table th.availability .hidden {
  display: none; }

.search-result-detail .col1 .prices table td {
  text-align: left;
  border-bottom: 1px solid #EEEEEE; }

.search-result-detail .col1 .prices table td.price-value {
  text-align: right; }

img.img-availability:hover {
  cursor: hand;
  cursor: pointer; }

.booking-offer-detail {
  font-size: 11px;
  color: #333333;
  padding: 15px; }

.booking-offer-detail .col1 {
  width: 100%;
  float: left; }

.booking-offer-detail .col2 {
  width: 34%;
  float: left;
  margin-right: 10px; }

.booking-offer-detail .col3 {
  width: 64%;
  float: left; }

.booking-offer-detail h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: normal;
  font-size: 120%;
  color: #069;
  border: none; }

.booking-offer-detail h4 {
  margin: 0 0 3px 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  color: #069;
  border: none; }

.booking-offer-detail label {
  padding: 0; }

.booking-offer-detail .image {
  margin: 10px 0 10px 10px; }

.booking-offer-detail .details {
  margin-left: 10px;
  margin: 10px; }

.booking-offer-detail .details p {
  padding: 0;
  margin: 0; }

.booking-offer-detail .details h2 {
  padding: 0;
  margin: 0;
  border: none; }

.booking-offer-detail .actions {
  margin: 10px;
  padding: 0;
  font-size: 120%; }

.booking-offer-detail .box {
  padding: 10px;
  margin-top: 10px; }

.booking-offer-detail .message {
  margin-top: 10px; }

.booking-offer-detail .inline-form {
  float: left;
  margin-right: 10px;
  width: 165px; }

/*.booking-offer-detail .inline-form .text input {width: 140px;}*/
/*.booking-offer-detail .inline-form .select, .booking-offer-detail .inline-form .text {height: 40px;}*/
.booking-offer-detail .form {
  margin-top: 5px;
  padding: 5px 10px; }

.booking-offer-detail .form form {
  padding: 0;
  margin: 0; }

.booking-offer-detail .form legend {
  font-size: 120%;
  color: #069; }

.booking-offer-detail .form label {
  font-weight: bold; }

.booking-offer-detail .form .checkbox label {
  font-weight: normal;
  display: inline;
  padding-left: 5px;
  line-height: 20px; }

.booking-offer-detail .form table th, .booking-offer-detail .form table td {
  text-align: left;
  padding-right: 15px; }

.booking-offer-detail .total-price {
  font-size: 140%;
  margin: 10px 0; }

.booking-offer-detail .next-step {
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 30px; }

.booking-offer-detail .booking table {
  width: 100%; }

.booking-offer-detail .booking table th {
  text-align: left;
  vertical-align: top; }

.booking-offer-detail .booking table td {
  text-align: right; }

.booking-offer-detail .services table {
  width: 100%; }

.booking-offer-detail .services table th {
  text-align: left; }

.booking-offer-detail .services table td {
  text-align: right; }

.booking-offer-detail .clients table {
  width: 100%; }

.booking-offer-detail .clients table th {
  text-align: left;
  padding-right: 3px;
  padding-bottom: 10px;
  vertical-align: top; }

.booking-offer-detail .clients table td {
  text-align: left;
  padding-left: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: top;
  border-top: 1px solid #eee; }

.booking-offer-detail .clients table td h4 {
  margin: 0;
  padding: 0;
  border: none;
  color: #333;
  font-weight: normal; }

.booking-offer-detail .client {
  margin-right: 10px;
  width: 100%; }

.booking-offer-detail .client-services {
  margin: 10px 0; }

.booking-offer-detail .client-services table {
  margin-bottom: 0px; }

.booking-offer-detail .client-services table th {
  text-align: right;
  padding-right: 20px; }

.booking-offer-detail .client-services table td {
  text-align: left;
  padding-right: 20px; }

.booking-offer-detail .transports table {
  width: 100%; }

.booking-offer-detail .transports table th {
  text-align: left; }

.booking-offer-detail .transports table td {
  text-align: left; }

.booking-offer-detail .transports table td.right {
  text-align: right; }

.search-result-detail .descriptions table th {
  text-align: left;
  color: #004276; }

.slider ul, .slider li {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none; }

.slider, .slider li {
  width: 204px;
  height: 616px;
  overflow: hidden; }

.slider li img {
  margin: 2px;
  height: 150px;
  width: 200px; }

.gallery span a {
  text-decoration: none;
  font-size: 0.8em; }

.gallery ol {
  margin: 5px; }

.gallery ol li {
  list-style: none;
  display: inline; }

.gallery ol li a {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin: 2px;
  background-color: #CC0000;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  border: 1px solid #CC0000; }

.gallery ol li a:hover {
  background-color: #fff;
  color: #CC0000; }

.labelinline label {
  display: inline; }

.top-action {
  float: right; }

.top-action a, .top-action a:link, .top-action a:visited {
  text-decoration: none;
  padding: 6px;
  color: #333; }

.top-action a:hover {
  text-decoration: underline;
  color: #333; }

#submitGrid {
  padding: 2px 8px;
  font-size: 1.5em;
  font-weight: bold; }

#SearchesIndexForm {
  margin: 0; }

.erased {
  font-size: 2em;
  color: red; }

.hidden {
  display: none; }

.uppercase {
  text-transform: uppercase; }

.medium {
  font-size: 90%; }

.medium input {
  font-size: 90%; }

.medium select {
  font-size: 90%; }

.medium label {
  padding-bottom: 2px; }

.eleven-pix {
  font-size: 11px; }

.eleven-pix input {
  font-size: 11px; }

.eleven-pix select {
  font-size: 11px; }

.eleven-pix label {
  padding-bottom: 2px; }

.eleven-pix h5 {
  color: #000;
  font-size: 12px; }

.map_dialog {
  width: 98%;
  height: 94%;
  border: 1px solid #ccc;
  margin: 10px auto;
  overflow: hidden; }

.top-action-new {
  background-color: yellow !important; }

.original_price {
  text-decoration: line-through; }

.inline-form2 {
  margin-top: 5px; }

.inline-form2 label, .inline-form2 input {
  display: inline;
  margin-right: 5px; }

.inline-form2 div {
  float: left; }

.inline-div div {
  float: left;
  margin-right: 15px; }

.min-width-100 div {
  min-width: 100px;
  _width: 100px; }

.min-width-150 div {
  min-width: 150px;
  _width: 150px; }

.right-align {
  text-align: right !important; }

.left-align {
  text-align: left !important; }

#header #site-name-expecta {
  font: 120% arial;
  font-weight: bold;
  margin: 0 0 0 40px;
  padding: 3px 0;
  color: #ccc;
  border: none; }

#header #login-user-info {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 100px;
  left: auto; }

#poweredby-cesys {
  width: 96px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0; }

#site-name a {
  color: #999999;
  text-decoration: none; }

#site-name a:hover {
  color: #999999; }

#site-name-expecta a {
  color: #999999;
  text-decoration: none; }

#site-name-expecta a:hover {
  color: #999999; }

.cs-contract-detail .table9 td, .cs-contract-detail .table9 th {
  background-color: #fff; }

.cs-contract-detail .table9 thead th {
  background-color: #ddd; }

.big-button input {
  padding: 2px 8px;
  font-size: 14px !important;
  font-weight: bold; }

.tip_item {
  border: 1px solid #D6D6D6;
  margin-bottom: 5px;
  padding: 5px; }

.tip_name {
  font-weight: bold;
  font-size: 120%;
  padding-top: 5px; }

.tip_info {
  min-height: 50px; }

.tip_info img {
  float: left;
  border: 2px solid #CCCCCC;
  margin-right: 9px; }

.tip_url {
  text-align: right; }

.tip_description {
  margin: 0px; }

.dashboard-link-small {
  font-size: small;
  letter-spacing: 0;
  font-weight: normal; }

.updates-debate-link {
  text-align: right; }

#multi-depa-addItem div {
  float: left; }

.departures-button {
  margin-top: 26px; }

.templates .input, .form-input-left {
  float: left;
  margin: 2px; }

.templates .inputr, .form-input-right {
  float: right;
  margin: 2px; }

.allowEmpty, .required {
  min-width: 78px; }

.delete {
  min-width: 15px; }

.form-required {
  color: red; }

.form-after-text {
  margin-left: 5px;
  font-size: 12px;
  font-style: italic;
  color: #999999; }

#SearchPdfForm .checkbox {
  clear: both; }

#SearchPdfForm .checkbox input {
  float: left;
  margin: 9px; }

#SearchPdfForm .submit input {
  float: left;
  width: 150px;
  height: 30px;
  clear: both; }

#SearchPdfFormMulti .checkbox {
  clear: both; }

#SearchPdfFormMulti .checkbox input {
  float: left;
  margin: 9px; }

#SearchPdfFormMulti .submit input {
  float: left;
  width: 150px;
  height: 30px;
  clear: both; }

.default-content-slider ul {
  list-style: none; }

.default-content-slider ul li {
  padding: 0px;
  margin: 0px;
  background: transparent; }

.default-content-slider p {
  color: #000; }

/* BARVY U TEMPLATŮ PRO EMAILY*/
.newsletterTemplates-colors,
.newsletter-colors {
  width: 600px;
  margin-bottom: 10px; }

.newsletterTemplates-colors-item,
.newsletter-colors-item {
  float: left;
  width: 300px; }

.newsletters .colors-extension,
.emailTemplates .colors-extension,
.newsletterTemplates .colors-extension {
  font-size: 14px;
  margin: 10px 0px;
  background-color: yellow;
  width: auto;
  color: red;
  float: left; }

.newsletters .colors-extension,
.emailTemplates .colors-extension,
.newsletterTemplates .colors-extension a {
  color: red; }

/*FILTR EVIDENCE SMLUV*/
.CsContract-filter td input,
.CsContract-filter td select {
  width: 80%; }

.CsContract-filter td {
  width: 150px; }

.CsContract-filter .submit {
  margin-top: 10px; }

.place-holders-table {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 140px;
  border-collapse: collapse;
  width: 600px; }

.place-holders-table th {
  text-align: left;
  padding: 0px 5px; }

.place-holders-table td {
  padding: 0px 5px;
  border-bottom: 1px solid gray; }

.optimalization-preview {
  margin-left: 150px;
  margin-bottom: 20px;
  font-style: italic;
  padding-top: 0px;
  margin-top: 0px; }

#OptimalizationEditForm .submit input {
  margin-left: 143px; }

#OptimalizationEditForm label {
  padding-bottom: 3px; }

/* sablony top-nabídek */
.template-toogle {
  margin: 10px 0px; }

.template-button {
  border: 1px dashed #000;
  background: #ddd;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  float: left; }

#template-master-html,
#template-slave-html {
  height: 100px;
  background: lightcoral; }

#template-inner-html-master,
#template-inner-html-slave {
  background: lightsteelblue; }

#template-advanced .input {
  margin: -8px 0px 20px; }

.white,
a:link.white,
a:visited.white {
  color: white; }

a:hover.white {
  color: lightgrey;
  text-decoration: none; }

td.placeholder {
  font-weight: bold; }

td.caption {
  text-align: center; }

.table1 thead.template td {
  font-weight: bold; }

#template-help {
  min-width: 500px;
  min-height: 50px; }

.loading {
  background: url("/img/tooltip/loader.gif") center center no-repeat; }

#add-dynamic-form div.nextLine {
  border-bottom: 2px solid gray; }

#add-dynamic-form td {
  vertical-align: top; }

#add-dynamic-form th {
  padding: 0 5px; }

#add-dynamic-form .select {
  width: 120px; }

#add-dynamic-form .center {
  text-align: center; }

#dynamic-form-style {
  border: 1px solid gray;
  padding: 20px;
  width: 80%; }

.settings .CodeMirror {
  float: left;
  width: 900px; }

.settings .CodeMirror-scroll {
  min-height: 250px;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto; }

.settings .CodeMirror-fullscreen {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0; }

.settings .CodeMirror-fullscreen .CodeMirror-scroll {
  overflow-y: scroll; }

#full-screen-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #060000;
  opacity: 0.5;
  display: block;
  background-image: url("/img/tooltip/loader.gif");
  background-position: center center;
  background-repeat: no-repeat; }

#calendar {
  width: 940px;
  /*    margin: 0 auto;*/
  float: right; }

#calendar_help {
  float: left;
  /* width: 140px; */
  /* sirka kalendare neni potreba */
  padding: 0 5px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
  margin-left: -10px; }

.calendar-hidden {
  text-decoration: line-through !important; }

.calendar-square {
  border-color: #9fc6e7;
  background-position: initial initial;
  background-repeat: initial initial;
  display: inline-block;
  position: relative;
  height: 11px;
  width: 11px; }

.calendar-square-blue {
  background-color: blue; }

.calendar-square-aqua {
  background-color: aqua; }

.calendar-square-black {
  background-color: black; }

.calendar-square-fuchsia {
  background-color: fuchsia; }

.calendar-square-gray {
  background-color: gray; }

.calendar-square-green {
  background-color: green; }

.calendar-square-lime {
  background-color: lime; }

.calendar-square-maroon {
  background-color: maroon; }

.calendar-square-navy {
  background-color: navy; }

.calendar-square-olive {
  background-color: olive; }

.calendar-square-purple {
  background-color: purple; }

.calendar-square-red {
  background-color: red; }

.calendar-square-silver {
  background-color: silver; }

.calendar-square-teal {
  background-color: teal; }

.calendar-square-white {
  background-color: white; }

.calendar-square-yellow {
  background-color: yellow; }

#calendar-loading {
  display: none;
  left: 50%;
  margin-left: 50px;
  position: absolute;
  top: 50%;
  z-index: 1001; }

#miraform label {
  display: inline-block;
  width: 100px; }

#miraform input, #miraform select {
  border: 1px solid #BBBBBB; }

/* finance */
.pad5 {
  padding: 5px; }

.tableInvoice {
  width: 100%;
  max-width: 950px;
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #000000 -moz-use-text-color #000000 #000000;
  border-style: solid none none solid;
  border-width: 1px 0px 0px 1px; }

.tableInvoice tr td {
  border-color: #000000 -moz-use-text-color #000000 #000000;
  border-style: none solid solid none;
  border-width: 0px 1px 1px 0px;
  text-align: left; }

.tableInvisible {
  padding: 0;
  border: 0; }

.tableInvisible tr td {
  padding: 0;
  border: 0; }

#vatTable tr td, #vatTable tr th {
  border-color: #000000 -moz-use-text-color #000000 #000000;
  border-style: none solid solid none;
  border-width: 0px 1px 0px 0px;
  padding: 0px 5px 0px 5px; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

/* kalendar dialogy formulare */
#add-calendar-event-form input, #add-calendar-event-form select, #viewedit-calendar-event-form input, #viewedit-calendar-event-form select {
  border: 1px solid #CCCCCC; }

.unavailable-line-through {
  text-decoration: line-through; }

.history-highlighted {
  background-color: lightsteelblue;
  margin: 80px 0px;
  padding: 10px 15px; }

/* --- Šablony států ---*/
#available-elements,
#result-state {
  float: left;
  margin: 5px;
  border: 1px solid lightgrey;
  height: 990px;
  text-align: center; }

#available-elements {
  width: 420px; }

#result-state {
  width: 300px; }

#local-country-templates {
  margin: 0 auto;
  width: 740px; }

#local-country-templates .sortable-column {
  height: 940px; }

#result-state .sortable-column {
  width: 300px; }

#available-elements .sortable-column {
  width: 420px; }

#available-elements > h3 {
  background-color: lightgray;
  margin-top: 1px; }

#result-state > h3 {
  background: url("/img/mollio/sprites.gif") repeat-x scroll 0 -1400px #88B8DB;
  color: white;
  margin-top: 1px; }

#local-country-templates .local-country-element {
  border: 1px solid black;
  height: 80px;
  border-radius: 5px;
  margin: 3px auto;
  line-height: 15px;
  background-color: white;
  cursor: move;
  float: left; }

#result-state .local-country-element {
  border-color: black;
  /*background-color: lightsteelblue; */
  width: 250px;
  margin-left: 25px;
  height: 70px; }

#available-elements .local-country-element {
  border-color: lightgray;
  width: 190px;
  margin-left: 10px; }

#result-state .local-country-element h3 {
  color: white;
  background: url("/img/mollio/sprites.gif") repeat-x scroll 0 -1400px #88B8DB; }

.local-country-element h3 {
  width: auto;
  margin: 2px 2px;
  padding: 3px;
  border: 1px solid inherit;
  background-color: lightgrey;
  border-radius: 5px;
  font-size: 100%;
  color: black; }

.local-country-element .description {
  padding: 5px; }

#local-country-templates .ui-sortable-placeholder {
  border: 1px dotted black;
  visibility: visible !important;
  height: 70px !important; }

#local-country-templates input[type="submit"] {
  display: block;
  height: 30px;
  margin-left: 30px;
  margin-top: 30px;
  width: 80px;
  clear: both; }

#nav {
  margin-right: 40px; }

.disbursed-container {
  position: relative; }

.disbursed-datepicker {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100; }

/* ------------------------------*/
/* --- Redesign správy obsahu ---*/
/* ------------------------------*/
/* typo */
#contentWrapper a:visited {
  /*color: #888;*/ }

/* kontejnery */
#contentWrapper {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #ddd; }

#contentWrapper .heading {
  overflow: hidden; }

#contentWrapper .inner {
  margin: 0 4px;
  min-height: 130px; }

#contentWrapper table {
  width: 100%;
  table-layout: fixed; }

#contentWrapper table td {
  vertical-align: top; }

#contentWrapper .leftSlave,
#contentWrapper .rightSlave,
#contentWrapper .floatBox {
  width: 20%; }

#contentWrapper .contTitle {
  font-size: 18px;
  color: #000;
  padding: 5px 15px 5px;
  font-weight: bold; }

/* obsahove boxy */
#contentWrapper .panel-body {
  padding: 10px; }

#contentWrapper .box ul {
  list-style-type: none;
  margin: 2px 0 0;
  padding: 0; }

#contentWrapper .box ul li {
  margin: 0;
  padding: 2px 0px;
  background: none; }

/* ovladaci ikony */
.box .boxControlPanel a {
  margin-bottom: 3px;
  width: 75px;
  opacity: 0.15;
  transition: all 0.8s ease; }

.box:hover a {
  opacity: 1; }

/* Obsazený termín bude přeškrtnutý */
tr.occupied td {
  text-decoration: line-through; }

/* oznaceni nove fce */
.new-feature,
.new-feature-next-div > div {
  background-color: yellow; }

.rating-logo {
  height: 16px; }

.opener-tripadvisor {
  width: 100px;
  white-space: normal; }

.rating-table {
  text-align: center;
  width: 100%; }

.rating-table th {
  padding: 5px 8px;
  text-align: center; }

.rating-table td {
  width: 25%; }

.rating-row td {
  font-size: 16px;
  font-weight: bold; }

.rating-panel .panel-body {
  padding: 15px 0px; }

.note-th {
  width: 350px; }

.vocatives-set {
  text-align: center;
  font-size: 14px;
  margin-top: 50px; }

.vocatives-set a {
  margin-top: 10px; }

.panel-body.rating-body {
  padding: 0; }

.rating-body .no-padding {
  padding: 0; }

.cesys-rating img {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  height: auto;
  width: 80px; }

.cesys-rating strong {
  font-size: 3rem;
  margin-top: 2rem; }

.other-rating {
  text-align: left;
  padding-bottom: 10px;
  font-size: 1.4rem; }

.other-rating.value {
  font-size: 1.6rem;
  text-align: right; }

.other-rating.value .glyphicon {
  display: inherit; }

.other-rating.value a {
  font-size: 2rem; }

.other-rating.value a:hover {
  text-decoration: none; }

.rating-logo.hldc {
  height: 21px; }

.clear {
  clear: both; }

th a[href*="direction"] .glyphicon {
  display: inline;
  font-size: 10px;
  color: gray; }

.toast-top-center {
  top: 150px !important; }
