.simple-accordion > a {
  padding: 8px;
  background: #eee; }

.simple-accordion > a.opened {
  background: #ddd; }

.simple-accordion .accordion-content {
  background: #eee;
  padding: 10px;
  box-sizing: border-box; }
