/* - - - - - - CSS Document - - - - - - - - -

Title : Global style sheet for client-side web development
Author : Cody Lindley 

- - - - - - - - - - - - - - - - - - - - - */
/* ---------->>> jtip <<<---------------------------------------------------------------*/
#JT_arrow_left {
  background-image: url(../img/tooltip/arrow_left.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: 101;
  left: -12px;
  height: 23px;
  width: 10px;
  top: -3px; }

#JT_arrow_right {
  background-image: url(../img/tooltip/arrow_right.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: 101;
  height: 23px;
  width: 11px;
  top: -2px; }

#JT {
  position: absolute;
  z-index: 100;
  border: 2px solid #CCCCCC;
  background-color: #fff;
  box-sizing: content-box; }

#JT_copy {
  padding: 10px 10px 10px 10px;
  color: #333333; }

.JT_loader {
  background-image: url(../img/tooltip/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 12px; }

#JT_close_left {
  background-color: #CCCCCC;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-weight: bold; }

#JT_close_right {
  background-color: #CCCCCC;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-weight: bold; }

#JT_copy p {
  margin: 3px 0; }

#JT_copy img {
  padding: 1px;
  border: 1px solid #CCCCCC; }

.jTip {
  cursor: help;
  color: inherit !important;
  padding: 0px 5px; }

.jTip:hover {
  text-decoration: none; }
