// Vlastní styly pro AngularJS a pomcí něho udělaných
//--------------------------------
.ng-hide{
	display:block!important;
	position:absolute;
	top: -9999px;
	left: -9999px;
}

// Magický vyhledávač
//--------------------------------
#magic-form{
	position:absolute;
	left: 40%;
	top: 70px;
	width:400px;
}

#magic-search-loader{
	background-image : url('/img/loader/calendar.gif');
	width: 128px;
	height: 128px;
	margin: 0px auto;
}

.loader-gif{
	background-image : url('/img/slider/loading.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 28px;
	margin : auto;
}