/* wrapper */
div#axelerator-box {
	padding: 0px;
	margin: 0px;

	.clipboard-add-selected{
		padding: 0px 0px 10px 10px;
		display: inline-block;
	}
}

/*
* {
	box-sizing: border-box;
}
.container {
	min-width: 956px;
	max-width: 1213px;
	margin: 0 auto;

	font-family: Arial,sans-serif;
	font-size: 12px;
}
*/

table#axelerator16 {
	th {
		width: 20%;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
	.clearfix:before, .clearfix:after {
		content: "";
		display: table;
		clear: both;
		overflow: hidden;
	}
	/* pokud je text delší než box, ve kterém je, tak ořízne text a přidá "..." na konec */
	.toel {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.locket {
		padding: 3px;
	
		.image{
			position: relative;
			overflow: hidden;
		
			.thumb {
				position: relative;
				overflow: hidden;
			}
			.thumb:before {
				display: block;
				content: "";
				width: 100%;
				padding-top: 75%;
			}
			.img{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				min-width: 100%;
				min-height: 100%;
			}
			.info {
				position: absolute;
				bottom: -150px;
				width: 100%;
				padding: 5px;

				background: #333;
				background: rgba(0,0,0,.85);

				color: #ffffff;
				text-align: center;
				line-height: 18px;
				
				.country{
					font-size: 14px;
				}
			}
		}
		.primary {
			padding: 5px;

			background: #4676cc;

			color: #ffffff;
			font-size: 14px;
		}
		.secondary {
			padding: 5px;
		}
		.content {
			border-bottom: 2px solid #4676cc;
		}
	}
	.locket:hover .image .info {
		bottom: 0;
	}

}
/*#tabs {
	position: relative;
}*/
div#axelerator-box a.clipboard-add-selected-axelerator {
	position: absolute;
	top: 11px;
	right: 12px;
	color: white;
	&:hover {
		color: white;
	}
}
/*a.clipboard-add-selected-axelerator:hover {
	color: white;
}*/




/* tabulka s termíny */
table#axelerator{
	th {
		width: 25%;
	}

	/* jeden zájezd */
	div.locket {
		padding: 3px;	
		position: relative;
		height: 180px;

		/* vložení do schránky */
		> a{
			position: absolute;
			padding:5px;
			bottom: 20px;
			right: 5px;
		}
	}

	/* nadpis boxu */
	h3 {
		padding: 3px 4px;
		height: 3em;
		margin: 0;
		overflow: hidden;
		border: 1px solid #D8DCDF;
		background: #EEE url(/img/ui_admin/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x;
		font-size: 12px;
		font-weight: bold;
		line-height: 1.2;

		span {
			float: left;
			padding: 0 2px;
		}
		span.accommodation {
			float: left;
			clear: left;
			font-weight: normal;
		}

		img{
			float: right;
			display: block;
			margin: 4px;
		}

		span.country::after {
			color: #595959;
			content: ' I';
			display: inline;
		}
	}

	/* obrázek */
	div.image {
		margin: 3px 3px 0 0;
		float: left;

		img {
			width: 150px;
			height: 113px;
		}
	}

	/* infobox */
	div.info {
		float: left;
		width: 110px;
		margin: 3px 0 0 3px;
		padding: 0;
		font-size: 11px;

		div.price {
			color: red;
			font-size: 15px;
			font-weight: bold;
		}

		strong {
			font-weight: normal;
		}
	}
}


/* tabulka zaplacených období */
table.table-of-epoch{
	td div {
		margin: 0;
		padding: 2px 4px;
		height: 3em;
	}
	td div.owner {
		background-color: #98fb98;
	}
	td div.foreign {
		background-color: #dc143c;
		color: yellow;
	}
	tr.now {
		border: 3px solid blue;
	}
}

/* zvýraznění termínů v seznamu aktivních termínů */
.axeleratorTerms{
	#sortable tr.now td {
		background-color: #ffe4c4;
	}
	#sortable tr.term-erased td {
		text-decoration: line-through;
	}
}

