// Buttons
//--------------------------------------

#powerId .btn-grey,
#powerId .btn-gray{
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}
#powerId .btn-blue {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}
// Warning appears as orange
#powerId .btn-orange {
  .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
#powerId .btn-red {
  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}
// Success appears as green
#powerId .btn-green {
  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
#powerId .btn-light-blue {
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
}

.btn.size-large{
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}
.btn.size-default{
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
}
.btn.size-small,
.btn.size-extra-small{
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.btn.size-extra-small {
  padding: 1px 5px;
}