
.topFix{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .box-shadow( 0 0 3px rgba(0,0,0,.3));
}

.navbar-brand{
    color: lighten(@navbar-link, 5%);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
    text-shadow:1px 1px 0px darken(@navbar-bg, 10%);
    font-size: 15px;

    &:hover,
    &:focus{
        color: @navbar-link-hover;
    }
}


//dashboard 
.dashboard-heading{
  font-size:15px;
  margin:10px 0px 5px;
}

//notification animation
.notification-anim-frames () {
    0%  {left:0px; top:0px;}
    1%  {left:0px; top:-2px;}
    2%  {left:0px; top:2px;}
    3%  {left:0px; top:-2px;}
    4%  {left:0px; top:2px;}
    5%  {left:0px; top:-2px;}
    6%  {left:0px; top:2px;}
    7%  {left:0px; top:0px;}
    100% {left:0px; top:0px;}
}
@-webkit-keyframes notification-animation {.notification-anim-frames;}
@-moz-keyframes notification-animation {.notification-anim-frames;}
@-ms-keyframes notification-animation {.notification-anim-frames;}
@-o-keyframes notification-animation {.notification-anim-frames;}
@keyframes notification-animation {.notification-anim-frames;}

/* hlavni cervena lista */
.main-navbar{
    background: @navbar-bg;
    min-height:0;
    margin:0;
    width:100%;
    z-index: 1000;
    border-radius: 0;
    border:0;

    .navbar-brand{
        font-size: 20px;
    }
    //hlavni menu 
    .nav{  
        clear: none;
        float: left;
        margin: 0;

        > li {
            > .main-navbar-link
            {
                text-align: center;
                color:@navbar-link;
                padding-left:45px;
                padding-right: 45px;
                background: @navbar-bg;
                text-shadow:1px 1px 0px darken(@navbar-bg, 10%);
                display: block;
                padding-bottom: 11px;
                padding-top: 11px;
                line-height: 18px;

                &:hover{
                    color:#fff;
                    background: darken(@navbar-bg, 10%);
                    text-shadow:1px 1px 0px darken(@navbar-bg, 20%);
                    cursor: pointer;
                }
            }

            &.active > .main-navbar-link{
                color:#fff;
                background: darken(@navbar-bg, 5%);
                text-shadow:1px 1px 0px darken(@navbar-bg, 10%);
                .box-shadow( inset 0 0 10px rgba(0,0,0,.1));
            }

            &.disabled  > .main-navbar-link{
                color: @navbar-link-disabled;
                text-shadow:0 0 0;

                &:hover{
                    cursor: not-allowed;
                }
            }
        }
      
        .glyphicon{
            font-size: 20px;
            display: block;  
            padding-bottom: 5px;
        }
    }

    &.collapsed{
        .nav{
            .glyphicon{
                display: inline;
                font-size: inherit;
            }
            > li > .main-navbar-link,
            > li.active > .main-navbar-link{
            
            }
        }
        .navbar-brand{
            display: none;
        }
        .login-panel{
            display: none;
        }
    }


    /* levý kontrolní panel - odkaz domu, oblibene.. */
    .left-panel{
        min-width: 70px;
    }
    .left-control-panel{
        padding:10px 10px 7px 0;
        clear: both;

        ul{
            margin: 0;
            padding: 0;
        }

        li {
            float: left;
            list-style: none;

            > a{
                color: @navbar-link;
                padding: 0px 5px;
                height:18px;
                line-height:18px;
                display: inline-block;

                &:hover{
                    color: @navbar-link-hover;
                    text-decoration: none;
                }
            }

            &.active{
                > a{
                    color: @navbar-link-hover;
                }
            }
        }

        .badge{
            background: @navbar-link;
            color: @navbar-bg;
            position: relative;
            display: inline-block;
            &:hover{
                background: @navbar-link-hover;
            }
            &.notification{
                -webkit-animation: notification-animation 3s linear 0s infinite; 
                -moz-animation: notification-animation 3s linear 0s infinite;
                -ms-animation: notification-animation 3s linear 0s infinite;;
                -o-animation: notification-animation 3s linear 0s infinite;
                animation: notification-animation 3s linear 0s infinite; 
            }
        }
    }

    /* pravý kontrolní panel - login, odhlášení, hledání v adminu.. */
    .right-panel {
        margin-right: @grid-gutter-width / 2;
        
        .login-panel{
            color: #fff;
            text-shadow:1px 1px 0px darken(@navbar-bg, 10%);
            margin-left: 0;
            padding:7px 0 0;

            a{
                color: @navbar-link;
                &:hover{
                    color: @navbar-link-hover;
                    text-decoration: none;
                }
            }
            .glyphicon{
                top:2px;
            }
        }

        .magic-search{
            margin-top:6px;

            input{
                height:25px;
                line-height: 15px;
                padding: 5px 7px;
                border-color: darken(@navbar-bg,7%);

                &:focus{
                    border-color: darken(@navbar-bg,15%);
                }
            }
        }
    }
}

/* Menu druhé úrovně */
.sub-navbar{
    background: #fff;
    margin-bottom: 0; 
    border-bottom: 1px solid #ccc;

    .main-level{
        margin:0;
        padding:0; 
        width: 100%;
    }

    .main-level > li{
        float:left;
        list-style: none;
        text-align: center;
        border-right: 1px solid darken(@subnav-bg, 10%);  

        > .submenu-link,
        > .dropdown > .submenu-link{
            text-decoration: none;
            padding:11px 18px;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            color: @subnav-link;
        }
        &:hover{
            > .submenu-link,
            > .dropdown > .submenu-link{
                color: @subnav-link;
                background: darken(@subnav-bg, 6%);
            }
            .dropdown-menu{
                display: block;
            }
        }
        &.active{
            > .submenu-link,
            > .dropdown > .submenu-link{
                background: darken(@subnav-bg, 3%);
                .box-shadow(inset 0 0 10px rgba(0,0,0,.1));
            }
        }

        &.plain-text-item{
            padding:11px 18px;
            display: inline-block;
            border:0;
            &:first-child{
                border:0;
            }
        }

        &:first-child{
            border-left: 1px solid darken(@subnav-bg, 10%);  
        }
    }
    .dropdown-menu{
        margin-top:0;
        margin-left:-1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: left;
    }

    .caret{
        border-color:@subnav-link rgba(0,0,0,0);
    }
}

.main-content{
    margin-top: 15px; 
	padding-top:107px; /* defautni padding dle vysky menu - jinak uprava pomoci JS (cesys.menu.js)*/
    padding-bottom: 70px;
}

/* odsazení actions */
div.actions,
.paging{
  margin-bottom: 15px;
}

/* odsazeni tlacitek zasktnout vse/odskrtnout vse */
.listCheckboxsSelector{
    margin-bottom: 5px;
}
/* nadpis ve well bloku - formulare */
.well h3{
	margin-top: 0;
}
.form-group .form-group{
    margin-bottom:0;
}


/* filtr toggler */
.toggler h3{
  background: #E8E8E8;
  padding: 5px 8px;
  margin-bottom: 0;
}
form.toggle-content{
    margin-top: 10px;
}

/* filtr v extra tabulce */
.filter-header-table{
    margin-bottom:0 !important;
    border-bottom:0 !important;

    tr, th{
        border-bottom:0 !important;
    }
}
.fixed-layout{
    table-layout:fixed;
}

/* odsazení řádků inputů a tlačítek */
.filter-row{
    padding-bottom: 5px;
}
.button-row{
    padding-bottom:3px;
}

/* formuláře */
form h3{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

/* filtrovaci kriteria */
.offer-conditions-table{
    border:2px solid #ccc;
    font-size:12px;
    table-layout: fixed;

    td, th{
        border:1px solid #e5e5e5;
        vertical-align: top !important;
        overflow:hidden;
    }
    .strong-border, th{
        border-bottom: 2px solid #ccc;
    }
    td .form-group{
        margin-bottom: 5px;
    }
    form{
        margin-bottom: 3px;
    }
    .altrow{
        td, th{
            background: #f1f1f1;
        }
    }
    th.actions,
    td.actions{
        overflow: visible;
        white-space: normal;
        .btn{
            white-space: normal;
        }
    }
}


/* prizpusobeni error trid cakephp pro bootstrap */
.has-warning {
   .error-message {
    color: @state-warning-text;
  }
}
.has-error {
  .error-message{
    color: @state-danger-text;
  }
}
.has-success {
  .error-message{
    color: @state-success-text;
  }
}
.error-message {
  display: block; 
  margin-top: 5px;
  margin-bottom: 10px;
}
.form-inline .error-message {
  display: inline; // account for any element using help-block
}

.main-login{
    margin-top: 15%;

    .panel{
        .transition(all .5s linear);
        border: 0;
        .box-shadow( 0 3px 15px rgba(0,0,0,.35));
        
        &:hover{
            .box-shadow( 0 3px 25px rgba(0,0,0,.5));
        }
        .panel-title{
            font-size:150%;
        }
        .panel-body{
            padding-bottom:0;
        }
    }    
}

/* footer - www.cssstickyfooter.com */
html,
body{
    height: 100%;
}
.wrap-for-sticky-footer{
    min-height: 100%;
    background: url('/img/admin/noise.png') 0 0; 
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3); 

    .login-layout &{
        background: url('/img/admin/login-bg-pier18.jpg') center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.wrap-for-sticky-footer-main{
    padding-bottom: 40px;
    overflow: auto; 
}
footer{
    clear:both;
    position: relative;
    background: @navbar-bg;
    .box-shadow( 0 0 3px rgba(0,0,0,.3));
    color: @navbar-link;
    padding: 5px 0px;
    margin-top: -30px;
    height: 30px;

    a{ 
        color: @navbar-link;
        &:hover{
            color: @navbar-link-hover;
        }
    }
}

/* paging */
.limitSelector{
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: middle;
}

.btn.number.disabled{  /* aktualni stranka */
    background: #eee;
}

/* tlačítkové odkazy uvnitř jednotlivých sekcí - link do manuálu, přidání do oblíbených apod */
.content-actions-link{
    padding:0;
    text-align: center;
    height:34px;
    width:34px;
    float: right;
    margin: 3px;
    line-height: 34px;
    vertical-align: middle;
    font-size: 17px; /* font size pro glyphicon */
}
.manual-link{
    font-weight: bold;
    font-size: 20px; /* ikona znakovym otaznikem */
}

/* tridy pro rozmery */
.heightClass (@index) when (@index > 0) {
    .h@{index}{ 
        height: @index*1px; //fix mezery pred jednotkou
    }
    .heightClass(@index - 10); 
}
.widthClass (@index) when (@index > 0) {
   .w@{index}{ 
        width: @index*1px; //fix mezery pred jednotkou
    }
    .widthClass(@index - 10); 
}
.widthPercentClassFirst (@index) when (@index > 50) {
    .wp@{index}{
        width: @index*1%; //fix mezery pred jednotkou
    }
    .widthPercentClassFirst(@index - 5);
}
.widthPercentClassSecond (@index) when (@index > 0) {
    .wp@{index}{
        width: @index*1%; //fix mezery pred jednotkou
    }
    .widthPercentClassSecond(@index - 5);
}

.widthMinClass (@index) when (@index > 0) {
    .wm@{index}{
        min-width: @index*1px; //fix mezery pred jednotkou
    }
    .widthMinClass(@index - 10);
}

#powerId{
    .widthClass (600);
    .heightClass (500);
    .widthMinClass (500);
    .widthPercentClassFirst (100);
    .widthPercentClassSecond (50); /* max recursion level fix..? - najednou nefunguje */
    .wa{
        width: auto !important;
    }
}

/**
 *  Označení pro interní záležiotsti které by se neměli zveřejnovat.
 */
.internal {
    background-color: #c5dbc5 !important ;
}

/**
 * Obarvení icon do clink helperu
 */
.ok-green{
    color: green;
}

.remove-red{
    color: red;
}

