//Forms
//-----------------------
.chb-group input{
  box-shadow:none;
  width:auto;
}
input[type=text].form-control.size-large,
input[type=email].form-control.size-large,
input[type=password].form-control.size-large{
  height: @input-height-large;
  padding: @padding-large-vertical @padding-large-horizontal;
  font-size: @font-size-large;
  line-height: @line-height-large;
  border-radius: @border-radius-large;
}
input[type=text].form-control.size-default,
input[type=email].form-control.size-default,
input[type=password].form-control.size-default{
  height: @input-height-base; 
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  border-radius: @input-border-radius;
}
input[type=text].form-control.size-small,
input[type=email].form-control.size-small,
input[type=password].form-control.size-small{
  height: @input-height-small;
  padding: @padding-small-vertical + 1 @padding-small-horizontal;
  font-size: @font-size-small;
  line-height: @line-height-small;
  border-radius: @border-radius-small;
}

input[type=radio].form-control {
  width: auto;
  display: inline;
  margin: auto;
  height: auto;
}

select.form-control {
  &.size-large{
    height: @input-height-large;
    line-height: @input-height-large;
    font-size: @font-size-large;
  padding: @padding-large-vertical @padding-large-horizontal;
  border-radius: @border-radius-large;
  }
  &.size-default {
    height: @input-height-base;
    line-height: @input-height-base;
      font-size: @font-size-base;
  padding: @padding-base-vertical @padding-base-horizontal;
  }
  &.size-small {
    height: @input-height-small;
    line-height: @input-height-small;
      font-size: @font-size-small;
      padding: @padding-small-vertical + 1 @padding-small-horizontal;
      border-radius: @border-radius-small;
  }
}

// Reset rounded corners
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  .border-right-radius(0) !important;
}
.input-group-addon:first-child {
  border-right: 0 !important;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  .border-left-radius(0) !important;
}
.input-group-addon:last-child {
  border-left: 0 !important;
}

.help-block {
  margin-bottom: 0;
}
.form-inline {
  .form-group{
    padding-left:10px;
    margin-bottom:0;
  }

  label:first-of-type,
  .form-group:first-of-type{
    padding-left:0;
    vertical-align:middle;
  }
  label{
    margin-bottom:0;
    padding-left:10px;
    padding-right: 4px;
  }

  .help-text{
    padding-left:5px;
  }

  input[type="radio"], input[type="checkbox"]{
    margin-top:1px;
  }
  .form-control{
    width:auto;
  }
}

.filter-table {
  .form-group{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .form-control{
    width: 100%;
  }
}

//checkboxy
.form-horizontal {
  .chb-group {
    .make-row();
  
    input{
      float:left;
      margin-right: 3px;
    }
  	.help-block{
  		margin-top: 2px;
  	}
    > div{
        padding-top: 5px;

        .jTip{
          padding-top: 7px;
          padding-left: 10px;
        }
    }
  }
}
.form-inline{
   .jTip{
          padding-left: 5px;
          padding-right: 5px;
    } 
}

table .form-group,
table .chb-group{
  margin: 0;
}

input[type=checkbox].form-control{
  width:auto;
  height:auto;
  border:0;
}

/* condensed formulář */
.form-condensed{
  hr{
    margin-top:10px;
    margin-bottom: 10px;
  }
  .form-group{
    margin-bottom: 6px;
  }

  label{
    margin-bottom: 1px;
  }
}
