
.panel dl{
  margin-bottom:0; //zruseni odsazeni v panelu - odsazeno jiz paddingem panelu
}
.dl-horizontal dd:after{
  padding-bottom:10px;  //odsazeni radku
}
.dl-horizontal dt{
  white-space: normal; //zruseni zalamovani
}
.dl-horizontal dd:empty:before{
  content:"--";  //prazdna hodnota je proskrtla
}
.dl-horizontal pre{
	margin-bottom:0;
}

