@media print {

	/* skyrytí celé top listy a paticky */
	.topFix,
	footer
	{
		display: none;
	}

	/* Zruseni top paddingu obsahu */
	.main-content
	{
		padding-top: 0px !important;
	}

	/* skryti filtru */
	table th 
	{
		.form-group,
		.form-control,
		.btn{
			display:none !important;
		}
	}

	/* zruseni vypisu odkazu u internich odkazu */
	table th a:after,
	.btn:after,
	.paging a:after,
	a[href^="/admin"]:after
	{
		display:none;
	}

	/* Skryti odkazu na manual */
	.manual-link
	{
		display:none !important;
	}

	/* vyhledavac */
	table#axelerator h3{
		height: auto;
	}
	.searchmask{
		min-width: 0;

		.actionButton{
			display: none;
		}
	}


	.btn{
		border-color:#000 !important;
	}

}
