
/* ------------------------------*/
/* ----- Responsive behavior ----*/
/* ------------------------------*/

/* extra styly jen pro dotykové zařízení - nezávisle na rozlišení */
#powerId.touch-device{
    .sub-navbar{
        .main-level > li {
            float: left;          
            margin: 4px 3px;
            border:1px solid #eee;
  
            > .submenu-link{
                padding:12px;
            }

             > .dropdown > .submenu-link{
                /* sipka pod odkaz - musime uvolnit misto zmensenim horniho a spodniho paddingu */
                padding:9px 12px 11px;

                .caret{
                    display: block;
                    margin: 0 auto;
                }
            }
            .dropdown-menu li a{
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
}

/* styly na základě změny rozlišení */
/* stredni velikost - max 768 */
@media (max-width: @screen-xs-max) { 
    /* zmenseni odsazeni prihlasovaciho formulare */
    .main-login{
        margin-top: 5%;
    }
    .topFix{
        position: static !important;
    }
    .main-content{
        padding-top:0 !important; 
    }
    .main-navbar{
        .navbar-brand{
            display: none;
        }
        .left-panel{
            min-width: 0;
        }
        .nav{
            .glyphicon{
                display: none;
            }
            > li{
                float: left;
                margin: 3px;
                border: 1px solid darken(@navbar-bg, 10%);
                
                > .main-navbar-link{
                    padding:10px;
                }
            }
        }
        .right-panel{
            width: auto;
            .login-panel em{
                display: none;
            }
        }

        &.collapsed{
            .nav .glyphicon{
                display: none;
            }  
        }
    }   
    .sub-navbar{
        .main-level > li {
            float: left;          
            margin: 4px 3px;
            border:1px solid #eee;
  
             > .submenu-link{
                padding:8px;
            }
             > .dropdown > .submenu-link{
                /* sipka pod odkaz - musime uvolnit misto zmensenim horniho a spodniho paddingu */
                padding:5px 10px 7px;

                .caret{
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
    footer{
        height: auto;
    }
}

/* stredni velikost - 768-992 */
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) { 
    /* zmenseni odsazeni prihlasovaciho formulare */
    .main-login{
        margin-top: 5%;
    }
    
    .main-navbar{
        .navbar-brand{
            font-size: 14px;
        }
        .nav{
            > li > .main-navbar-link,
            > li.active > .main-navbar-link{
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &.collapsed{
            .nav{
                .glyphicon{
                    display: none;
                }
            }
        }
    }

    .sub-navbar .main-level > li {
        float: left;          
        margin: 3px;
        border:1px solid #ddd;

        > .submenu-link{
            padding:10px;
        }
        > .dropdown > .submenu-link{ 
            /* sipka pod odkaz - musime uvolnit misto zmensenim horniho a spodniho paddingu */
            padding:7px 10px 9px;
            .caret{
                display: block;
                margin: 0 auto;
            }
        }

        .dropdown-menu li a{
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    
}


/* stredni velikost - 992-1200 */
@media (min-width: @screen-md) and (max-width: @screen-md-max) { 
    /* zmenseni odsazeni u hlavnich ikonek */
    .main-navbar{
        &.collapsed{
            .nav  > li > .main-navbar-link,
            .nav  > li.active > .main-navbar-link,
            {
                padding-left: 26px;
                padding-right: 26px;
            }
        }
        .nav  > li > .main-navbar-link,
        .nav  > li.active > .main-navbar-link{
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    .sub-navbar{
        .main-level > li .submenu-link,
        .main-level > li > .dropdown > .submenu-link{
            padding:11px;
        }
    }
}

@media (min-width: @screen-lg) { 
    
}
