/* zavírací ikona záložek */
.ui-tabs-close {
    cursor:pointer;
    font-size:10px;
    font-style:normal;
    height:14px;
    position:absolute;
    right:0;
    top:0;
    width:16px;
}

/* vlastní multiselecty s filtrem */
div.custom-multiselect{
	min-width: 220px!important;
	border: 1px solid #ccc;
	line-height: 1.2;

	.ui-multiselect-filter {
		margin-bottom: 5px;

		input, select{
			width: 120px;
			margin: 0 5px;
			border: 1px solid #000;
			vertical-align: middle;
			padding: 1px 2px;
			height:20px;
			line-height:20px;
		}
	}

	.ui-multiselect-header li.ui-multiselect-close{
		padding-right: 5px;
	}

	a:link,
	a:visited {
		color: #fff;
		line-height: 20px
	}
	.ui-multiselect-optgroup-label a {
	  color: #c33;
	}
}


/* vlastní multiselecty s filtrem */
div.custom-multiselect-medium{
  min-width: 125px!important;
  border: 1px solid #ccc;
  line-height: 1.2;

  .ui-multiselect-header li.ui-multiselect-close{
    padding-right: 5px;
  }

  a:link,
  a:visited {
    color: #fff;
    line-height: 20px
  }
  .ui-multiselect-optgroup-label a {
    color: #c33;
  }
}


/* multiselecty s checkboxy */
.ui-multiselect-checkboxes{
	label {
	    padding: 3px;
	    margin-bottom: 0;
	    min-height: 10px;
	    vertical-align: middle;

	    input{
	    	margin:0 2px 0 0;
	    	vertical-align: middle;
	    	top:0;
		}
	}
}

/* singleselecty */
.ui-multiselect-single .ui-multiselect-checkboxes label{
	padding: 4px;
	min-height: 15px;
}



/* ----------------------------*/
/* --- Redesign vyhledávače ---*/
/* ----------------------------*/
.searchmask .ui-widget-header{
    padding: 6px 12px;
	position: relative;	
}
#searchform-toggler{
	right: 12px;
}
#searchform-toggler:hover{
    background-color: transparent;
    border:0;
}
.searchmask div.box .ui-multiselect{
	background: #fff;
}
.searchmask .box .text > input{
	border:1px solid #ddd;
}
.searchmask{
		min-width: 800px;
}
#searchform{
	clear:both;
	position: relative;
    font-size:11px;
	/*z-index: 1;   konci podpora IE 7, jinde neni treba */
}
#searchform table{
	border-collapse: collapse;
}
#searchform form{
	padding:5px;
}
#searchform table td{
	width: 33.333%;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

/* searchmask boxy */
.searchmask .box{
	float:left;
	background:#efefef;
	border:1px solid #ccc;
	margin:2px 0.5%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}
.searchmask .box.halfBox{
	width:49%;
}
.searchmask .box.fullBox{
	width: 99%;
}
.searchmask .box.propertiesBox .input{
	 margin-top: 5px;
}

/* skladba */
.searchmask .box.peopleBox{
	background: #f7cdcd;
	position: relative;
	left: 0;	
	top: 0;
}
.searchmask .peopleBox .peopleIconWrapper.ie7fix{
	position: relative;
}
.searchmask .peopleBox .peopleInfoIcon{
	position: absolute;
	right: 1px;
	top: 26px;
	cursor: pointer;
}

/* inputy */
.searchmask .box .input > input[type=text],
.searchmask .box .ui-multiselect{
	width: 100% !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}
.searchmask .box .input > input[type=text]{
	padding: 3px;
	height: 24px;
	line-height: 16px;
}
.searchmask .box .ui-multiselect{
	line-height: 17px;
	overflow: visible; /* removes padding ie */
	min-height: 25px;
}
.searchmask .box .input{
	margin: 3px 2%;
	float: left;
}
.searchmask .input.fullInput{
	width:96% !important;
}
.searchmask .input.halfInput{
	width:46% !important;
}
.searchmask .input.quarterInput{
	width:21% !important;
}
.searchmask .input.twoFifthInput{
	width:35.2% !important;
}
.searchmask .input.fourFifthInput{
	width:74.4% !important;
}
.searchmask .input.oneFifthInput{
	width:17.6% !important;
}
.searchmask .ui-multiselect-single li{
	padding-left: 3px;
	min-height: 12px;
}
.searchmask .input label{
	padding:0;
}
#searchform label{
	border:0;
	margin-bottom: 0;
}
.searchmask .tourOperators label{
	float: left;
}
.searchmask .tourOperators #setTourOperatorLink{
	float: right;
}
.searchmask .input.discountInput{
    width: 28%;
}
.searchmask .input.discountInput input{
    background: #fff url('/img/admin/percent-small.png') right center no-repeat;
}
.searchmask .input.firstLastInput{
    width: 64%;
}
.searchmask .oneLineLabel label{
  white-space: nowrap;
}
.searchmask .oneLineLabel{
	overflow: hidden;
}

/* submit button */
.searchmask .submitButtonWrapper{
	margin:2px 0.5%;
	width: 99%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	background: #424242;
	background: -moz-linear-gradient(top,  #424242 0%, #292929 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#292929));
	background: -webkit-linear-gradient(top,  #424242 0%,#292929 100%);
	background: -o-linear-gradient(top,  #424242 0%,#292929 100%);
	background: -ms-linear-gradient(top,  #424242 0%,#292929 100%);
	background: linear-gradient(to bottom,  #424242 0%,#292929 100%);
	border: 1px solid #000;
	position: relative;
	/*z-index: 5;*/

}
#submitSubMenuOpener{
	position: absolute;
	right: 0;
	top: 0;
	height: 38px;
	width: 32px;
	border-left: 1px solid #000;
	/*z-index: 10;*/
	cursor: pointer;
	background:url('/img/transparent.gif') repeat; /* IE fix */
}
#submitSubMenuOpener .ui-icon{
	margin:10px 8px 0px;
}
.searchmask .submitButtonWrapper #submitGrid{
	width: 100%;
	height: 38px;
	line-height: 38px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	background: none;
	cursor: pointer;
	color: #fff;
	padding: 0;
	background: url('/img/admin/search-new.png') 12px center no-repeat;
	/* z-index: 5; */
}
.searchmask .submitButtonWrapper #submitGrid:hover{
	padding-top: 1px;
}
#submitMenu{
	display: none;
	width: 98%;
	margin:0 1%;
	position: absolute;
	top: 40px;
	left: 0;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px; 
	background: #292929;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	padding: 8px;
	z-index: 10;
}
#submitMenu a{
	color:#fff;
	display: block;
	text-decoration: none;
	padding: 3px 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	-webkit-border-radius: 6px;
	border-radius: 6px; 
} 
#submitMenu a:hover{
	background: #3d3d3d;
}

/* searmask funkce */
#SearchesIndexForm a.actionButton, #TrafficsSearchesIndexForm a.actionButton, #YpsilonPackagesSearchesIndexForm a.actionButton, #AmadeusSearchesIndexForm a.actionButton{
	background: #cc3333;
	background: -moz-linear-gradient(top,  #cc4444 0%, #cc0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc4444), color-stop(100%,#cc0000));
	background: -webkit-linear-gradient(top,  #cc4444 0%,#cc0000 100%);
	background: -o-linear-gradient(top,  #cc4444 0%,#cc0000 100%);
	background: -ms-linear-gradient(top,  #cc4444 0%,#cc0000 100%);
	background: linear-gradient(to bottom,  #cc4444 0%,#cc0000 100%);
	border: 1px solid #bb2222;
	color: #fff;
	text-decoration: none;
	position: relative;
	padding-left: 25px;
	height: 40px;
	width: 110px;
	margin-top: 2px;
	padding: 2px 10px 0px 25px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	float: right;
	font-weight: bold;
	text-align: center;
	margin: 2px 0.5%;
}
#SearchesIndexForm a.actionButton:hover, #TrafficsSearchesIndexForm a.actionButton:hover, #YpsilonPackagesSearchesIndexForm a.actionButton:hover, #AmadeusSearchesIndexForm a.actionButton:hover{
	padding-top:3px;
}
#SearchesIndexForm a#resetFormButton, #TrafficsSearchesIndexForm a#resetFormButton, #YpsilonPackagesSearchesIndexForm a#resetFormButton, #AmadeusSearchesIndexForm a#resetFormButton{
	width: 100px;
}
#SearchesIndexForm a.actionButton .ui-icon, #TrafficsSearchesIndexForm a.actionButton .ui-icon, #YpsilonPackagesSearchesIndexForm a.actionButton .ui-icon, #AmadeusSearchesIndexForm a.actionButton .ui-icon{
	position: absolute;
	left: 5px;
	top: 10px;
}
#SearchesIndexForm .ui-icon.ui-white-icons, #TrafficsSearchesIndexForm .ui-icon.ui-white-icons, #YpsilonPackagesSearchesIndexForm .ui-icon.ui-white-icons, #AmadeusSearchesIndexForm .ui-icon.ui-white-icons{
	background-image: url('/img/ui_admin/ui-icons_ffffff_256x240.png');
}
#SearchesIndexForm a.greenButton, #TrafficsSearchesIndexForm a.greenButton, #YpsilonPackagesSearchesIndexForm a.greenButton, #AmadeusSearchesIndexForm a.greenButton{
	background: #3da54e;
	background: -moz-linear-gradient(top,  #3da54e 0%, #00a51b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3da54e), color-stop(100%,#00a51b));
	background: -webkit-linear-gradient(top,  #3da54e 0%,#00a51b 100%);
	background: -o-linear-gradient(top,  #3da54e 0%,#00a51b 100%);
	background: -ms-linear-gradient(top,  #3da54e 0%,#00a51b 100%);
	background: linear-gradient(to bottom,  #3da54e 0%,#00a51b 100%);
	border: 1px solid #209333;
	color: #fff;
}

/* úpravy detailu zájezdu */
/* zhusteni sloupcu */
.search-result-detail{
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12{
		padding-left: 7px;
		padding-right: 7px;
	}

	.panel-heading{
		padding: 7px 12px;
	}

	.dl-horizontal dd:after{
		padding-bottom: 7px;
	}
}


/* modal destinations selector */
#searchform{
	.countryBlock,
	.destinationBlock{
		display: none;
	}
	.modalDestinationSelectorOpener, .modalTrafficsDestinationSelectorOpener, .modalAmadeusDestinationSelectorOpener, .modalYpsilonDestinationSelectorOpener{
		cursor: pointer;
		font-weight: bold;
		color: #004276;
		border: 1px solid #D8DCDF;
		line-height:17px;
		padding: 3px;
		background: #fff;
		display: block;
	}
}
#dialogDestinationSelector, #dialogTrafficsDestinationSelector, #dialogAmadeusDestinationSelector, #dialogYpsilonDestinationSelector{
	overflow: hidden;

	.model-selector-filter-header{
		position: relative;
		top: 3px;
	}

	.model-selector-content{
		position: absolute;
		top:40px;
		left:0;
		right:0;
		bottom: 0;
	}

	.list-wrapper{
		overflow: hidden;
		position: relative;
		min-height: 1px;
		height: 100%;
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		ul.modal-selector-list{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: auto;

			.listSeparator{
				margin: 3px 3px 0 0;
				font-weight: bold;
				background: #F0F0F0;
				border: 1px solid #DDD;
				border-radius:3px;
			}
			
			li{
				margin: 1px 0 0;
				padding: 1px 4px;
				display: block;


				//skrytí fulltext filtrem
				//musí přebít zobrazení pomocí hodnoty stylu display nastavené přes jquery.show() -> proto !important
				&.hiddenByFilter{
					display: none !important;
				}

				&.shownByFilter{
					display: block !important;
				}

				&.slaveDestination{
					margin:0;

					//generování paddingu pro strom destinací
					.depthClasses (@depth) when (@depth > 0){
						&[data-slave-depth="@{depth}"]{
							padding-left: unit(@depth * 20, px);
						}
						.depthClasses(@depth - 1);
					}
					//generování od páte úrovně
					.depthClasses(5);
				}

				&.masterDestination{
					margin: 3px 3px 0 0;
					background: #F0F0F0;
					border: 1px solid #DDD;
					border-radius:3px;

					&.hasAccordion,
					&.hasAccordion label{
						cursor: pointer;
					}

					input{
						display: none;
					}
				}
				&#nothingFound{
					color: #C1C1C1;
					font-size: 20px;
					padding: 0px 20px;
				}

				label{
					display: block;
					margin: 0;

					input{
						margin:0 3px;
						display: inline-block;
						vertical-align: middle;
					}

					//zvárazněný substring při filtrování
					span.itemText span{
						color: #00a51b;
					}

					//ikona sbalení
					span.ui-icon{
						float: right;
					}

					//počet vybraných při sbalení
					span.itemCount{
						padding-left: 3px;
					}
				}
			}
		}
	}
	.wrapperCountries{
		width: 39%;
		margin-right: 1%;
	}
	.wrapperDestinations{
		width:60%;
	}
	.row,
	.wrapper{
		position: relative;
		height: 100%;
	}
}

#selectedCountriesList, #selectedTrafficsCountriesList, #selectedYpsilonCountriesList{
	padding: 10px 10px 5px 10px;

	.countryListItem{
		display: inline-block;
		padding: 0px 3px 3px;
		font-weight: bold;

		span{
			float: right;
			padding-top: 1px;
			padding-left:1px;
			cursor: pointer;
			color:red;
		}
	}
}

#powerId{
	.dialogSelectorClearButton,
	.dialogSelectorOkButton{
		.ui-icon{
			background-image: url('/img/ui_admin/ui-icons_ffffff_256x240.png');
		}
	}

	.dialogSelectorClearButton{
		background: #cc3333;
		background: -moz-linear-gradient(top,  #cc4444 0%, #cc0000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc4444), color-stop(100%,#cc0000));
		background: -webkit-linear-gradient(top,  #cc4444 0%,#cc0000 100%);
		background: -o-linear-gradient(top,  #cc4444 0%,#cc0000 100%);
		background: -ms-linear-gradient(top,  #cc4444 0%,#cc0000 100%);
		background: linear-gradient(to bottom,  #cc4444 0%,#cc0000 100%);
		border: 1px solid #bb2222;
		color: #fff;
	}
	.dialogSelectorOkButton{
		background: #3da54e;
		background: -moz-linear-gradient(top,  #3da54e 0%, #00a51b 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3da54e), color-stop(100%,#00a51b));
		background: -webkit-linear-gradient(top,  #3da54e 0%,#00a51b 100%);
		background: -o-linear-gradient(top,  #3da54e 0%,#00a51b 100%);
		background: -ms-linear-gradient(top,  #3da54e 0%,#00a51b 100%);
		background: linear-gradient(to bottom,  #3da54e 0%,#00a51b 100%);
		border: 1px solid #209333;
		color: #fff;
	}
}

//pro staré IE extra řešení
#powerId.isOldIe{
	//zobrazíme bloky s výběrem země a destinace
	.countryBlock,
	.destinationBlock{
		display: block;
	}
	//skryjeme blok s otevírátkem modal selektoru
	.modalSelectorBlock{
		display: none;
	}
}

.tab-loader, .traffics-mask-loader, .ypsilon_packages-mask-loader, .amadeus-mask-loader {
  height: 270px;
  width: 100%;
  text-align: center;
}

.tab-loader img, .traffics-mask-loader img, .ypsilon_packages-mask-loader img, .amadeus-mask-loader img {
  margin-top: 71px;
}

pre.transfer-info {
	padding: 0;
	margin: 0;
	font-size: 10px;
	word-break: normal;
	word-wrap: normal;
	color: #000;
	background-color: transparent;
	border: none;
}

.search-description {
	font-size: 10px;
	max-height: 868px;
	overflow: auto;
	display: block;
	width: 195px;
}

.searchmask .submitButtonWrapper #submitGrid {
	width: 100%;
	height: 38px;
	line-height: 38px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	background: none;
	cursor: pointer;
	color: #fff;
	padding: 0;
	padding-left: 20px;
	background: url(/img/admin/search-new.png) 12px center no-repeat;
}