//trida pro admin tabulky
//condensed, bordered, striped, hover
.admin-table{
    thead,
    tbody,
    tfoot {
        > tr {
            > th,
            > td {
                padding: @table-condensed-cell-padding; //condensed 
                border: 1px solid @table-border-color;  //bordered
            }
        }
        > tr:nth-child(odd) {
            > td,
            > th {
                background-color: @table-bg-accent;   //prouzkovana tabulka
            }
        }
        > tr:hover {
            > td,
            > th {
                background-color: @table-bg-hover;    //efekt pri hoveru
            }
        }
    }
}
.admin-table{
    width: 100%;
    margin-bottom: 15px;
}

//obarveni hlavicky tabulky
.table, .admin-table{
    // Cells
    thead,
    tbody,
    tfoot {
        > tr,
        > tr:first-child {
            > th{
                background: #f0f0f0;
            }
        }
    }

    thead,
    tbody,
    tfoot {
        > tr {
            > th,
            > td{
                vertical-align: middle;
            }
        }
    }
    background: #fff;
}

// barevné varianty řádků
.admin-table-row-variant(success; @state-success-bg; @state-success-border);
.admin-table-row-variant(danger; @state-danger-bg; @state-danger-border);
.admin-table-row-variant(warning; @state-warning-bg; @state-warning-border);
.admin-table-row-variant(info; @state-info-bg; @state-info-border);

//neaktivní řádek
.admin-table,
.table{
    tr.inactive{
        td, th{
            color:  @text-muted;
            > a{
                color: lighten(@link-color, 15%);
                &:hover{
                    color: lighten(@link-hover-color, 15%);
                };
            }
        }
    }
    td.inactive,
    th.inactive{
        color:  @text-muted;
        td > a,
        th > a{
            color: lighten(@link-color, 15%);
            &:hover{
                color: lighten(@link-hover-color, 15%);
            };
        }
    }
}

.table-top-align{
    thead,
    tbody,
    tfoot {
        > tr {
            > th,
            > td{
                vertical-align: top;
            }
        }
    }
}

/* zrušení zalamování u tlačítek v tabulkových výpisech */
th.actions,
td.actions{
    white-space:nowrap;
    width:75px;
}

/* trida pro zruseni zalamovani */
table.no-wrap-content{
    table-layout: fixed;

    td, th{
        white-space: nowrap;
        overflow: hidden;        
    }
}