/* redefinice */
//barvy
@brand-primary:         #CC3333; //primarni cervena
@brand-primary-2:       #428BCA; //druha primarni puvodni modra


//tabulky
@table-border-color:    #ccc; // table and cell border
@table-bg-accent:       #f7f7f7;
@table-bg-hover:        #f1f1f1;

//zakladni font
@font-size-base:          13px;
@font-family-sans-serif:  Arial, sans-serif;

//primary-button modre
@btn-primary-bg:                 @brand-primary-2; //modre
@component-active-bg:            @brand-primary-2; //modre

//zmenseni rozestupu sloupcu
@grid-gutter-width:         20px; //30

//Reset maximalnich sirek u mensich rozliseni
// Small screen / tablet
@container-tablet:            100%;

// Medium screen / desktop
@container-desktop:           100%;

//zmenseni tlacitek a inputu
@padding-small-vertical:         4px; //5
@padding-small-horizontal:       8px; //10

@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 3); //původně +2 - nesedělo o pixel


/* vlastní proměnné */
@navbar-bg: @brand-primary;
@navbar-link: #FFC9C9;
@navbar-link-hover: #fff;
@navbar-link-disabled: lighten(@navbar-bg, 13%); 
@subnav-bg: #fafafa;
@subnav-link: @link-color;


// Code
// ------------------------
@code-color:                  #c7254e; // vínová
@code-bg:                     #f9f2f4; // bílé

@pre-bg:                      @gray-dark; // #f5f5f5; // bílé
@pre-color:                   #f5f5f5;
@pre-border-color:            #ccc;		// šedá
@pre-scrollable-max-height:   340px;

