/**************** Šablona id 3 - velke foto *************************/
.default-design.tmpl-style-3 .cd-title {
  display: none;
}
.tmpl-style-3 .top-bar{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid  #cbcbcb;
}

.tmpl-style-3 .header {
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 5px 0 #cfcfcf;
  margin: 5px 5px 15px;
  position: relative;
}
.tmpl-style-3 .header .image {
  width: 100%;
}
.tmpl-style-3 .header .image img {
  min-height: 360px;
  width: 100%;
}
.tmpl-style-3 .header .icons {
  left: 10px;
  position: absolute;
  top: 10px;
}
.tmpl-style-3 .header .icons img {
  max-height: 25px;
}
.tmpl-style-3 .icons .availability > p {
  display: none;
}
.tmpl-style-3 .info {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  font-size: 1.1em;
  max-height: 97%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 1%;
  top: 1.5%;
  width: 40%;
}
.tmpl-style-3 .info .row {
  padding: 8px 20px;
}
.tmpl-style-3 .info .hotel {
  font-size: 1.5em;
  margin-top: 10px;
}
.tmpl-style-3 .info .hotel > span {
  font-size: 0.8em;
  white-space: nowrap;
}
.tmpl-style-3 .info .favourites-link, .tmpl-style-3.accommodation-template .info .price-box {
  margin-bottom: 10px;
}
.tmpl-style-3 .info .price-box .price {
  font-size: 1.5em;
  font-weight: bold;
}
.tmpl-style-3 .info .price-box .price a{
  color: #444;
  text-decoration: none;
}
.tmpl-style-3 .info .price-box .original {
  text-decoration: line-through;
  padding-right: 5px;
}
.tmpl-style-3 .info .price-box .discount {
  padding-top: 0.5em;
  white-space: nowrap;
}
.tmpl-style-3 .info .boarding,
.tmpl-style-3 .info .airport,
.tmpl-style-3 .info .departures,
.tmpl-style-3 .info .date-id {
  margin-top: 0.7em;
}
.tmpl-style-3 .info .transport-boarding > div > span {
  font-weight: bold;
}
.tmpl-style-3 .erased-box, .tmpl-style-3 .local-rating-box {
  margin: 0 5px 15px;
}
.tmpl-style-3 .simple-tabs {
  margin: 5px;
}

.tmpl-style-3 .to-info-box{
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 5px 0 #cfcfcf;
  margin: 5px 5px 15px;
  background: #fff;
}


/**************** Šablona id 4  *************************/
.tmpl-style-4 .cd-title{
  display: none !important;
}
.tmpl-style-4 .date-detail *,
.tmpl-style-4 .acc-detail * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tmpl-hidden {
  display: none;
}
.tmpl-style-4 .top-bar{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid  #cbcbcb;
}
/* ACCOMODATION DETAIL */
.tmpl-style-4 .date-detail > div,
.tmpl-style-4 .acc-detail > div {
  margin-bottom: 25px;
}
.tmpl-style-4 .date-detail__top-title h2,
.tmpl-style-4 .acc-detail__top-title h2{
  margin-top: 0;
  margin-bottom: 10px;
}

/* DETAIL BOX */
.tmpl-style-4 .date-detail__detail-box,
.tmpl-style-4 .acc-detail__detail-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.tmpl-style-4 .detail-box__thumb {
  width: 60%;
  padding: 0 25px 0 0;
  position: relative;
}

.tmpl-style-4 .detail-box__thumb a {
  display: block;
}
.tmpl-style-4 .detail-box__thumb .thumb__image{
  position: relative;
  width: 100%;
}
.tmpl-style-4 .detail-box__thumb .thumb__image::before{
  content: '';
  display: block;
  padding-top: 75%;
}
.tmpl-style-4 .detail-box__thumb .thumb__image a{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tmpl-style-4 .detail-box__thumb .thumb__image img {
  width: 100%;
  height: 100%;
}

.tmpl-style-4 .detail-box__thumb .thumb__image .lm-wrap,
.tmpl-style-4 .detail-box__thumb .thumb__image .fm-wrap,
.tmpl-style-4 .detail-box__thumb .thumb__image .tip-wrap{
  position: absolute;
  left: 0;
  background: #1688d1;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  display: none;
}
.tmpl-style-4 .is-lm .detail-box__thumb .thumb__image .lm-wrap{
  display: block;
}
.tmpl-style-4 .is-fm .detail-box__thumb .thumb__image .fm-wrap{
  display: block;
}
.tmpl-style-4 .is-tip .detail-box__thumb .thumb__image .tip-wrap{
  display: block;
}
.tmpl-style-4 .detail-box__thumb .thumb__image .lm-wrap{
  top: 0;
}
.tmpl-style-4 .detail-box__thumb .thumb__image .fm-wrap{
  bottom: 0;
}
.tmpl-style-4 .detail-box__thumb .thumb__image .tip-wrap{
  top: 0;
  right: 0;
  left: auto;
}
.tmpl-style-4 .detail-box__thumb .thumb__gallery ul{
  padding: 0;
  margin: 0;
  margin-top: 3px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.tmpl-style-4 .detail-box__thumb .thumb__gallery ul li{
  margin: 0;
  width: 33.3333%;
  float: none;
  display: inline-block;
  position: relative;
}
.tmpl-style-4 .detail-box__thumb .thumb__gallery ul li::before{
  content: '';
  display: block;
  padding-top: 75%;
}
.tmpl-style-4 .detail-box__thumb .thumb__gallery ul li img{
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


.tmpl-style-4 .detail-box__info-box {
  width: 40%;
  padding-bottom: 96px;
  background: #f2f2f2;
  position: relative;
}
.tmpl-style-4 .info-box__description {
  padding: 15px;
  font-size: 12px;
}
.tmpl-style-4 .info-box__description > div{
  margin-bottom: 10px;
}
.tmpl-style-4 .info-box__description > div:last-child{
  margin-bottom: 0;
}
.tmpl-style-4 .info-box__description strong{
  font-size: 14px;
  display: block;
  border-top: 1px solid #d3d3d3;
  padding-top: 3px;
}
.tmpl-style-4 .date-detail .info-box__description > div{
  border-bottom: 1px solid #d3d3d3; 
  margin-bottom: 0;
  padding: 10px 0;
}

.tmpl-style-4 .date-detail .info-box__description strong{
  display: inline;
  padding-top: 0;
  padding-left: 10px;
  border: 0;
}
.tmpl-style-4 .date-detail .info-box__description .description__date{
  font-size: 110%;
}
.tmpl-style-4 .date-detail .info-box__description .description__date .img-availability{
  width: 16px;
  vertical-align: middle;
}
.tmpl-style-4 .date-detail .info-box__description .description__date #group-availability-text{
  display: none;
}
.tmpl-style-4 .date-detail .info-box__description .description__date strong{
  padding-left: 0;
}
.tmpl-style-4 .info-box__price{
  position: absolute;
  padding: 15px 25px;
  width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
  background: #1688D1;
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.tmpl-style-4 .info-box__price  a{
  color: #fff;
  text-decoration: none;
}
.tmpl-style-4 .info-box__price span {
    display: block;
}
.tmpl-style-4 .info-box__price .discount{
  font-size: 80%;
}
.tmpl-style-4 .info-box__price .original-price {
    font-size: 80%;
    text-decoration: line-through;
}

.tmpl-style-4 .other-info__erased{
  background: #FFB7B7;
  border: 1px solid #EF2B2B;
  font-size: 1.5em;
  text-align: center;
}
.tmpl-style-4 .other-info__to-info{
  background: #f2f2f2;
  border: 1px solid #1688D1;
  padding: 10px;
  margin-top: 25px;
}
.tmpl-style-4 .other-info__to-info p{
  margin-top: 0;
}
.tmpl-style-4 .other-info__to-info p:last-child{
  margin-bottom: 0;
}

.tmpl-style-4 .structured-content__tabs .simple-tab-header{
  padding: 0;
}
.tmpl-style-4 .structured-content__tabs .simple-tab-header a{
  margin-right: 5px;
  font-size: 14px;
}
.tmpl-style-4 .structured-content__tabs .simple-tab-header a span{
  padding: 15px 10px;
  background: #f2f2f2;
}
.tmpl-style-4 .structured-content__tabs .simple-tab-header a.opened span{
  background: #1688D1;
  color: #fff;
}
.tmpl-style-4 .structured-content__tabs .simple-tab-content .simple-tab.opened{
  background: #f2f2f2;
}
.tmpl-style-4 .structured-content__tabs .simple-tab-content .simple-tab .master-info{
  margin-top: 20px;
}
.tmpl-style-4 #showReviews *{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* jquery UI date-table */
.tmpl-style-4 #terminy .ui-jqgrid{
  border: none;
}
.tmpl-style-4 #terminy .ui-state-default{
  background: transparent none !important;
  border: none;
}
.tmpl-style-4 #terminy .ui-jqgrid-view .ui-state-hover,
.tmpl-style-4 #terminy .ui-jqgrid-view .ui-state-highlight{
  background: #f5f5f5;
  color: #5d5d5d;
}
.tmpl-style-4 #terminy .ui-jqgrid-view th{  
  color: #444;
  font-size: 12px;
  text-align: left;
  border: none;
  padding: 10px 0;
  height: 34px;
  border-bottom: 1px solid  #fff;
}
.tmpl-style-4 #terminy .ui-jqgrid-view th div{
  height: auto;
}
.tmpl-style-4 #terminy .ui-jqgrid-view .jqgfirstrow td{
  padding: 0;
  border: 0;
}
.tmpl-style-4 #terminy .ui-jqgrid-view td{
  padding: 10px 5px;
  font-size: 12px;
  border-bottom: 1px solid  #fff;
}
.tmpl-style-4 #terminy .ui-jqgrid-view td[aria-describedby="grid_accommodation_id"]{
  text-align: left !important;
}
.tmpl-style-4 #terminy .ui-jqgrid-view td[aria-describedby="grid_price"]{
  text-align: left !important;
  color: #1688D1;
}
.tmpl-style-4 #terminy .ui-jqgrid-view td a{
  color: #1688D1;
}
.tmpl-style-4 #terminy .ui-jqgrid-view td a::after{
  content: " »";
}
.tmpl-style-4 #terminy .ui-jqgrid .ui-pg-table{
  font-size: 12px;
}
.tmpl-style-4 #terminy .ui-jqgrid .ui-pg-table td{
  padding: 2px;
}
.tmpl-style-4 #terminy .ui-jqgrid .ui-pg-table input{
  width: auto; 
}
 .tmpl-style-4 .local-rating-box {
  background: none repeat scroll 0 0 #dbdbdb;
  border: 1px solid #bbb;
  clear: both;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}




/**************** Šablona id 5 / hlx *************************/
.tmpl-style-5 .cd-title{
  display: none !important;
}
.tmpl-style-5 .date-detail *,
.tmpl-style-5 .acc-detail * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tmpl-hidden {
  display: none;
}
.tmpl-style-5 .top-bar{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid  #cbcbcb;
}
/* ACCOMODATION DETAIL */
.tmpl-style-5 .date-detail > div,
.tmpl-style-5 .acc-detail > div {
  margin-bottom: 25px;
}
.tmpl-style-5 .date-detail__top-title h2,
.tmpl-style-5 .acc-detail__top-title h2{
  margin-top: 0;
  margin-bottom: 10px;
}

/* DETAIL BOX */
.tmpl-style-5 .date-detail__detail-box,
.tmpl-style-5 .acc-detail__detail-box {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;             
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.tmpl-style-5 .detail-box__thumb {
  padding: 0 25px 0 0;
  width: 60%;
  position: relative;
}

.tmpl-style-5 .detail-box__thumb a {
  display: block;
}
.tmpl-style-5 .detail-box__thumb .thumb__image{
  position: relative;
  width: 100%;
}
.tmpl-style-5 .detail-box__thumb .thumb__image::before{
  content: '';
  display: block;
  padding-top: 75%;
}
.tmpl-style-5 .detail-box__thumb .thumb__image a{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tmpl-style-5 .detail-box__thumb .thumb__image img {
  width: 100%;
  height: 100%;
}

.tmpl-style-5 .detail-box__thumb .thumb__price{
  background: #1688d1;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 15px;
  text-align: right;
  position: relative;
  z-index: 1000;
}
.tmpl-style-5 .detail-box__thumb .thumb__price a{
  display: inline;
  font-size: 1.7em;
  color: #fff;
  text-decoration: none;
}

.tmpl-style-5 .detail-box__thumb .thumb__image .lm-wrap,
.tmpl-style-5 .detail-box__thumb .thumb__image .fm-wrap,
.tmpl-style-5 .detail-box__thumb .thumb__image .tip-wrap{
  position: absolute;
  left: 0;
  background: #1688d1;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  display: none;
}
.tmpl-style-5 .is-lm .detail-box__thumb .thumb__image .lm-wrap,
.tmpl-style-5 .is-fm .detail-box__thumb .thumb__image .fm-wrap,
.tmpl-style-5 .is-tip .detail-box__thumb .thumb__image .tip-wrap{
  display: block;
}
.tmpl-style-5 .detail-box__thumb .thumb__image .lm-wrap{
  top: 0;
}
.tmpl-style-5 .detail-box__thumb .thumb__image .fm-wrap{
  bottom: 0;
}
.tmpl-style-5 .detail-box__thumb .thumb__image .tip-wrap{
  top: 0;
  right: 0;
  left: auto;
}
.tmpl-style-5 .detail-box__thumb .thumb__gallery ul{
  padding: 0;
  margin: 0;
  margin-top: 3px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.tmpl-style-5 .detail-box__thumb .thumb__gallery ul li{
  margin: 0;
  width: 33.3333%;
  float: none;
  display: inline-block;
  position: relative;
}
.tmpl-style-5 .detail-box__thumb .thumb__gallery ul li::before{
  content: '';
  display: block;
  padding-top: 75%;
}
.tmpl-style-5 .detail-box__thumb .thumb__gallery ul li img{
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


.tmpl-style-5 .detail-box__info-box {
  width: 40%;
  background: #f2f2f2;
  position: relative;
  padding-bottom: 51px;
}
.tmpl-style-5 .detail-box__info-box table{
  width: 100%;
}
.tmpl-style-5 .info-box__description {
  padding: 15px;
  font-size: 12px;
}
.tmpl-style-5 .info-box__description > div{
  margin-bottom: 10px;
}
.tmpl-style-5 .info-box__description > div:last-child{
  margin-bottom: 0;
}
.tmpl-style-5 .info-box__description strong{
  font-size: 14px;
  display: block;
  border-top: 1px solid #d3d3d3;
  padding-top: 3px;
}
.tmpl-style-5 .date-detail .info-box__description > div{
  border-bottom: 1px solid #d3d3d3; 
  margin-bottom: 10px;
  padding: 10px 0;
}

.tmpl-style-5 .date-detail .info-box__description strong{
  display: inline;
  padding-top: 0;
  padding-left: 10px;
  border: 0;
}
.tmpl-style-5 .date-detail .info-box__description .description__date{
  font-size: 110%;
}
.tmpl-style-5 .date-detail .info-box__description .description__date .img-availability{
  width: 16px;
  vertical-align: middle;
}
.tmpl-style-5 .date-detail .info-box__description .description__date #group-availability-text{
  display: none;
}
.tmpl-style-5 .date-detail .info-box__description .description__date strong{
  padding-left: 0;
}
.tmpl-style-5 .info-box__weather {
  padding: 15px;
  font-size: 12px;
}
.tmpl-style-5 .info-box__weather tr td:last-child{
  text-align: right;
}
.tmpl-style-5 .info-box__price {
  padding: 0 15px 15px 15px;
  font-size: 1.3em;
}
.tmpl-style-5 .info-box__price table td:last-child{
  text-align: right;
}
.tmpl-style-5 .info-box__price .current-price{
  font-size: 1.7em;
}
.tmpl-style-5 .info-box__price .current-price a{
  color: #444;
  text-decoration: none;
}
.tmpl-style-5 .info-box__order {
  position: absolute;
  padding: 15px 25px;
  width: 100%;
  bottom: 0;
  background: #1688D1;
  text-align: center;
  font-size: 1.5em;
}
.tmpl-style-5 .info-box__order a{
  color: #fff;
}
.tmpl-style-5 .info-box__price .discount{
  font-size: 80%;
}
.tmpl-style-5 .info-box__price .original-price{
  font-size: 80%;
  text-decoration: line-through;
}

.tmpl-style-5 .other-info__erased{
  background: #FFB7B7;
  border: 1px solid #EF2B2B;
  font-size: 1.5em;
  text-align: center;
}
.tmpl-style-5 .other-info__to-info{
  background: #f2f2f2;
  border: 1px solid #1688D1;
  padding: 10px;
  margin-top: 25px;
}
.tmpl-style-5 .other-info__to-info p{
  margin-top: 0;
}
.tmpl-style-5 .other-info__to-info p:last-child{
  margin-bottom: 0;
}

.tmpl-style-5 .structured-content__elements .header{
  font-size: 1.8em;
  background: #1688D1;
  padding: 10px 25px;
  color: #fff;
  margin: 0;
  border: 0;
  text-shadow: none;
}
.tmpl-style-5 .structured-content__elements .element{
  margin-bottom: 40px;
  padding: 0;
  border: 0;
}
.tmpl-style-5 .structured-content__elements .element .content{
  padding: 25px;
  background: #f2f2f2;
}

.tmpl-style-5 #showReviews *{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* jquery UI date-table */
.tmpl-style-5 #terminy .ui-jqgrid{
  border: none;
}
.tmpl-style-5 #terminy .ui-state-default{
  background: transparent none !important;
  border: none;
}
.tmpl-style-5 #terminy .ui-jqgrid-view .ui-state-hover,
.tmpl-style-5 #terminy .ui-jqgrid-view .ui-state-highlight{
  background: #f5f5f5;
  color: #5d5d5d;
}
.tmpl-style-5 #terminy .ui-jqgrid-view th{  
  color: #444;
  font-size: 12px;
  text-align: left;
  border: none;
  padding: 10px 0;
  height: 34px;
  border-bottom: 1px solid  #fff;
}
.tmpl-style-5 #terminy .ui-jqgrid-view th div{
  height: auto;
}
.tmpl-style-5 #terminy .ui-jqgrid-view .jqgfirstrow td{
  padding: 0;
  border: 0;
}
.tmpl-style-5 #terminy .ui-jqgrid-view td{
  padding: 10px 5px;
  font-size: 12px;
  border-bottom: 1px solid  #fff;
}
.tmpl-style-5 #terminy .ui-jqgrid-view td[aria-describedby="grid_accommodation_id"]{
  text-align: left !important;
}
.tmpl-style-5 #terminy .ui-jqgrid-view td[aria-describedby="grid_price"]{
  text-align: left !important;
  color: #1688D1;
}
.tmpl-style-5 #terminy .ui-jqgrid-view td a{
  color: #1688D1;
}
.tmpl-style-5 #terminy .ui-jqgrid-view td a::after{
  content: " »";
}
.tmpl-style-5 #terminy .ui-jqgrid .ui-pg-table{
  font-size: 12px;
}
.tmpl-style-5 #terminy .ui-jqgrid .ui-pg-table td{
  padding: 2px;
}
.tmpl-style-5 #terminy .ui-jqgrid .ui-pg-table input{
  width: auto; 
}


.tmpl-style-5 .local-rating-box {
  background: none repeat scroll 0 0 #dbdbdb;
  border: 1px solid #bbb;
  clear: both;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/******************** Šablona ID 81 / traffics *******************/
﻿.tmpl-style-81 .date-detail *,
.tmpl-style-81 .acc-detail * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tmpl-hidden {
    display: none;
}

.tmpl-style-81 .top-bar {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cbcbcb;
}

.tmpl-style-81 .date-detail > div,
.tmpl-style-81 .acc-detail > div {
    margin-bottom: 25px;
}

.tmpl-style-81 .date-detail__top-title h2,
.tmpl-style-81 .acc-detail__top-title h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.tmpl-style-81 .date-detail__detail-box,
.tmpl-style-81 .acc-detail__detail-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.tmpl-style-81 .detail-box__thumb {
    width: 60%;
    padding: 0 24px 0 0;
    position: relative;
}

.tmpl-style-81 .detail-box__thumb a {
    display: block;
}

.tmpl-style-81 .detail-box__thumb .thumb__image {
    position: relative;
    width: 100%;
}

.tmpl-style-81 .detail-box__thumb .thumb__image::before {
    content: '';
    display: block;
    padding-top: 75%;
}

.tmpl-style-81 .detail-box__thumb .thumb__image a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tmpl-style-81 .detail-box__thumb .thumb__image img {
    width: 100%;
    height: 100%;
}

.tmpl-style-81 .detail-box__thumb .thumb__image .lm-wrap,
.tmpl-style-81 .detail-box__thumb .thumb__image .fm-wrap,
.tmpl-style-81 .detail-box__thumb .thumb__image .tip-wrap {
    position: absolute;
    left: 0;
    background: #1688d1;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
    display: none;
}

.tmpl-style-81 .is-lm .detail-box__thumb .thumb__image .lm-wrap {
    display: block;
}

.tmpl-style-81 .is-fm .detail-box__thumb .thumb__image .fm-wrap {
    display: block;
}

.tmpl-style-81 .is-tip .detail-box__thumb .thumb__image .tip-wrap {
    display: block;
}

.tmpl-style-81 .detail-box__thumb .thumb__image .lm-wrap {
    top: 0;
}

.tmpl-style-81 .detail-box__thumb .thumb__image .fm-wrap {
    bottom: 0;
}

.tmpl-style-81 .detail-box__thumb .thumb__image .tip-wrap {
    top: 0;
    right: 0;
    left: auto;
}
.tmpl-style-81 .detail-box__thumb .thumb__params {
    margin-top: 20px;
}

.tmpl-style-81 .detail-box__thumb .thumb__gallery ul {
    padding: 0;
    margin: 0;
    margin-top: 3px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.tmpl-style-81 .detail-box__thumb .thumb__gallery ul li {
    margin: 0;
    width: 33.3333%;
    float: none;
    display: inline-block;
    position: relative;
}

.tmpl-style-81 .detail-box__thumb .thumb__gallery ul li::before {
    content: '';
    display: block;
    padding-top: 75%;
}

.tmpl-style-81 .detail-box__thumb .thumb__gallery ul li img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tmpl-style-81 .detail-box__info-box {
    width: 40%;
    padding-bottom: 96px;
    background: #f2f2f2;
    position: relative;
}
.tmpl-style-81 .acc-detail .detail-box__info-box {
    padding-bottom: 56px;
}

.tmpl-style-81 .info-box__description {
    padding: 15px;
    font-size: 12px;
}

.tmpl-style-81 .info-box__description > div {
    margin-bottom: 10px;
}

.tmpl-style-81 .info-box__description > div:last-child {
    margin-bottom: 0;
}

.tmpl-style-81 .info-box__description strong {
    font-size: 14px;
    display: block;
    border-top: 1px solid #d3d3d3;
    padding-top: 3px;
}

.tmpl-style-81 .date-detail .info-box__description > div {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 0;
    padding: 10px 0;
}

.tmpl-style-81 .date-detail .info-box__description strong {
    display: inline;
    padding-top: 0;
    padding-left: 10px;
    border: 0;
}
.tmpl-style-81 .acc-detail .info-box__description .description__map .mapElement{
    height: 123px;
}
.tmpl-style-81 .acc-detail .info-box__description .description__map #map_info{
    font-size: 10px;
}
.tmpl-style-81 .acc-detail .info-box__description .description__weather table{
    width: 100%;
    border-spacing: 0;
}
.tmpl-style-81 .acc-detail .info-box__description .description__weather table tr td{
    text-align: center;
    border-bottom: 1px solid  #e2e2e2;
}
.tmpl-style-81 .acc-detail .info-box__description .description__weather table tr td:first-of-type{
    text-align: left;
}
.tmpl-style-81 .acc-detail .info-box__description .description__weather table tr td:last-of-type{
    text-align: right;
    font-weight: bold;
}

.tmpl-style-81 .date-detail .info-box__description .description__date {
    font-size: 110%;
}

.tmpl-style-81 .date-detail .info-box__description .description__date .img-availability {
    width: 16px;
    vertical-align: middle;
}

.tmpl-style-81 .date-detail .info-box__description .description__date #group-availability-text {
    display: none;
}

.tmpl-style-81 .date-detail .info-box__description .description__date strong {
    padding-left: 0;
}

.tmpl-style-81 .info-box__price {
    position: absolute;
    padding: 15px 25px;
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
    background: #1688D1;
    color: #fff;
    text-align: center;
    font-size: 22px;
}

.tmpl-style-81 .info-box__price a {
    color: #fff;
    text-decoration: none;
}

.tmpl-style-81 .info-box__price span {
    display: block;
}

.tmpl-style-81 .info-box__price .discount {
    font-size: 80%;
}

.tmpl-style-81 .info-box__price .original-price {
    font-size: 80%;
    text-decoration: line-through;
}

.tmpl-style-81 .other-info__erased {
    background: #FFB7B7;
    border: 1px solid #EF2B2B;
    font-size: 1.5em;
    text-align: center;
}

.tmpl-style-81 .other-info__to-info {
    background: #f2f2f2;
    border: 1px solid #1688D1;
    padding: 10px;
    margin-top: 25px;
}

.tmpl-style-81 .other-info__to-info p {
    margin-top: 0;
}

.tmpl-style-81 .other-info__to-info p:last-child {
    margin-bottom: 0;
}

.tmpl-style-81 .structured-content__tabs .simple-tab-header {
    padding: 0;
}

.tmpl-style-81 .structured-content__tabs .simple-tab-header a {
    margin-right: 5px;
    font-size: 14px;
}

.tmpl-style-81 .structured-content__tabs .simple-tab-header a span {
    padding: 15px 10px;
    background: #f2f2f2;
}

.tmpl-style-81 .structured-content__tabs .simple-tab-header a.opened span {
    background: #1688D1;
    color: #fff;
}

.tmpl-style-81 .structured-content__tabs .simple-tab-content .simple-tab.opened {
    background: #f2f2f2;
}

.tmpl-style-81 .structured-content__tabs .simple-tab-content .simple-tab .master-info {
    margin-top: 20px;
}

.tmpl-style-81 #showReviews * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.tmpl-style-81 #terminy .ui-jqgrid {
    border: none;
}

.tmpl-style-81 #terminy .ui-state-default {
    background: transparent none !important;
    border: none;
}

.tmpl-style-81 #terminy .ui-jqgrid-view .ui-state-hover,
.tmpl-style-81 #terminy .ui-jqgrid-view .ui-state-highlight {
    background: #f5f5f5;
    color: #5d5d5d;
}

.tmpl-style-81 #terminy .ui-jqgrid-view th {
    color: #444;
    font-size: 12px;
    text-align: left;
    border: none;
    padding: 10px 0;
    height: 34px;
    border-bottom: 1px solid #fff;
}

.tmpl-style-81 #terminy .ui-jqgrid-view th div {
    height: auto;
}

.tmpl-style-81 #terminy .ui-jqgrid-view .jqgfirstrow td {
    padding: 0;
    border: 0;
}

.tmpl-style-81 #terminy .ui-jqgrid-view td {
    padding: 10px 5px;
    font-size: 12px;
    border-bottom: 1px solid #fff;
}

.tmpl-style-81 #terminy .ui-jqgrid-view td[aria-describedby="grid_accommodation_id"] {
    text-align: left !important;
}

.tmpl-style-81 #terminy .ui-jqgrid-view td[aria-describedby="grid_price"] {
    text-align: left !important;
    color: #1688D1;
}

.tmpl-style-81 #terminy .ui-jqgrid-view td a {
    color: #1688D1;
}

.tmpl-style-81 #terminy .ui-jqgrid .ui-pg-table {
    font-size: 12px;
}

.tmpl-style-81 #terminy .ui-jqgrid .ui-pg-table td {
    padding: 2px;
}

.tmpl-style-81 #terminy .ui-jqgrid .ui-pg-table input {
    width: auto;
}

.tmpl-style-81 .local-rating-box {
    background: none repeat scroll 0 0 #dbdbdb;
    border: 1px solid #bbb;
    clear: both;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/******************** Šablona ID 82 / amadeus *******************/
.tmpl-style-82 .date-detail *,
.tmpl-style-82 .acc-detail * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tmpl-style-82 .top-bar {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
}

.tmpl-style-82 .date-detail > div,
.tmpl-style-82 .acc-detail > div {
  margin-bottom: 25px;
}

.tmpl-style-82 .date-detail__top-title h2,
.tmpl-style-82 .acc-detail__top-title h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.tmpl-style-82 .date-detail__detail-box,
.tmpl-style-82 .acc-detail__detail-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.tmpl-style-82 .detail-box__thumb {
  width: 60%;
  padding: 0 24px 0 0;
  position: relative;
}

.tmpl-style-82 .detail-box__thumb a {
  display: block;
}

.tmpl-style-82 .detail-box__thumb .thumb__image {
  position: relative;
  width: 100%;
}

.tmpl-style-82 .detail-box__thumb .thumb__image::before {
  content: '';
  display: block;
  padding-top: 75%;
}

.tmpl-style-82 .detail-box__thumb .thumb__image a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.tmpl-style-82 .detail-box__thumb .thumb__image img {
  width: 100%;
  height: 100%;
}

.tmpl-style-82 .detail-box__thumb .thumb__image .lm-wrap,
.tmpl-style-82 .detail-box__thumb .thumb__image .fm-wrap,
.tmpl-style-82 .detail-box__thumb .thumb__image .tip-wrap {
  position: absolute;
  left: 0;
  background: #1688d1;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  display: none;
}

.tmpl-style-82 .is-lm .detail-box__thumb .thumb__image .lm-wrap {
  display: block;
}

.tmpl-style-82 .is-fm .detail-box__thumb .thumb__image .fm-wrap {
  display: block;
}

.tmpl-style-82 .is-tip .detail-box__thumb .thumb__image .tip-wrap {
  display: block;
}

.tmpl-style-82 .detail-box__thumb .thumb__image .lm-wrap {
  top: 0;
}

.tmpl-style-82 .detail-box__thumb .thumb__image .fm-wrap {
  bottom: 0;
}

.tmpl-style-82 .detail-box__thumb .thumb__image .tip-wrap {
  top: 0;
  right: 0;
  left: auto;
}
.tmpl-style-82 .detail-box__thumb .thumb__params {
  margin-top: 20px;
}

.tmpl-style-82 .detail-box__thumb .thumb__gallery ul {
  padding: 0;
  margin: 0;
  margin-top: 3px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.tmpl-style-82 .detail-box__thumb .thumb__gallery ul li {
  margin: 0;
  width: 33.3333%;
  float: none;
  display: inline-block;
  position: relative;
}

.tmpl-style-82 .detail-box__thumb .thumb__gallery ul li::before {
  content: '';
  display: block;
  padding-top: 75%;
}

.tmpl-style-82 .detail-box__thumb .thumb__gallery ul li img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tmpl-style-82 .detail-box__info-box {
  width: 40%;
  padding-bottom: 96px;
  background: #f2f2f2;
  position: relative;
}
.tmpl-style-82 .acc-detail .detail-box__info-box {
  padding-bottom: 56px;
}

.tmpl-style-82 .info-box__description {
  padding: 15px;
  font-size: 12px;
}

.tmpl-style-82 .info-box__description > div {
  margin-bottom: 10px;
}

.tmpl-style-82 .info-box__description > div:last-child {
  margin-bottom: 0;
}

.tmpl-style-82 .info-box__description strong {
  font-size: 14px;
  display: block;
  border-top: 1px solid #d3d3d3;
  padding-top: 3px;
}

.tmpl-style-82 .date-detail .info-box__description > div {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 0;
  padding: 10px 0;
}

.tmpl-style-82 .date-detail .info-box__description strong {
  display: inline;
  padding-top: 0;
  padding-left: 10px;
  border: 0;
}
.tmpl-style-82 .acc-detail .info-box__description .description__map .mapElement{
  height: 123px;
}
.tmpl-style-82 .acc-detail .info-box__description .description__map #map_info{
  font-size: 10px;
}
.tmpl-style-82 .acc-detail .info-box__description .description__weather table{
  width: 100%;
  border-spacing: 0;
}
.tmpl-style-82 .acc-detail .info-box__description .description__weather table tr td{
  text-align: center;
  border-bottom: 1px solid  #e2e2e2;
}
.tmpl-style-82 .acc-detail .info-box__description .description__weather table tr td:first-of-type{
  text-align: left;
}
.tmpl-style-82 .acc-detail .info-box__description .description__weather table tr td:last-of-type{
  text-align: right;
  font-weight: bold;
}

.tmpl-style-82 .date-detail .info-box__description .description__date {
  font-size: 110%;
}

.tmpl-style-82 .date-detail .info-box__description .description__date .img-availability {
  width: 16px;
  vertical-align: middle;
}

.tmpl-style-82 .date-detail .info-box__description .description__date #group-availability-text {
  display: none;
}

.tmpl-style-82 .date-detail .info-box__description .description__date strong {
  padding-left: 0;
}

.tmpl-style-82 .info-box__price {
  position: absolute;
  padding: 15px 25px;
  width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
  background: #1688D1;
  color: #fff;
  text-align: center;
  font-size: 22px;
}

.tmpl-style-82 .info-box__price a {
  color: #fff;
  text-decoration: none;
}

.tmpl-style-82 .info-box__price span {
  display: block;
}

.tmpl-style-82 .info-box__price .discount {
  font-size: 80%;
}

.tmpl-style-82 .info-box__price .original-price {
  font-size: 80%;
  text-decoration: line-through;
}

.tmpl-style-82 .other-info__erased {
  background: #FFB7B7;
  border: 1px solid #EF2B2B;
  font-size: 1.5em;
  text-align: center;
}

.tmpl-style-82 .other-info__to-info {
  background: #f2f2f2;
  border: 1px solid #1688D1;
  padding: 10px;
  margin-top: 25px;
}

.tmpl-style-82 .other-info__to-info p {
  margin-top: 0;
}

.tmpl-style-82 .other-info__to-info p:last-child {
  margin-bottom: 0;
}

.tmpl-style-82 .structured-content__tabs .simple-tab-header {
  padding: 0;
}

.tmpl-style-82 .structured-content__tabs .simple-tab-header a {
  margin-right: 5px;
  font-size: 14px;
}

.tmpl-style-82 .structured-content__tabs .simple-tab-header a span {
  padding: 15px 10px;
  background: #f2f2f2;
}

.tmpl-style-82 .structured-content__tabs .simple-tab-header a.opened span {
  background: #1688D1;
  color: #fff;
}

.tmpl-style-82 .structured-content__tabs .simple-tab-content .simple-tab.opened {
  background: #f2f2f2;
}

.tmpl-style-82 .structured-content__tabs .simple-tab-content .simple-tab .master-info {
  margin-top: 20px;
}

.tmpl-style-82 #showReviews * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.tmpl-style-82 #terminy .ui-jqgrid {
  border: none;
}

.tmpl-style-82 #terminy .ui-state-default {
  background: transparent none !important;
  border: none;
}

.tmpl-style-82 #terminy .ui-jqgrid-view .ui-state-hover,
.tmpl-style-82 #terminy .ui-jqgrid-view .ui-state-highlight {
  background: #f5f5f5;
  color: #5d5d5d;
}

.tmpl-style-82 #terminy .ui-jqgrid-view th {
  color: #444;
  font-size: 12px;
  text-align: left;
  border: none;
  padding: 10px 0;
  height: 34px;
  border-bottom: 1px solid #fff;
}

.tmpl-style-82 #terminy .ui-jqgrid-view th div {
  height: auto;
}

.tmpl-style-82 #terminy .ui-jqgrid-view .jqgfirstrow td {
  padding: 0;
  border: 0;
}

.tmpl-style-82 #terminy .ui-jqgrid-view td {
  padding: 10px 5px;
  font-size: 12px;
  border-bottom: 1px solid #fff;
}

.tmpl-style-82 #terminy .ui-jqgrid-view td[aria-describedby="grid_accommodation_id"] {
  text-align: left !important;
}

.tmpl-style-82 #terminy .ui-jqgrid-view td[aria-describedby="grid_price"] {
  text-align: left !important;
  color: #1688D1;
}

.tmpl-style-82 #terminy .ui-jqgrid-view td a {
  color: #1688D1;
}

.tmpl-style-82 #terminy .ui-jqgrid .ui-pg-table {
  font-size: 12px;
}

.tmpl-style-82 #terminy .ui-jqgrid .ui-pg-table td {
  padding: 2px;
}

.tmpl-style-82 #terminy .ui-jqgrid .ui-pg-table input {
  width: auto;
}

.tmpl-style-82 .local-rating-box {
  background: none repeat scroll 0 0 #dbdbdb;
  border: 1px solid #bbb;
  clear: both;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}