
/*****
 * SIMPLE FORM 
 ***/
input[type=text],
input[type=password],
textarea,
select {
  font-size: 11px;
  border: solid #9BCBDF 1px;
  padding: 0;
  width:110px;
}

input[type=checkbox] {
  border: 0px;
}

input[type=text],
input[type=password],
select {
  height: 22px;
  line-height:22px;
  background: url("http://www.dovolena.cz/images/uglyforms/input.png");
}
select{
  width:60px;
}
select option {
  padding: 1px 3px;
  background: #fff;
}

input[type=text].invalid,
input[type=password].invalid,
select.invalid {
  background: url("http://www.dovolena.cz/images/uglyforms/input_error.png") repeat scroll 0 0 transparent;
  border: 1px solid #FF2200;
}

textarea {
  background: url("http://www.dovolena.cz/images/uglyforms/input_flat.png") repeat scroll 0 0 transparent;
  line-height: 16px;
}

input[type=submit] {
  background: #FFC url('http://www.dovolena.cz/images/uglyforms/button.png') repeat-x;
  padding: 4px;
  font-weight: bold;
  border:1px solid #FF8817;
  cursor:pointer;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: solid #337eff 1px;
}

input[type=submit]:hover {
  background-color: #900;
  background-position: 0 -30px;
  color: #fff;
}

input[type=text].uf_error,
input[type=password].uf_error{
  border: solid #ff2200 1px;
  background: url('http://www.dovolena.cz/images/uglyforms/input_error.png');
}


/**
 * STYLE
 */

body {
  font-family: Arial, helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 450px;
}

a{
  color:#FF7E00;
}
a:hover{
  color:#FFB866;
}


fieldset {border:0; padding:10px 0;}
label {display: block;font-size:11px;}
select {font-size: 11px}
table td {padding-right: 5px}
table th {text-align: left}
input {font-size: 11px}

fieldset legend {
  font-weight: bold;
}

div.inline-form div.text {min-width: 50px}
div.inline-form div.checkbox label {display: inline}
.submit {text-align: center;}


.clear {clear: both}
.inline-form {float: left; margin: 0 10px 5px 0;}

.trip-reservation-form {
    background: none repeat scroll 0 0 #D0ECF7;
    border: 1px solid #9BCBDF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #606060;
    padding: 8px 3px;
    margin-bottom: 3px;
    xwidth: 450px;
    max-width: 450px;
}

#CustomerNote{
  width:425px;
}


.sessionFlash,
.message {
  color:red;
  padding: 1px 10px;
  font-weight:bold;
}
.sessionFlash button.close {
	display: none;	
	}


.required{
  font-size:11px;
}
#RoomRoom{
  width:250px;
}

label[for=Client1Surname],
label[for=Client1FirstName],
label[for=Client1Salutation] {
  padding-top: 13px;
}
label[for=Client1Birth] {
  line-height: 13px;
}


.customer input {
  width: 206px;
}

#CustomerHouseNumber,
#CustomerZip,
#CustomerBirth {
  width: 90px;
}



/* NEW */

.ui-corner-all {
/*    border: 1px solid #9BCBDF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; */
    border: 0 none;
    border-bottom: 1px solid #B3DB9E;
	}
.ui-widget {
    background: none repeat scroll 0 0 transparent;
    color: #606060;
    padding: 8px 3px;
    margin-bottom: 3px;
	}
#fieldid-allocation table {
	width: 100%;
	}
#fieldid-allocation table div.input {
	width: 100%;
	}
#fieldid-allocation table div.input select {
	width: 100%;
	}
#fieldid-allocation div.input {
	width: 49%;
	float: left;
	}
#fieldid-allocation div.input label {
	width: 49%;
	float: left;
	}
#fieldid-combination div.input label {
	width: 25%;
	float: left;
	}
#fieldid-combination div.input select {
	width: 68%;
	}
#fieldid-customer div.inline-form {
	width: 45%;
	}
#fieldid-customer div.inline-form input {
	width: 100%;
	}
div.error input[type=text] {
	border: solid #ff2200 1px;
	background: url('http://www.dovolena.cz/images/uglyforms/input_error.png');
	}
div.error.checkbox {
	border: solid #ff2200 1px;
	background: url('http://www.dovolena.cz/images/uglyforms/input_error.png');
	}
.required label strong::after {
	color: #C00;
	content: ' *';
	display: inline;
	}
#wrapper {
	background: none repeat scroll 0 0 #DEF2D4;
	border: 1px solid #B3DB9E;
	border-radius: 5px 5px 5px 5px;
	width: 450px;
	}
.sessionFlash,
.message{
	color: blue;
	}
.sessionFlash button.close {
	display: none;	
	}


fieldset {
	border: 0 none;
	padding: 5px 0;
	}
h3.g_header {
    background: url("http://www.dovolena.cz/images/bg_green_header.png") repeat-x scroll 0 0 transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    display: block;
    left: 0;
    line-height: 24px;
    margin: 0;
    padding: 5px 9px;
    position: relative;
    top: 0;
	}
h3.g_header span {
	color: orange;
	position: absolute;
	right: 10px;
	}
input.f-submit.next-step {
	background: url("http://www.dovolena.cz/images/bg_res_button.png") repeat-x scroll 0 0 transparent;
	padding: 4px;
	border: 1px solid #FF8817;
	cursor: pointer;
	color: white;
	width: 310px;
	font-family: arial;
	height: 42px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0;
	}
.f_phone_text {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: darkOrange;
	}
.f_phone_text span {
	font-size: 40px;
	}
div.short {
	width: 136px;	
	}
div.strong {
	font-weight: bold;
	}

