.location-area {
    width: 100%;
}
.location-area .area-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.location-area .country {
    width: 100%;
    padding: 10px;
    font-size: 1.4em;
	box-sizing: border-box;
    min-height: 40px;
    border-bottom: 1px solid #aaaaaa;
}
.location-area .country:nth-child(2n+1) {
    background: #eee;
}
.location-area .country:hover {
    background: #dadada;
}
.location-area .country a {
    display: block;
    width: 44%;
    float: left;
    position: relative;
    padding-left: 20px;
}
.location-area .country a:before {
    content: '>';
    position: absolute;
    left: 0;
    color: #aaa;
    font-weight: 800;
    font-size: 22px;
    top: -3px;
}
.location-area .country span.count-accommodations {
    width: 19%;
    display: block;
    float: left;
}
.location-area .country span.min-price {
    text-align: right;
    display: block;
    float: right;
    font-weight: 600;
}
.location-area .country span.alt-price {
    display: block;
    text-align: right;
    float: right;
    margin-left: 7%;
    min-width: 60px;

}