/**
 *	Styly pro veřejnou část, pro koncové zákazníky - customers.
 *	@author Martin Takáč
 */


/**
 *	Barvy
 * /
div.customer fieldset {
	background-color: #f6f7f8;
	}
*/

/**
 *	Velikost a rozmístění.
 */
div.featurebox fieldset {
	margin-top: 1em;
	}
.featurebox form div.input {
	width: 100%;
/*	border: 1px solid blue;*/
	}
.featurebox form label {
	width: 140px;
	display: block;	
	float: left;
	clear: left;
	}

input.datepicker {
	width:100px;
	}


.featurebox form div.input {
	padding: 3px 0px;
	}


.featurebox.view h2 {
	margin-bottom: 0.5em;
	}
	
.featurebox.view table {
	width: 100%;
	border: 1px solid gray;
	border-spacing: 0;
	}
.featurebox.view th {
	width: 140px;
	font-weight: normal;
	text-align:right;
	padding: 3px 6px;
	}
.featurebox.view td {
	font-weight: bold;
	}

.featurebox.index table {
	width: 100%;
	border: 1px solid gray;
	border-spacing: 0;
	}
.featurebox.index th {
	width: 140px;
	font-weight: normal;
	padding: 2px 0 2px 2px;
	text-align: left;
	}
.featurebox.index td {
/*	font-weight: bold;*/
/*	border-left: 1px solid blue;*/
	padding: 3px;
	}

.featurebox.index td.datetime {
	width: 140px;
	}
.featurebox.index .price,
.featurebox.index .frequency,
.featurebox.index .layout {
	width: 20px;
	text-align: center;
	}
	
.customer table.dict {
/*	border: 0 none;	*/
	}
.customer table.dict td {
	padding: 5px;
	}

.customer td.actions {
	vertical-align: baseline;
	}

.required label:after {
	content: ' *'; 
	display:inline;
	}
.required label {
	font-weight: bold;
	}
.customers-content .cd-content td {
	font-weight: normal;
	}
