.dest-selector{
	color: #444;
	border: 1px solid #BBBBBB;
	background: #FEFEFE;
	background: linear-gradient(to bottom, #FEFEFE 0%, #F0F0F0 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 100;
	width: 500px;
	height: 400px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 	
.dest-selector *{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.dest-selector .inner{
	padding: 10px;
}

.dest-selector .list-unstyled{
	margin: 0;
	padding: 0;
}
.dest-selector .list-unstyled li{
	list-style-type: none;
}
.dest-selector .model-selector-filter-header {
	position: relative;
}
.dest-selector .model-selector-filter-header .filter-group{
	border-collapse: separate;
	display: table;
	position: relative;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}
.dest-selector .model-selector-filter-header .filter-group input,
.dest-selector .model-selector-filter-header .filter-group span{
	display: table-cell;
	font-size: 13px;
	vertical-align: middle;
	white-space: nowrap;
}
.dest-selector .model-selector-filter-header .filter-group input{
	width: 100%;
	padding: 5px 7px;
	border:0;
	margin:0;
	font-size: 12px;
	height: 26px;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.dest-selector .model-selector-filter-header .filter-group input:focus{
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}
.dest-selector .model-selector-filter-header .filter-group span.filter-group-addon{
	background-color: #EEEEEE;
	line-height: 1;
	padding: 4px 9px;
	border-radius: 3px 0 0 3px;
	text-align: center;
	width: 1%;
	position: relative;
}
.dest-selector .model-selector-filter-header .filter-group span.filter-group-btn{
	border-radius: 0 3px 3px 0;	
	background: #F8F8F8;
	background: linear-gradient(to bottom, #F8F8F8 0%, #E5E5E5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	position: relative;
	font-size: 12px;
	white-space: nowrap;
}
.dest-selector .model-selector-filter-header .filter-group span.filter-group-btn:hover{
	background: #E1E1E1;
}
.dest-selector .model-selector-filter-header .filter-group span.filter-group-btn button{
	cursor: pointer;
	width: 100%;
	font-size: 12px;
	padding: 4px 0;
	display: inline-block;
	color: #444;
	border: 0;
	margin: 0;
	background: none;
}

.dest-selector .model-selector-content {
	position: absolute;
	top: 42px;
	left: 10px;
	right: 10px;
	bottom: 45px;
}
.dest-selector .list-wrapper {
	overflow: hidden;
	position: relative;
	min-height: 1px;
	height: 100%;
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.dest-selector ul.modal-selector-list {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.dest-selector ul.modal-selector-list li {
	margin: 1px 0 0;
	padding: 2px 4px;
	display: block;
}
.dest-selector ul.modal-selector-list .listSeparator {
	padding: 2px 4px;
	margin: 4px 3px 1px 0;
	font-weight: bold;
	background: #F0F0F0;
	border: 1px solid #DDD;
	border-radius: 3px;
}
.dest-selector ul.modal-selector-list li.hiddenByFilter {
	display: none !important;
}
.dest-selector ul.modal-selector-list li.shownByFilter {
	display: block !important;
}
.dest-selector ul.modal-selector-list li.slaveDestination {
	margin: 0;
}
.dest-selector ul.modal-selector-list li.slaveDestination[data-slave-depth="5"] {
	padding-left: 100px;
}
.dest-selector ul.modal-selector-list li.slaveDestination[data-slave-depth="4"] {
	padding-left: 80px;
}
.dest-selector ul.modal-selector-list li.slaveDestination[data-slave-depth="3"] {
	padding-left: 60px;
}
.dest-selector ul.modal-selector-list li.slaveDestination[data-slave-depth="2"] {
	padding-left: 40px;
}
.dest-selector ul.modal-selector-list li.slaveDestination[data-slave-depth="1"] {
	padding-left: 20px;
}
.dest-selector ul.modal-selector-list li.masterDestination {
	margin: 3px 3px 0 0;
	background: #F0F0F0;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.dest-selector ul.modal-selector-list li.masterDestination.hasAccordion,
.dest-selector ul.modal-selector-list li.masterDestination.hasAccordion label {
	cursor: pointer;
}
.dest-selector ul.modal-selector-list li.masterDestination input {
	display: none;
}
.dest-selector ul.modal-selector-list li#nothingFound {
	color: #C1C1C1;
	font-size: 20px;
	padding: 0px 20px;
}
.dest-selector ul.modal-selector-list li label {
	display: block;
	margin: 0;
	width: auto;
}
.dest-selector ul.modal-selector-list li label input {
	margin: 0 3px;
	display: inline-block;
	vertical-align: middle;
	width: auto;
}
.dest-selector ul.modal-selector-list li label span.itemText span {
	color: #00a51b;
}
.dest-selector ul.modal-selector-list li label span.ui-icon {
	float: right;
	margin-top:-1px;
	margin-right:-1px;
}
.dest-selector ul.modal-selector-list li label span.itemCount {
	padding-left: 3px;
}
.dest-selector .wrapperCountries {
	width: 39%;
	margin-right: 1%;
	float: left;
	min-height: 1px;
}
.dest-selector .wrapperDestinations {
	width: 60%;
	float: left;
	min-height: 1px;
}
.dest-selector .row,
.dest-selector .wrapper {
	position: relative;
	height: 100%;
}
.selectedCountriesList {
	padding: 10px 10px 5px 10px;
}
.selectedCountriesList .countryListItem {
	display: inline-block;
	padding: 0px 3px 3px;
	font-weight: bold;
}
.selectedCountriesList .countryListItem span {
	float: right;
	padding-top: 1px;
	padding-left: 1px;
	cursor: pointer;
	color: red;
}

.dest-selector .model-selector-footer{
	position: absolute;
	bottom: 10px;
	right: 10px;
	left: 10px;
	text-align: right;
	border-top: 1px solid #ccc;
	padding-top: 5px;
}
.dest-selector .model-selector-footer .button{
	color: #444;
	border-radius: 3px;	
	padding: 4px 10px;
	cursor: pointer;
	background: #E1E1E1;
	background: linear-gradient(to bottom, #F8F8F8 0%, #E1E1E1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #CCC;
	font-size: 13px;
}
.dest-selector .model-selector-footer .button:hover{
	background: #E1E1E1;
}
.dest-selector .model-selector-footer .ui-icon{
	background-image: url('/img/ui/ui-icons_888888_256x240.png');
	display: inline-block;
	vertical-align: middle;
}

/* otevírací tlačítko - napodobení vzhledu ostatních selektů */
.searchmask-global .dest-selector-opener{
	width: 100%;
	min-width: 135px;
	overflow: hidden;
	position: relative;
	border: solid 1px #BBB;
	line-height: 1.5;
	text-decoration: none;
	text-align: left;
	color: #000;
	outline: none;
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e1e1e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e1e1e1));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e1e1e1 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#e1e1e1 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#e1e1e1 100%);
	background: linear-gradient(to bottom,  #f8f8f8 0%,#e1e1e1 100%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	cursor: default;
}
.searchmask-global .dest-selector-opener:hover{
	text-decoration: none;
	color: inherit;
}
.searchmask-global .dest-selector-opener.opened{
	border-color: #666;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.searchmask-global .dest-selector-opener-lbl{
    display: block;
	border-right: 8px solid transparent;
	color: #000000;
    overflow: hidden;
    padding: 2px 8px;
    white-space: nowrap;
}
.searchmask-global .dest-selector-opener:hover .dest-selector-opener-lbl{
	color: #444444;
}