#expectacbox{
    height: 780px; width: 1002px; position: absolute; margin: -2px 0 0 -55px;
	/* z-index: 1000 ;*/
}
#expectacboxTopLeft {
    background: url("/img/expecta/colorbox/borderTopLeft.png") no-repeat scroll 0 0 transparent;
    height: 21px;
    width: 21px;
    float: left;
}
#expectacboxTopCenter {
    background: url("/img/expecta/colorbox/borderTopCenter.png") repeat-x scroll 0 0 transparent;
    height: 21px;
    float: left;
    width: 960px;
}
#expectacboxTopRight {
    background: url("/img/expecta/colorbox/borderTopRight.png") no-repeat scroll 0 0 transparent;
    height: 21px;
    width: 21px;
    float: left;
}
#expectacboxMiddleLeft {
    background: url("/img/expecta/colorbox/borderMiddleLeft.png") repeat-y scroll 0 0 transparent;
    width: 21px;
    float: left; 
    height: 738px;
}
#expectacboxContent {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left; 
    height: 738px; 
    width: 960px;
}
#expectacboxCont {
    display: block; 
    width: 960px; 
    height: 710px;
}
#expectacboxMiddleRight {
    background: url("/img/expecta/colorbox/borderMiddleRight.png") repeat-y scroll 0 0 transparent;
    width: 21px;
    float: left; 
    height: 738px;
}
#expectacboxBottomCenter {
    background: url("/img/expecta/colorbox/borderBottomCenter.png") repeat-x scroll 0 0 transparent;
    height: 21px;
    float: left; 
    width: 960px;
}
#expectacboxBottomLeft {
    background: url("/img/expecta/colorbox/borderBottomLeft.png") no-repeat scroll 0 0 transparent;
    height: 21px;
    width: 21px;
    float: left;
}
#expectacboxBottomRight {
    background: url("/img/expecta/colorbox/borderBottomRight.png") no-repeat scroll 0 0 transparent;
    height: 21px;
    width: 21px;
    float: left;
}