/* css kod objednávkového formuláře na frontendu - skládá se z jednotlivých elementů/pluginů - occupancy-form, price-list, order-form */
/* boxy, sekce */
.local-booking-form .box{
	padding: 1em 0;
}
.local-booking-form .box .box-content{
	background: #fff;
	padding: 1em;
}

.local-booking-form .box .box-header{
	font-size: 1.7em;
	font-weight: bold;
	padding: 0.5em;
	background: #ddd;
	vertical-align: middle;
}

/* vysledek objednavky */
.local-booking-form .booking-result{
	display:none;
	padding: 1em;
}
.local-booking-form .booking-result.error{
	background: #F2DEDE;
	color: #A94442;
	border: 1px solid #EBCCD1;
}
.local-booking-form .booking-result.success{
	background: #DFF0D8;
	color: #3C763D;
	border: 1px solid #D6E9C6;
}

/* poznamka k objednavce pod carou */
.local-booking-form .price-notes {
	margin-top: 35px;
	border-top: 1px solid #d7d7d7;
}
.local-booking-form .price-notes p {
	font-size: 80%;
}

