/***** Page layout  *****/

 
#offer ul li {float:left;width:19.9%;}
#offer ul a {zoom:1;}
.offer-bar ul li {float:left;width:19.9%;}
.offer-bar ul a {zoom:1;}
#offer p {margin:4px  0 0 0;} 
#offer .p {
	  font-weight: bold;
	  text-align: center;
	  margin-top: 27px;	   	
} 
