/* Version: 1.0 (Jan 24, 2007), darkmay.com */
/* Version: 2.3 (Aug 11, 2009), darkmay.com */


/***** Body and fonts settings *****/
* {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

.no-print {display: none}

#offer-detail table td {background: #f1f1f1!important}

#offer-detail table th {background: #f9f9f9!important}

body {
	margin:0;
	padding:0;
	font-family:  Arial CE, arial, helvetica, sans-serif;
	font-size: 10pt; 
	color:#364A90;
	background: none!important;
}


#menu {display: none}
#search-mask {display: none}
/*#LocalBookingAddForm {display: none}*/
.master-title  {display: none}

a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
a:link {}
a:visited {}
a:active {}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 2.0em;
	font-weight: normal;
	margin-top: 0em;
	margin-bottom: 0em; 
}
h2 {
	font-size: 1.7em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}
h3 {
	font-size: 1.4em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
}
h4 {
	font-size: 1em;
	margin: .4em 0em .4em 0em;
	padding: .2em;
	font-weight: bold;
	background: #258bc9;
	color: white; 
}
h5 {
	font-size: 1.0em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
}
h6 {
	font-size: 0.8em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
} 
img {
	border: 0;
    page-break-inside: avoid;
    max-width: 100% !important;
}
ul{
   page-break-inside: avoid;
}
p {
	font-size: 1.0em;
	line-height: 1.3em;
	margin: 1.2em 0em 1.2em 0em;
}
li > p {
	margin-top: 0.2em;
}
.clear {
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/***** Forms desing *****/



select{
	width: 180px;
	margin-bottom: 5px;

}

textarea{
	width: 400px ;
	height: 150px;
}

.boxes{
	width: 1em;
}

#submitbutton{
	margin-left: 120px;
	margin-top: 5px;
	width: 90px;
}

br{
	clear: left;
}



/***** Page layout  *****/

#main {                               
	margin: 0 auto;   
	width: 100%       
}

#main-bg-fixed {
	width: 100%;  
	background: none
}
#main-bg {
	width: 100% ;
	background: none   
}
#wrap {
	margin: 0 auto; 
	width: 100%;
	position: relative;
	background: none
}
#inner {
	border: 5px solid white;
}
#head, #head img  {
	display: none;
}
#cont  {
	background: none;	
}

#master  {
	width: 100% ;
}

#floating{
	display:none;
}


/* slavery */


#left-slave  {
	display: none; 
}

#right-slave  {
	display: none; 
}	   

#footer  {
	height: 30px;
	line-height: 30px;
	text-align: right;
	padding-right: 15px;
	margin-top: 15px;
	background: #fff;
	border-top: 2px solid #ebebeb;
}

.right {
	float: right;
}     

.ppad {
	margin: 0 0 10px 0!important;
	padding: 0!important;
}     

.side-price {
	font-weight: bold;
}   

/* addes styles */
/* side-box styles */ 
.sidebox {
	width: 145px!important;
	min-height: 100px;
	background: #f3f2fd;
	clear: both;
	margin-bottom: 5px;
}
.sidebox a {
	text-decoration: underline; 
}

.sidebox p {
	margin:0;padding:5px;
	font-size: 10px;
	color: #386196;
}

.sidebox table {
	width: 140px!important;		
}      

.sidebox table td {
	font-size: 10px;	
} 
.sidebox input {
	width: 130px!important;
	font-size: 10px;			
} 

.sidebox .submit {
	margin: 10px 0;			
}

.side-offer  {
	clear: both;		
}      

.side-weather ul {
	margin:0;padding:0;

}

.side-weather li {
	display: inline;
	line-height: 10px;
	padding:10px 2px;
	font-size: 10px;
	text-align: left;	 
}
.side-weather li img {
	position: relative;
	top: 9px;
}

.side-weather p {
	width: 100px;
	background: red;
}

/* offer  */

#offer ul,
#offer table {
	width:100%; 
	margin:0;
	padding:0;
}


#offer table tr {

	border-bottom:1px solid #ccc;
}


#offer table th {
	text-align: left;
	border-bottom: 1px solid #258CC9;
	padding: 2px 0;
}



#offer table td {
	border-bottom:1px solid #ccc;
	list-style:none;   
	vertical-align: top;
	width: 100px; 
	margin:0;padding:1px 5px 0 0;
}





#offer .img {
	border: 2px solid #ccc;
	vertical-align: bottom;
	margin:3px 0;
	width: 90px;
	height: 60px;	
}

#offer p {
	margin:2px 0px;
}  

#offer .p {
	font-weight: bold;
	text-align: center;	   	
}
#offer .nb {
	border: 0;

}
#offer a {
	text-decoration: underline;
	text-align: left;
}

/*\*//*/ 
#offer ul {
	display:block;
}
#offer ul li {
	display:inline-block;width:19.5%;
} 
/* */

.offer-bar ul,
.offer-bar table {
	width:100%; 
	margin:0;
	padding:0;
	background: #fff;
	font-weight: bold;
	color: #258CC9;
	border-bottom: 1px solid #3197d7;

}


.offer-bar  ul {
	display:table;
	text-decoration:none;
	line-height: 1.4em;
}

.offer-bar ul li {
	display:table-cell;
	list-style:none;   
	vertical-align: middle;
	width: 100px;  
}

.offer-bar a  {
	color: #000;
	text-decoration: underline;
	text-align: left!important;
	white-space: pre;
	background: blue;
}

.offer-bar-head {
	height: 25px;
}

.offer-bar-head a {
	background: #ffffff;
	color: #258CC9;
}


/* master added styles */    

.news-bar {
	width: auto; min-height: 80px;
	margin-bottom: 10px;
	line-height: 14px; 
	background: #f4f2fd;
	padding: 3px;
}

.news-bar span {
	float: left;
}

.news-bar img {
	float: left;
	border: 2px solid #ccc;
	margin-right: 10px;
}

.news-bar h2
{  font: bold 12px/18px Tahoma, sans-serif;
	padding:  0;
	margin: 0;
	margin-bottom: 5px;
	text-transform: uppercase; 
}

.news-bar p {
	padding: 0px;
	margin: 0;
	margin-bottom: 5px;
	text-align:justify;
}

.paging {
	text-align:center;
}

.paging a {
	display:inline;
}

.paging div {
	display:inline;
}


.gallery td {
	padding-bottom:5px;
}


/* search mask */

#search-mask {
	padding: 5px 0;
	margin-bottom: 10px;
	background: #f3f2fd
}

#search-mask table {
	width: 100%;
	padding: 5px  ;		
}
#search-mask table td{
	color: #515151;
	padding: 2px;
	font-weight: bold;		
}




/* Detail table */
#offer-detail  table {
	margin: 0; padding: 0;	
	width: auto;

}

#offer-detail  table th {

	padding: 0.4em  0.4em;
	background: #E8F3FF;  
	text-align: left; 
}      
#offer-detail  table td {
	vertical-align: top;
	padding: 0.4em  0.8em;
	background: #f5f9fe;  
	text-align: left; 
}    

#offer-detail  .trip-id {
	width: 100%;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #000;
	text-align: right;	
	margin-bottom: 5px;	
}


#offer-detail  strong  {
	color: red;
	font-size: 12px;
}

#offer-detail  h1 {

} 

#offer-detail  h3  {
	margin: 0;
	font-weight: normal;
	color: #424242;
	font-size: 15px;
}

#offer-detail  h3  span {

	color: red;	 
}

.hotel-description   {
	margin: 10px 0; 
}

.hotel-description table  {

}

.hotel-description img  {
	border: 2px solid #ccc;
	margin: 0 0 0 10px;

} 

.hotel-description p {
	text-align: justify;
	margin:5px 0;
}

#country-detail {
	padding-top: 7px;
}

#country-detail p {
	text-align: justify;
}

#country-detail table {
	width: 100%;
}

#country-detail td {
	padding: 0.1em  0.8em;
	background: #f5f9fe;  
	text-align: justify; 	
}

#country-detail th {
	padding: 0.4em  0.4em;
	background: #E8F3FF;  
	text-align: left; 	
}

#country-detail  h3  {
	margin: 0;
	font-weight: normal;
	color: #424242;
	font-size: 15px;
}

#country-list p {
	text-align: justify;
	line-height:normal;
}

.advert-bar {

	margin:0 0 5px 0;
}  

.other-pictures {
	width: auto!important;
}
.other-pictures img  {
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}


.kurzovni-listek table  {
	margin: 0; padding: 0;	
	width: 100%; 
}     

.kurzovni-listek table th {

	padding: 0.4em  0.4em;
	background: #E8F3FF;  
	text-align: left; 
}      
.kurzovni-listek table td {
	vertical-align: top;
	padding: 0.4em  0.8em;
	background: #f5f9fe;  
}  
.form  table{

	width: auto;
	font-size: 11px;
}
.form  table td {
	text-align: left;
	padding: 5px 10px;
	background: #e8f3ff;
}    
.form  table th { 
	text-align: left;
	background: #f5f9fe;
	padding: 5px 10px;
}
.required {
	text-align: left;
}

.tour_operator_name {
	float: right;
	font-size: 9px;
	color: #ccc
	
}


/****************** print pro ver 2.3 ******************/

/****************************************************** top offer špalek css  ******************************************************/
.top-offer-square {width: 150pt; height: 250pt; display: block; border: 1px solid black; float: left; margin: 5px; font-size: 12pt; text-align: center}
.top-offer-square p {margin: 0;padding:2px 0 0 0}
.tos-lm img {border: 1px solid black;}
.img {border: 1px solid black; margin: 0 0 4pt 0}
.top-offer-square h1 {margin: 3pt 0}


/****************************************************** top offer normalni vypis css (class top-offer-huge-line)  ************************/

.top-offer-huge-line {width: 100%; font-family: Arial; margin-bottom:2px}
.top-offer-huge-line h1 {width: 100%; height: 20px; background-color: #940808; color:#fff; padding: 0; margin: 0; text-align: right;}
.top-offer-huge-line h1 span {margin-right: 10px; font-size: 10px; line-height: 20px; text-transform: uppercase; font-weight: bold; color:#fff;}

.top-offer-huge-line .inner {height: 64px;padding:8px 8px; border: 1px solid #d6d6d6;}
.top-offer-huge-line .inner p {padding: 0;margin:0}

.top-offer-huge-line .thumb {float: left;}
.top-offer-huge-line .thumb img {border: 2px solid #ccc; width:90px}

.top-offer-huge-line .desc {float: left; margin:0 4px 0 9px;  width: 360px}
.top-offer-huge-line .desc span {color: #223a70;}
.top-offer-huge-line .desc strong {color: #940808;}
.top-offer-huge-line .desc h2 {font-size: 14px; margin: 0; padding: 0;font-weight:bold;}
.top-offer-huge-line .desc .land {font-size: 100%; font-weight:bold; font-style:italic}
.top-offer-huge-line .desc .last {font-size: 105%;}
.top-offer-huge-line .desc .last span {font-size: 11px;float: right; margin-top:-16px}
.top-offer-huge-line .desc .adds {font-size: 11px;}

.top-offer-huge-line .prices {float: right; text-align: right}
.top-offer-huge-line .prices p {padding: 0;margin:0}
.top-offer-huge-line .prices .kc {font-size: 10px;  margin-top: 17px}
.top-offer-huge-line .prices .kc a {font-size: 15px;  text-decoration: none!important; font-weight:bold;}
.top-offer-huge-line .prices .eur {font-size: 11px; color: #223a70; margin-top:5px;}
.top-offer-huge-line .prices .eur a {text-decoration:none;}


.sm-result {width: 100%; font-family: Arial; margin-bottom:2px}
.sm-result .my-tip {width: 100%; height: 20px; background-color: #940808; color:#fff; padding: 0; margin: 0; text-align: right;}
.sm-result .my-tip span {margin-right: 10px; font-size: 10px; line-height: 20px; text-transform: uppercase; font-weight: bold; color:#fff;}

.sm-result .inner {height: 64px;padding:8px 8px; border: 1px solid #d6d6d6;}
.sm-result .inner p {padding: 0;margin:0}

.sm-result .thumb {float: left;}
.sm-result .thumb img {border: 2px solid #ccc; width:90px}

.sm-result .desc {float: left; margin:0 4px 0 9px;  width: 360px}
.sm-result .desc span {color: #223a70;}
.sm-result .desc strong {color: #940808;}
.sm-result .desc h2 {font-size: 14px; margin: 0; padding: 0;font-weight:bold;}
.sm-result .desc .land {font-size: 100%; font-weight:bold; font-style:italic}
.sm-result .desc .last {font-size: 105%;}
.sm-result .desc .last span {font-size: 11px;float: right; margin-top:-16px}
.sm-result .desc .adds {font-size: 11px;}

.sm-result .prices {float: right; text-align: right}
.sm-result .prices p {padding: 0;margin:0}
.sm-result .prices .kc {font-size: 10px;  margin-top: 17px}
.sm-result .prices .kc a {font-size: 15px;  text-decoration: none!important; font-weight:bold;}
.sm-result .prices .eur {font-size: 11px; color: #223a70; margin-top:5px;}
.sm-result .prices .eur a {text-decoration:none;}

/****************************************************** Terminy zajezdu******************************************************/

#SearchmaskFilterForm, .loadingui, .loading,.msgbox, #pager, #AccommodationAddForm,  #master-info  {display: none}
.grid table {font-size: 10pt;}
.grid table td {border-top: 1px solid black; padding: 2pt; text-align: left}

/****************************************************** top offer řádkový vypis css (class top-offer-tiny-line)  ******************************************************/

.top-offer-tiny-line br {clear: both}
.top-offer-tiny-line a {}
.top-offer-tiny-line table {width: 100%; font-family: Arial; font-size: 12px;  padding: 0; margin: 0 }
.top-offer-tiny-line table td {border-bottom: 1px solid #d6d6d6; vertical-align: middle; padding:3px;}
.top-offer-tiny-line table td h2 {font-size: 12px; padding:0; margin:0;}
.top-offer-tiny-line .name {font-size: 12px; width: 50%;}
.top-offer-tiny-line .price {text-align:right; }
.top-offer-tiny-line .price a {text-decoration:none;}
.top-offer-tiny-line .country img {border: 1px solid #ccc}


/****************************************************** Detail nabidky - ceník ******************************************************/

.local-booking-form #addSurcharge,
.local-booking-form #detail_booking_text_bottom,
.local-booking-form #detail_booking_text_top,
.local-booking-form #addRoom,
.local-booking-form #numberRoom,
.local-booking-form #sumRoom,
.local-booking-form #numberSurcharge,
.local-booking-form .ui-selectmenu-menu,
.local-booking-form .ui-selectmenu-item-content,
.local-booking-form .person-form,
.local-booking-form .price-notes,
.local-booking-form .removeSurcharge,
.local-booking-form .removeRoom,
.local-booking-form .order-form{
	display: none;
}
.local-booking-form .price-count-input {width: 50px;height: 25px;font-size: 14px;}
.local-booking-form .price-sum {font-size: 15pt; font-weight: bold;}
.local-booking-form .printSurchargeName {text-align: left;}
#cenik table {width:100%;text-align: center;}
#cenik table .price-description {width:50%;text-align: left; padding-left: 5px;}
#cenik table .price-value {width:20%;}
#cenik table .price-count {width:10%;}
#cenik table .price-total {width:20%;}
#cenik table.room, #cenik table.price-detail {margin-top: 20px; border: 1px solid black;}
#cenik table.room td, #cenik table.price-detail td {border-bottom:1px solid #E6E6E6;}

/****************************************************** Detail nabidky  - info ******************************************************/
.ws-availability,
.img-availability,
.cboxElement,
.ui-tabs-nav,
.pics,
.adds-top-id,
.termin2 a,
.favourites-links{
	display: none;
}


.adds-top-id {border-bottom:1px solid #000000;height:20px;line-height:20px;margin-bottom:5px;text-align:right;width:100%;}
.adds-top-id .back {height:20px;line-height:20px}
.adds-top-id .back a{text-decoration:none}
.adds-top-title {font-family: Arial; font-size: 12px; margin-top:5px; padding:2px;}
.adds-top-title .pic-detail {float: right; clear: right}
.adds-top-title br {clear: both;}

.adds-top-title .top-headers {float: left;}
.adds-top-title .lm-pic {float: right; margin-right: 10px}
.adds-top-title .title-pic {float:left}
.adds-top-title .title-pic a{border: 1px solid #d7d7d7; display:block; width:200px;}
.adds-top-title .title-pic a:hover{border: 1px solid #223a70;}
.adds-top-title .title-pic img{max-width: 200px}
.adds-top-title .title-facts {float: left;  width: 380px; height: 133px;padding: 0  0 0 10px}
.adds-top-title .title-facts p {margin:0;}
.adds-top-title .title-facts p strong {display: block; text-decoration:underline; margin-top: 10px;}
.adds-top-title .title-facts .tf-left {float: left;  width: 190px;}
.adds-top-title .title-facts .tf-right {float: left;   width: 190px}
.adds-top-title .title-facts .tf {float: left;   width: 100%}
.adds-top-title .title-facts .tf span {color: #940808; font-weight:bold}

.adds-top-title h1 {font-size:28pt;font-weight:normal;margin:0; margin-top: 5px;}
.adds-top-title h2 {font-size:18pt;font-weight:normal;margin:0; margin-top: 3px;}
.adds-top-title h3 {font-size:12pt;font-weight:normal;margin:0;margin-top: 3px;}
.adds-top-title h3 span {margin-left: 10px}

.text th {text-align: left;font-size:12pt; padding: 5pt 0}
.text {font-size:11pt;text-align: justify }

.top-offers {margin-bottom:5px;}
.cl-offers {margin-bottom:5px;}

.adds-top-title .title-facts .tf-right p strong, .adds-top-title .title-facts .tf-left p strong { /* display: none; */}

.tf-right p span, .tf-left p span { font-size: 12pt;}


/****************************************************** simple tabs/ simple accordion  ******************************************************/
/* všechny záložky zobrazíme */
.simple-tabs .simple-tab-content > div,
.simple-accordion .accordion-content {
	display:block !important;
}

/****************************************************** šablony termín/detail/výsledky vyhledávání  ******************************************************/
.tmpl-hidden{
	display:none !important;
}
.sm-result{
	margin-bottom: 20px;
	page-break-inside: avoid;
}
.trip-detail th{
	text-align: left;
}
.dates-view-gallery{
	display: none;
}