/* Version: 1.0 (Jun 20, 2008), darkmay.com
   Version 2.0 (Jun 15, 2009), darkmay s.r.o
*/

/****************************************************** Body and fonts settings ******************************************************/

body {margin:0;padding:0;font-family: Arial, helvetica, sans-serif;font-size: 11px;color:#364A90;background: #b2cce3 url("/img/css/bg-all-1.jpg") 0 0 repeat-x;}

a {/*text-decoration: none;color: #a96b08;*/ color: #9b4a3f;}

a:link {}
a:visited {}
a:active {}
a:hover {text-decoration: underline;}

h1 {font-size: 2.0em; font-weight: normal; margin-top: 0em; margin-bottom: 0em;}
h2 {font-size: 1.7em; margin: 1.2em 0em 1.2em 0em; font-weight: normal;}
h3 {font-size: 1.4em; margin: 1.2em 0em 1.2em 0em; font-weight: normal;}
h4 {font-size: 1em; margin: .4em 0em .4em 0em; padding: .2em; font-weight: bold; background: #258bc9; color: white;}
h5 {font-size: 1.0em; margin: 1.2em 0em 1.2em 0em; font-weight: bold;}
h6 {font-size: 0.8em; margin: 1.2em 0em 1.2em 0em; font-weight: bold;}

img {border: 0;}

form {margin:0}

p {font-size: 100%; line-height: 1.3em; margin: 1.2em 0em 1.2em 0em;}

li > p {margin-top: 0.2em;}

.clear {clear: both;}
.left {float: left;}
.right {float: right;}
.red  {color: red;}
.center, #center{text-align:center}
.hidden {display:none}
.starplus {font-size: 17px; font-weight: bold; margin: 0; padding: 0;}

/****************************************************** Forms desing ******************************************************/
/*textarea {width: 400px; height: 150px;}*/

.boxes {width: 1em;}


.sessionFlash,
.message {
	font-weight:bold; font-style:italic; font-size:110%; padding:10px; text-align:center;
	}
.sessionFlash button.close {
	display: none;	
	}


.form label {padding-right:5px;}

#offers-de, #offers-cl {margin-bottom: 5px;}

/****************************************************** Search-mask ******************************************************/
.search-mask {float: left; width: 100%;   padding-top: 10px;}
.search-mask select  {display: block; float: left; width: 180px}
.search-mask input {float: left; width: 175px;}
.search-mask form {padding: 5px 13px 0px 13px; margin:0;}
.search-mask label {width: 180px; text-align: left; display: block; font-weight: bold;}
.search-mask .input {float: left; width: 180px; padding: 1px; margin: 0px 5px 10px 0px;}
.search-mask .half-input {float: left; padding: 1px; margin: 0px 5px 0px 0px;}
.search-mask .checkbox input{float: left; width: auto;}
.search-mask .submit {float: right; margin-top: 7px; margin-bottom: 5px;}
.search-mask .submit input{width: auto;cursor : pointer;}

.search-mask .sm-col-4 select  {display: block; float: left; width: 172px}
.search-mask .sm-col-4 input {float: left; width: 167px;}
.search-mask .sm-col-4 label {width: 172px; text-align: left; display: block; font-weight: bold;}
.search-mask .sm-col-4 .input {float: left; width: 172px; padding: 1px; margin: 0px 5px 10px 0px;}

.search-mask .sm-col-5 select  {display: block; float: left; width: 167px}
.search-mask .sm-col-5 input {float: left; width: 162px;}
.search-mask .sm-col-5 label {width: 167px; text-align: left; display: block; font-weight: bold;}
.search-mask .sm-col-5 .input {float: left; width: 167px; padding: 1px; margin: 0px 5px 10px 0px;}

.extended-search-link {padding-left: 17px; background-image: url('/img/ui/ui-icon_454545_plus_minus.png'); background-repeat: no-repeat; background-position: 0 -1px; margin: 10px 0; line-height: 16px;}
.extended-search-link-open {background-position: 0 -32px;}
.extended-search {clear: both; margin-top: 10px;}

.search-mask-sb {padding: 3px; margin-bottom:5px}
.search-mask-sb select  {display: block; width: 139px; font-size: 11px}
.search-mask-sb div.input input {width: 133px; font-size: 11px}
.search-mask-sb form {}
.search-mask-sb label {text-align: left; display: block; font-weight: bold;}
.search-mask-sb div.input {margin-bottom: 5px;}
.search-mask-sb div.checkbox input{width: auto;}
.search-mask-sb div.submit {float: right; margin-top: 7px; margin-bottom: 5px;}
.search-mask-sb div.submit input{width: auto;}

.search-mask .sm-dr div.input {width: 46%;}
.search-mask .sm-dr input {width: 100%}

.search-mask .sm-cp div.select {width: 46%;}
.search-mask .sm-cp a.selectBox {min-width: 1px; width: 100%}
.search-mask .sm-cp select {width: 100%}

.search-mask .sm-ca div.select {width: 29%;}
.search-mask .sm-ca a.selectBox {min-width: 1px; width: 100%}
.search-mask .sm-ca select {width: 100%}

/* zúžení labelů u checkboxů LM a FM */
.sm-lm label,
.sm-fm label{
	width: 115px;
}

/****************************************************** DE styl nahledu nabidek ******************************************************/
.sm-result {margin-bottom:2px;}
.sm-result.is-tip {border: 1px solid #940808;}
.sm-result br {clear: both}

.sm-result .my-tip {display:none;}
.sm-result.is-tip .my-tip {display:block;}

.sm-result .my-tip {width: 100%; height: 20px; background-color: #940808; color:#fff; padding: 0; margin: 0; text-align: right;}
.sm-result .my-tip span {margin-right: 10px; font-size: 10px; line-height: 20px; text-transform: uppercase; font-weight: bold; color:#fff;}

.sm-result .inner {min-height: 64px;height: auto !important;height: 64px;padding:8px 8px; border: 1px solid #d6d6d6;}
.sm-result .inner p {padding: 0;margin:0}

.sm-result .thumb {float: left;}
.sm-result .thumb img {border: 2px solid #ccc; width:90px}

.sm-result .desc {float: left; margin:0 4px 0 9px;  width: 360px}
.sm-result .desc span {color: #223a70;}
.sm-result .desc strong {color: #940808;}
.localdestinations-view .sm-result .desc h2,
.localcountries-view .sm-result .desc h2 ,
.sm-result .desc h2 {font-size: 14px; margin: 0; padding: 0;font-weight:bold; text-transform:none;}
.sm-result .desc .land {font-size: 100%; font-weight:bold; font-style:italic}
.sm-result .desc .last {font-size: 105%;}
.sm-result .desc .adds {font-size: 11px;}
.sm-result .desc .icons {padding-top: 10px}

.sm-result .lm-dates-count,
.sm-result .fm-dates-count{	display: none; }
.sm-result.is-fm .fm-dates-count{ display: inline; }
.sm-result.is-lm .lm-dates-count{ display: inline; }

.sm-result .prices {float: right; text-align: right}
.sm-result .prices p {padding: 0;margin:0}
.sm-result .prices .kc {font-size: 10px; margin-top: 17px!important}
.sm-result .prices .kc a {font-size: 15px;  text-decoration: none!important; font-weight:bold;}
.sm-result .prices .eur {font-size: 11px; color: #223a70; margin-top:5px;}
.sm-result .prices .eur a {text-decoration:none;}

.sort-by {text-align: right; width: 100%;padding: 10px 0;}
.sort-by  a {font-weight: bold}

.paging {text-align:center; margin: 5px 0}
.paging > div{display: block;}
.paging .paging-load-next{ display: block; margin-bottom: 10px; }

/****************************************************** Simple tabs základní styl**********************************************/
.simple-tabs{margin:10px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.simple-tabs .simple-tab-header{padding: 0px 5px;}
.simple-tabs .simple-tab-header:after{content:" "; display: table; height: 0; clear:both;}
.simple-tabs .simple-tab-header a{float: left; outline: 0; text-decoration: none;} 
.simple-tabs .simple-tab-header a span{padding: 8px; display: inline-block; }
.simple-tabs .simple-tab-header a.opened span{background: #eee;}
.simple-tabs .simple-tab-content > div{padding:15px;}
.simple-tabs .simple-tab-content > div.opened{background: #eee; }

/****************************************************** Simple accordion **********************************************/
.simple-accordion{margin:10px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.simple-accordion > a{display: block; outline: 0; margin:2px 0; text-decoration: none;} 
.simple-accordion > a span{padding: 8px; display: block; background: #eee;}
.simple-accordion > a.opened span{background: #ddd;}
.simple-accordion .accordion-content{background: #eee; padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


/****************************************************** Master filter ******************************************************/
.adds-filter {}
.adds-filter br {clear: both}
.adds-filter .input {display:block;float:left;padding-right:2px;min-height:58px;}
.adds-filter form {margin: 0;padding: 0;}
.adds-filter form label  {display:block;text-align:left;font-weight: bold;padding:3px 2px;}
.adds-filter form input {display:block;float:left;margin-bottom:10px;}
.adds-filter form select {display:block;float:left;margin-bottom:10px;}

/****************************************************** Detail nabidky ******************************************************/
.adds-top-id {border-bottom:1px solid #000000;height:20px;line-height:20px;margin-bottom:5px;text-align:right;width:100%;}
.adds-top-id .back {height:20px;line-height:20px}
.adds-top-id .back a{text-decoration:none}
.adds-top-title {font-family: Arial; font-size: 12px; margin-top:5px; padding:2px;}
.adds-top-title .pic-detail {float: right; clear: right}
.adds-top-title br {clear: both;}

.adds-top-title .top-headers {float: left;}
.adds-top-title .lm-pic {float: right;}
.adds-top-title .lm-pic .head-icon {float: right; display: inline; width: 51px;}
.adds-top-title .lm-pic .head-icon img {float: right; display: inline}
.adds-top-title #group-availability-text {width: 51px; font-size: 9px; text-align: center; padding: 0; margin:0}

.adds-top-title .title-pic {float:left}
.adds-top-title .title-pic a{border: 1px solid #d7d7d7; display:block; width:200px;}
.adds-top-title .title-pic img{max-width: 200px}
/*.adds-top-title .title-pic a:hover{border: 1px solid #223a70;}*/
.adds-top-title .title-facts {float: left;  width: 380px; height: 133px;padding: 0  0 0 10px}
.adds-top-title #title-facts-master {float: left;  width: 235px; height: 133px;padding: 0  0 0 10px}
.adds-top-title .title-facts p {margin:0; padding:2px;}
.adds-top-title .title-facts p strong {display: block; text-decoration:underline;}
.adds-top-title .title-facts .tf-left {float: left;  width: 185px;}
.adds-top-title .title-facts .tf-right {float: right;   width: 185px}
.adds-top-title .title-facts .tf {float: left;   width: 100%}
.adds-top-title .title-facts .tf span span {color: #940808; font-weight:bold}
.adds-top-title .title-facts .required-fees:before{content:"(";}
.adds-top-title .title-facts .required-fees:after{content:")";}
.adds-top-title .title-bottom {clear: both}

/* -- urpavy pro optimalizations
.adds-top-title h1 {font-size:1.9em;font-weight:normal;margin:0; margin-top: 5px;}
.adds-top-title h2 {font-size:1.3em;font-weight:normal;margin:0; margin-top: 3px;}
.adds-top-title h3 {font-size:1.1em;font-weight:normal;margin:0;margin-top: 3px;}
 */
 
.adds-top-title h2 {font-size:1.9em;font-weight:normal;margin:0; margin-top: 5px;}
.adds-top-title h3 {font-size:1.3em;font-weight:normal;margin:0; margin-top: 3px;}
.adds-top-title h4 {font-size:1.1em;font-weight:normal;margin:0;margin-top: 3px; background-color: transparent; color:inherit; padding: 0px;}

.top-offers {margin-bottom:5px;}
.cl-offers {margin-bottom:5px;}
/****************************************************** top offer špalek css  ******************************************************/
.top-offer-square{width: 31.5%; height: 270px; font-family: Arial; border: 1px solid #d7d7d7; float: left;  margin: 3px 4px 3px 3px; background: #f6f6f6 }
.top-offer-square .tos-lm  img {position:relative;  border: none;width: 150px; margin:10px  0; }

.top-offer-square img {border: 2px solid #ccc; margin-top: 10px;}

.top-offer-square-inner br {clear: both; }
.top-offer-square-inner  {width: 100%;}

.top-offer-square h1 {width: 100%; height: 25px; background-color: #999; font-weight: bold; text-transform: uppercase; color:#fff; padding: 0; margin: 0;text-align: right; }
.top-offer-square .middle {text-align: center}
.top-offer-square .top {margin-top: -46px}
.top-offer-square h1 a {margin-right: 10px; font-size: 12px; line-height: 25px; display: block; text-decoration: none;color:#fff;}

.top-offer-square .desc {width: 97%; height: 108px; border: none;}
.top-offer-square .desc span {color: #223a70;}
.top-offer-square .desc strong {color: #940808; font-size: 16px;}
.top-offer-square .desc h2 {font-size: 14px; margin: 0; padding: 0}
.top-offer-square .desc p {font-size: 13px; margin: 0; padding:0}
.top-offer-square .desc p span img {border: none; margin: 0; padding: 0}
.top-offer-square .desc .tod-hotel{margin: 4px 0 7px 0}
.top-offer-square .tod-hotel a {font-weight: bold; font-size: 14px; display: block; height: 20px;}
.top-offer-square .desc .last span {float: right; margin-top:-16px}
.top-offer-square .desc .adds {font-size: 11px;}
.top-offer-square .desc .price a {text-decoration:none;}
.top-offer-square .desc .date strong {color: #940808;font-size: 12px;}

/****************************************************** top offer normalni vypis css (class top-offer-huge-line)  ************************/
.top-offer-huge-line br {clear: both}
.top-offer-huge-line {width: 100%; font-family: Arial; margin-bottom:2px}
.top-offer-huge-line h1 {width: 100%; height: 20px; background-color: #940808; color:#fff; padding: 0; margin: 0; text-align: right;}
.top-offer-huge-line h1 span {margin-right: 10px; font-size: 10px; line-height: 20px; text-transform: uppercase; font-weight: bold; color:#fff;}

.top-offer-huge-line .inner {min-height: 64px;height: auto !important;height: 64px;padding:8px 8px; border: 1px solid #d6d6d6;}
.top-offer-huge-line .inner p {padding: 0;margin:0}

.top-offer-huge-line .thumb {float: left;}
.top-offer-huge-line .thumb img {border: 2px solid #ccc; width:90px}

.top-offer-huge-line .desc {float: left; margin:0 4px 0 9px;  width: 360px}
.top-offer-huge-line .desc span {color: #223a70;}
.top-offer-huge-line .desc strong {color: #940808;}
.top-offer-huge-line .desc h2 {font-size: 14px; margin: 0; padding: 0;font-weight:bold;}
.top-offer-huge-line .desc .land {font-size: 100%; font-weight:bold; font-style:italic}
.top-offer-huge-line .desc .last {font-size: 105%;}
.top-offer-huge-line .desc .last span {font-size: 11px;float: right; margin-top:-16px}
.top-offer-huge-line .desc .adds {font-size: 11px;}
.top-offer-huge-line .desc .icons {padding-top: 10px}

.top-offer-huge-line .prices {float: right; text-align: right}
.top-offer-huge-line .prices p {padding: 0;margin:0}
.top-offer-huge-line .prices .kc {font-size: 10px;  margin-top: 5px}
.top-offer-huge-line .prices .kc a {font-size: 15px;  text-decoration: none!important; font-weight:bold;}
.top-offer-huge-line .prices .eur {font-size: 11px; color: #223a70; margin-top:5px;}
.top-offer-huge-line .prices .eur a {text-decoration:none;}

/****************************************************** top offer řádkový vypis css (class top-offer-tiny-line)  ******************************************************/
.top-offer-tiny-line br {clear: both}
.top-offer-tiny-line a {}
.top-offer-tiny-line table {width: 100%; font-family: Arial; font-size: 12px;  padding: 0; margin: 0 }
.top-offer-tiny-line table td {border-bottom: 1px solid #d6d6d6; vertical-align: middle; padding:3px;}
.top-offer-tiny-line table td h2 {font-size: 12px; padding:0; margin:0;}
.top-offer-tiny-line .name {font-size: 12px; width: 40%;}
.top-offer-tiny-line .price {text-align:right; }
.top-offer-tiny-line .price a {text-decoration:none;}
.top-offer-tiny-line .country img {border: 1px solid #ccc}


/****************************************************** cl offer řádkový vypis css  ***********************************************/
.cl-offer-huge-line br {clear: both}
.cl-offer-huge-line {width: 100%; font-family: Arial; margin-bottom:2px}
.cl-offer-huge-line h1 {width: 100%; height: 20px; background-color: #940808; color:#fff; padding: 0; margin: 0; text-align: right;}
.cl-offer-huge-line h1 span {margin-right: 10px; font-size: 10px; line-height: 20px; text-transform: uppercase; font-weight: bold; color:#fff;}

.cl-offer-huge-line .inner {height: 64px;padding:8px 8px; border: 1px solid #d6d6d6;}
.cl-offer-huge-line .inner p {padding: 0;margin:0}

.cl-offer-huge-line .thumb {float: left;}
.cl-offer-huge-line .thumb img {border: 2px solid #ccc; width:90px}

.cl-offer-huge-line .desc {float: left; margin:0 4px 0 9px;  width: 360px}
.cl-offer-huge-line .desc span {color: #223a70;}
.cl-offer-huge-line .desc strong {color: #940808;}
.cl-offer-huge-line .desc h2 {font-size: 14px; margin: 0; padding: 0;font-weight:bold;}
.cl-offer-huge-line .desc .land {font-size: 100%; font-weight:bold; font-style:italic}
.cl-offer-huge-line .desc .last {font-size: 105%;}
.cl-offer-huge-line .desc .last span {font-size: 11px;float: right; margin-top:-16px}
.cl-offer-huge-line .desc .adds {font-size: 11px;}
.cl-offer-huge-line .desc .icons {padding-top: 10px}

.cl-offer-huge-line .prices {float: right; text-align: right}
.cl-offer-huge-line .prices p {padding: 0;margin:0}
.cl-offer-huge-line .prices .kc {font-size: 10px;  margin-top: 17px}
.cl-offer-huge-line .prices .kc a {font-size: 15px;  text-decoration: none!important; font-weight:bold;}
.cl-offer-huge-line .prices .eur {font-size: 11px; color: #223a70; margin-top:5px;}
.cl-offer-huge-line .prices .eur a {text-decoration:none;}

/****************************************************** cl offer sidebox **********************************/
.own-offer-side-box {width: 140px;  font-family: arial; text-align: left }
.own-offer-side-box table {width: 100%; border-bottom: 1px solid #d6d6d6;}
.own-offer-side-box img {border: 1px solid #d6d6d6}
.own-offer-side-box th {font-size: 11px}
.own-offer-side-box td {font-size: 10px; vertical-align: top}


/****************************************************** hotel info ***************************************/
.hotel-info {position: relative;}
.hotel-info .text {width:80%}
.hotel-info .pics {position:absolute; top: 0; right: 0; bottom: 0; text-align:center; width:20%; overflow-y:auto; overflow-x: hidden; }
.hotel-info .pics img {border-radius: 3px;}
.hotel-info .pics a{margin-bottom:5px; display:block; width:90px;float:right;margin-right:2px;margin-left:8px;}
.hotel-info .pics-inner:after{content:" "; clear:both; display: table; height: 0;}

.hotel-info.images-left .text {margin-left: 20%;}
.hotel-info.images-left .pics {right: auto; left:0; direction: rtl;}
.hotel-info.images-left  .pics a{float: left;}

.hotel-info.images-bottom .text {width: auto;}
.hotel-info.images-bottom .pics {position:relative; width: auto; margin-top:15px;}
.hotel-info.images-bottom  .pics a{float: left; margin: 4px;}

.hotel-info.images-top .text {width: auto;}
.hotel-info.images-top .pics {position:relative; width: auto; margin-top:10px; margin-bottom:15px;}
.hotel-info.images-top  .pics a{float: left; margin: 4px;}

.hotel-info.images-bottom .pics, .hotel-info.images-top .pics {overflow-x: auto; overflow-y: hidden; }
.hotel-info.images-bottom .pics > .pics-inner, .hotel-info.images-top .pics > .pics-inner{white-space: nowrap; display: table-row;}
.hotel-info.images-bottom .pics > .pics-inner > div, .hotel-info.images-top .pics > .pics-inner > div{display: table-cell;}

.trip-detail {margin:0;padding:0;text-align: left;}
.trip-detail th {padding:0.4em 0.4em 0.4em 0; text-align:left; font-size:120%}
.trip-detail td {text-align: left;}
.trip-detail td:first-letter {text-transform: capitalize;}
.trip-detail td p:first-child{margin-top: 0;}

/****************************************************** tabulka ve vlastních termínech  ******************************************************/
.other-dates{width: 100%}
.other-dates th {text-align: left}
.other-dates th, .other-dates td {padding: 1px 3px}


/******************************************************* country detail ******************************************************************/
.tag-cloud {text-align: justify; line-height:normal;}
.tag-cloud a {text-decoration:none;}
.tag-cloud h3 {display:inline;}

.localdestinations-view .info, .localcountries-view .info {margin:5px;}
.localdestinations-view  .descriptions, .localcountries-view .descriptions {text-align: justify;}
.localdestinations-view  h1, .localcountries-view h1 {margin: 5px 0;}
.localdestinations-view  h2, .localcountries-view h2 {margin: 5px 0;font-size:2em; font-weight: normal;}
.localdestinations-view  h3, .localcountries-view h3 {margin: 0; font-size:120%; display:inline;}
.localdestinations-view  ul, .localcountries-view ul {margin: 0 10px; padding-left:20px;}
.localdestinations-view  ul li, .localcountries-view ul li {margin: 0; list-style-type:circle;}
.localdestinations-view  #map-canvas, .localcountries-view #map-canvas {width: 90%; height: 300px; border: 1px solid #ccc; margin: 10px auto; overflow:hidden}

.count p {font-size:120%; text-align:right}

/******************************************************* sideboxes *************************************************************************/

.sidebox {width: 145px!important;clear: both;margin-bottom: 5px;}
.sidebox a {text-decoration: underline;}
.sidebox p {margin:0;padding:5px;font-size: 10px;}
.sidebox table {width: 140px!important;margin:0;padding:0;}
.sidebox table td {font-size: 11px; padding-left:5px;}
.sidebox input {width: 125px; font-size: 10px;}
.sidebox .submit {margin: 10px 0;}

.sidebox .sidebox-title .text {padding:4px 0 4px 3px;font-weight: bold;}
.master-title .text {margin:4px 0 4px 3px; font-weight: bold;}
.cd-icon {margin:1px 1px 1px 0;padding: 0;}

.sidebox-content {min-height: 10px;}
.sidebox-content .sidebox-date-search {padding:5px 0 0 5px;}
.sidebox-content .sidebox-date-search input {width:125px}
.sidebox-content .sidebox-date-search .submit {width:auto; margin: 5px 0 0 0;}

/******************************************************* floatbox *************************************************************************/
.floatbox {}
.floatbox .cd-content {}
.floatbox .floatbox-content {padding: 5px}
.floatbox .floatbox-title .text {padding:4px 0 4px 3px;font-weight: bold;}


/***** Page layout  *****/
#main {                               
    margin: 0 auto;
    width: 970px;
}

#main-bg-fixed {
    width: 970px;
    background: url(/img/css/bg-cont.jpg) no-repeat;
}

#main-bg {
    width: 970px;
    background: url(/img/css/bg-cont-plus.jpg) repeat-y;
}

#wrap {
    margin: 0 auto;
    width: 912px;
    position: relative;
}

#inner {
    border: 5px solid white;
    min-height: 700px;
    background: #fff;
}

#head, #head img  {
    border: none;
    width: 902px;
    background: #fff;
}

#head {
    border-top: 5px solid white;
    border-bottom: 2px solid white;
}

#cont  { 

    border-top: 2px solid white;
    clear: both;
}

#master  {
    min-height: 850px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    background: #fff;
    overflow: hidden;
    width: auto;
}

#frame_deltareisen {
    max-width: 1140px;
    margin: 0 auto;
}

.main-column {
	margin-bottom:5px
}

/* slavery */


#left-slave  {
    width: 145px;
    min-height: 54px;
    float: left;
    background: #f5f9fe;
    /*display: none; -> pokud je aktivní vymaže slave z webu */
}

#right-slave  {
    width: 145px;
    min-height: 54px;
    float: right;
    background: #f5f9fe;
    /*display: none; -> pokud je aktivní vymaže slave z webu   */
}	   

#footer  {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 15px;
    background: #258cc9;
    border-top: 2px solid #ebebeb;
    color: #fff
}

#footer a {
    color: #fff
}

.ppad {
    /*margin: 0 0 10px 0!important;
    padding: 0!important;*/
	margin: 3px 0;
	padding: 0;
}     


.side-price {
    font-weight: bold;
}   

.side-offer  {

}      

.side-weather ul {
    margin:0;padding:0;

}

.side-weather li {
    display: inline;
    line-height: 10px;
    padding:10px 2px;
    font-size: 10px;
    text-align: left;
}
.side-weather li img {
    position: relative;
    top: 9px;
}

.side-weather p {
    width: 100px;
    background: red;
}

.offer-date-detail {
    width: 100%;
    margin-top: 5px;
}

.lm {padding-left: 0px}

/* master added styles */    

/*************************** NEWS ***************************************/
.news-bar {width: auto; min-height: 80px; _height:80px; margin-top: 5px; margin-bottom: 5px; line-height: 14px; border-bottom: 1px solid #ccc; padding: 3px; }
.news-bar h2{font: bold 12px/18px Tahoma, sans-serif; padding:0; margin: 0; margin-bottom: 2px; text-transform: uppercase;}
.news-bar .preview{padding:0; margin: 0; margin-top:2px; text-align:justify;}
.news-bar .news-img {float: left; border: 2px solid #ccc; margin-right: 10px;}
.news-bar .news-date{font-size:85%; font-style:italic}

.sidebox .news-bar{padding-left:0; padding-right: 0;}
.sidebox .news-bar h2{margin-bottom: 0;}
.sidebox .news-bar .news-date{padding: 3px 0px;}

.gallery td {
    padding-bottom:5px;
}

.advert-bar {
    margin:0 0 5px 0;
}  

.other-pictures table td {
    padding: 0px !important;
    padding-bottom: 5px !important;
    text-align: center !important;
}

.other-pictures img  {
    /* margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;*/
    border: 1px solid #e8e8e8;
}

.kurzovni-listek table  {
    margin: 0; padding: 0;
    width: 100%;
}     

.kurzovni-listek table th {

    padding: 0.4em  0.4em;
    background: #E8F3FF;
    text-align: left;
}      
.kurzovni-listek table td {
    vertical-align: top;
    padding: 0.4em  0.8em;
    background: #f5f9fe;
}  

.required {
    text-align: left;
}

.tour_operator_name {
    float: right;
    font-size: 9px;
    color: #ccc

}

.inline-div div {
    display: inline;
}

.error-message {
    color:red;
}

.trip-count {
    background: #f5f5f5;
    text-align: right;
    padding: 2px 10px 2px 2px;
    margin: 2px 0 10px 0;
}

.trip-count h3 {
    color: #343791;
    margin:0;padding:0;
}
.trip-count h3 strong {
    color: #d73b3f;
}

.text-list {
    list-style: square;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.text-table {
    border-collapse: collapse;
    width: auto !important;
    margin-left: 20px !important;
}
.text-table th{
    border: 1px solid #364A90;
    padding: 3px !important;
}
.text-table td{
    border: 1px solid #364A90;
    padding: 3px !important;
}

.image-gallery {
    text-align: center;
}

.image-gallery table {
    margin-left: auto;
    margin-right: auto;
}

.image-gallery img{
    border: 1px solid #ccc;
}

.banner {
    text-align:center;
}

.file-gallery {
    overflow: hidden;
}

#offer table {
	width:100%;
	margin:0px;
	padding:0;
}

#offer table th {
	 text-align: left;
	 padding: 2px 0;
}



#offer table td {
	margin:0;
	padding:2px 6px 2px 0;
	border-bottom: 1px solid #ccc;
}



#offer .img {
	 border: 2px solid #ccc;
	 width: 90px;
	 height: 60px;

}

#offer p {
	  margin:0 0 2px 0 ;

}

#offer .p {
	  font-weight: bold;
	  text-align: center;
}

#offer a {
	  text-decoration: underline;
	  text-align: left;
}

.icon-link {line-height:12px;}
.icon-link a {text-decoration:none; padding:0; margin:0}

#footer-menu {}
.footer-nav {margin: 5px 1px; padding:0; list-style:none}
.footer-nav li{float:left; padding-right:10px;}

.countries {margin:5px;}
.countries td{padding: 2px 5px; text-align:left; vertical-align:top;}
.countries h3{font-size:120%; margin:0; padding:0; display:inline}

.sidebox ul.countries{list-style: none; padding: 0px;}
.sidebox ul.countries li{padding: 2px;}

.flag {border: 1px solid #ccc}

.exchange-rates .sidebox-content table {margin:5px; width:135px;}
.exchange-rates .sidebox-content table td {padding:1px;}

.cake-sql-log td {background-color: #fff; color: #000}

.detail_header {margin-top: 15px;}
.detail_headline {font-weight: bold; font-size: 150%; margin: 10px;}



.wi-small-box-1 {
    display:inline-block;
    width: 24px;
    height: 24px;
    background: transparent url("/img/weathers/set1.png") no-repeat;
}

.wi-small-box-2 {
    display:inline-block;
    width: 24px;
    height: 24px;
    background: transparent url("/img/weathers/set2.png") no-repeat;
}

.wi-small-box-3 {
    display:inline-block;
    width: 24px;
    height: 24px;
    background: transparent url("/img/weathers/set3.png") no-repeat;
}

.wi-small-box-4 {
    display:inline-block;
    width: 24px;
    height: 24px;
    background: transparent url("/img/weathers/set4.png") no-repeat;
}

.wi-small-box-5 {
    display:inline-block;
    width: 24px;
    height: 24px;
    background: transparent url("/img/weathers/set5.png") no-repeat;
}

/* Storm (1) */
.wi-0, .wi-1, .wi-2, .wi-3, .wi-4, .wi-17, .wi-35, .wi-37, .wi-38, .wi-47
{
    background-position: 0px 0px;
}

/* Sunny (2) */
.wi-32, .wi-36
{
    background-position: -24px 0px;
}

/* Decently Cloudy (3) */
.wi-34
{
   background-position: -48px 0px;
}

/* Little Cloudy (4) */
.wi-30
{
   background-position: -72px 0px;
}

/* Partly Cloudy (5) */
.wi-28
{
    background-position: -96px 0px;
}

/* Overcast (4) */
.wi-20, .wi-23, .wi-24, .wi-26
{
    background-position: -120px 0px;
}

/* Snowy (5) */
.wi-5, .wi-7, .wi-13, .wi-14, .wi-15, .wi-16, .wi-18, .wi-41, .wi-42, .wi-43, .wi-46
{
    background-position: -144px 0px;
}

/* Rainy (6) */
.wi-6, .wi-9, .wi-10, .wi-11, .wi-12, .wi-39, .wi-40, .wi-45
{
    background-position: -168px 0px;
}

/* Exchange Icon Style Type*/
.eri-small-box-1 {
    display: inline-block;
    width: 28px;
    height: 20px;
    background: transparent url("/img/rates/set1.png") no-repeat;
	margin: 1px 0px;
	border: 1px solid #ccc;
}

.eri-1 {
background-position: -0px 0px;
}

.eri-2 {
background-position: -28px 0px;
}

.eri-3 {
background-position: -56px 0px;
}

.eri-4 {
background-position: -84px 0px;
}

.eri-5 {
background-position: -112px 0px;
}

.eri-6 {
background-position: -140px 0px;
}

.eri-7 {
background-position: -168px 0px;
}

.eri-8 {
background-position: -196px 0px;
}

.eri-9 {
background-position: -224px 0px;
}

.eri-10 {
background-position: -252px 0px;
}

.eri-11 {
background-position: -280px 0px;
}

.eri-12 {
background-position: -308px 0px;
}

.eri-13 {
background-position: -336px 0px;
}

.eri-14 {
background-position: -364px 0px;
}

.eri-15 {
background-position: -392px 0px;
}

.eri-16 {
background-position: -420px 0px;
}

.eri-17 {
background-position: -448px 0px;
}

.eri-18 {
background-position: -476px 0px;
}

.eri-19 {
background-position: -504px 0px;
}

.eri-20 {
background-position: -532px 0px;
}

.eri-21 {
background-position: -560px 0px;
}

.eri-22 {
background-position: -588px 0px;
}

.eri-23 {
background-position: -616px 0px;
}

.eri-24 {
background-position: -644px 0px;
}

.eri-25 {
background-position: -672px 0px;
}

.eri-26 {
background-position: -700px 0px;
}

.eri-27 {
background-position: -728px 0px;
}

.eri-28 {
background-position: -756px 0px;
}

.eri-29 {
background-position: -784px 0px;
}

.eri-30 {
background-position: -812px 0px;
}

.eri-31 {
background-position: -840px 0px;
}

.eri-32 {
background-position: -868px 0px;
}

.eri-33 {
background-position: -896px 0px;
}

.eri-34 {
background-position: -924px 0px;
}

.eri-35 {
background-position: -952px 0px;
}

.eri-36 {
background-position: -980px 0px;
}

.eri-37 {
background-position: -1008px 0px;
}

.original_price {text-decoration: line-through}

.tip_item{
	border: 1px solid #D6D6D6;
	margin-bottom: 5px;
	padding: 5px;
}

.tip_name{
	font-weight: bold;
	font-size: 120%;

	padding-top: 5px;
}
.tip_info{
	min-height: 50px;
}

.tip_info img{
	float: left;
	border: 2px solid #CCCCCC;
	margin-right: 9px;
}
.tip_url{
	text-align: right;
}
.tip_description {
	margin: 0px;
}


/**
 *	Styly pro holiday check reviews - recenze hotelů.
 */
#showReviews .link-create-reviews {
	width: 155px;
	height: 95px;
	float: right;
	margin: 0px 10px 10px 0px;
	}


#showReviews .recommendation {
	font-size: 200%;
	}

#showReviews .link-reviews {
	font-size: 130%;
	line-height: 24px;
	text-align: center;
	display: block;
	height: 24px;
	width: 221px;
	overflow: hidden;
	background: transparent url("/img/hotelreviews/link-reviews_173_o.png") no-repeat center center;
	}

#showReviews .link-create-reviews-logo {
	width: 150px;
	height: 35px;
	margin-bottom: 25px;
	}

#showReviews .link-create-reviews-a {
	background: url("/img/hotelreviews/link-create-reviews-a_171_o.png") no-repeat scroll left center transparent;
	display: block;
	line-height: 15px;
	height: 15px;
	padding: 10px 0 10px 35px;
	width: 120px;
	}

#showReviews table .label {
	font-size: 12px;
	line-height: 26px;
	width: 150px;
	}


#showReviews table .control {
	font-size: 12px;
	width: 131px;
	text-align: right;
	background: transparent url("/img/hotelreviews/control_168_o.png") no-repeat left center;
	}

#showReviews table .control > div, #showReviews .item .control > div {
	background: url("/img/hotelreviews/control-min_172_o.png") no-repeat scroll right center transparent;
	float: right;
	height: 16px;
	}


#showReviews table .average .label#showReviews table .average .label {
	font-weight: bold;
	}
#showReviews table .average .control {
	font-weight: bold;
	font-size: 130%;
	}

#showReviews .item h4 {
	background-color: transparent;
	color: #364A90;
	font-size: 12px;
	text-decoration: underline;
	margin: 20px 0 0;
	width: 315px;
	display: block;
	}

#showReviews .item h4 .control {
	font-size: 12px;
	padding-left: 110px;
	background: transparent url("/img/hotelreviews/control_168_o.png") no-repeat left center;
	float: right;
	line-height: 16px;
	width: 25px;
	font-weight: bold;
	}

#showReviews .item .author {
	font-size: 11px;
	line-height: 13px;
	margin-bottom: 10px;
	font-style: italic;
	}

#showReviews .item .control {
	background: url("/img/hotelreviews/control_168_o.png") no-repeat scroll left center transparent;
	font-size: 12px;
	padding-left: 100px;
	width: 32px;
	height: 16px;
	line-height: 16px;
	float: right;
	text-align: right;
	font-weight: bold;
	margin-top: -20px;
	}

#showReviews h3 {
	background: transparent url("/img/hotelreviews/showreviews-h3-under_170_o.png") no-repeat bottom left;
	padding-bottom: 10px;
	color: #1A4CA0;
	font-weight: bold;
	}


.value-60{
    width: 31px;
}
.value-59, .value-58{
    width: 33px;
}
.value-57, .value-56{
    width: 36px;
}
.value-55{
    width: 39px;
}
.value-54, .value-53{
    width: 41px;
}
.value-52, .value-51{
    width: 44px;
}
.value-50{
    width: 47px;
}
.value-49, .value-48{
    width: 51px;
}
.value-47, .value-46{
    width: 53px;
}
.value-45{
    width: 56px;
}
.value-44, .value-43{
    width: 59px;
}
.value-42, .value-41{
    width: 62px;
}
.value-40{
    width: 65px;
}
.value-39, .value-38{
    width: 68px;
}
.value-37, .value-36{
    width: 71px;
}
.value-35{
    width: 73px;
}
.value-34, .value-33{
    width: 75px;
}
.value-32, .value-31{
    width: 78px;
}
.value-30{
    width: 82px;
}
.value-29, .value-28{
    width: 85px;
}
.value-27, .value-26{
    width: 88px;
}
.value-25{
    width: 91px;
}
.value-24, .value-23{
    width: 94px;
}
.value-22, .value-21{
    width: 97px;
}
.value-20{
    width: 99px;
}
.value-19, .value-18{
    width: 101px;
}
.value-17, .value-16{
    width: 104px;
}
.value-15{
    width: 107px;
}
.value-14, .value-13{
    width: 110px;
}
.value-12, .value-11{
    width: 112px;
}
.value-10{
    width: 115px;
}
.value-09, .value-08{
    width: 118px;
}
.value-07, .value-06{
    width: 121px;
}
.value-05{
    width: 124px;
}
.value-04, .value-03{
    width: 127px;
}
.value-02, .value-01{
    width: 130px;
}
.value-01{
    width: 131px;
}
.value-00{
    width: 131px;
} 


/* MASTER HISTORY */
.master-history{padding:5px 0; margin:0}
.master-history tr td {margin: 0; padding: 0 0 4px 0; vertical-align: top}

/* FAVOURITES - SCHRANKA - TERMIN */
.favourites-links {padding-left: 17px; background-image: url('/img/ui/ui-icon_454545_plus_minus.png'); background-repeat: no-repeat; line-height: 16px;}
.favourites-links.link-add{
	background-position: 0 -1px;
}

.favourites-links.link-delete{
	background-position: 0 -32px;
}


/* FAVOURITES - SCHRANKA - DETAIL */
#favourites {margin: 10px 0;}
#favourites .favourite-offer-line {padding: 5px; border: 1px solid #d6d6d6; margin-bottom: 2px;}

#favourites .favourite-offer-line .thumb {width:204px; float: left}
#favourites .favourite-offer-line .thumb img {border: 2px solid #ccc; width:200px}

#favourites .favourite-offer-line .inner {min-height: 64px;height: auto !important;height: 64px;padding:8px 8px;}
#favourites .favourite-offer-line .inner p {padding: 0;margin:0}

#favourites .favourite-offer-line .desc {margin:0 0 0 8px; float: left}
#favourites .favourite-offer-line .desc .red-strong {color: #940808; font-weight: bold}
#favourites .favourite-offer-line .desc .stars {margin-bottom: 5px; float:left; line-height: 16px;}
#favourites .favourite-offer-line .desc .icons {margin-bottom: 5px; float:right; line-height: 16px;}
#favourites .favourite-offer-line .desc h2 {font-size: 14px; margin: 0 0 5px; padding: 0; font-weight:bold; width: 360px; line-height: 18px;}
#favourites .favourite-offer-line .desc .land {font-size: 100%; font-weight:bold; font-style:italic; margin-bottom: 5px; width: 360px; clear: both}
#favourites .favourite-offer-line .desc .facts {float: left}
#favourites .favourite-offer-line .desc .facts p {margin-bottom: 2px;}
#favourites .favourite-offer-line .desc .prices {float: right; text-align: right; margin-top: 15px}
#favourites .favourite-offer-line .desc .prices .kc {font-size: 10px; margin-top: 5px}
#favourites .favourite-offer-line .desc .prices .kc a {font-size: 15px;  text-decoration: none!important; font-weight:bold;}
#favourites .favourite-offer-line .desc .prices .eur {font-size: 10px; color: #223a70; margin-top:5px;}
#favourites .favourite-offer-line .desc .prices .eur a {text-decoration:none; font-size: 10px; font-weight: normal}

#favourites .favourite-offer-line .fav-actions {margin: 10px 0 0 0; padding: 0; list-style-type: none;}
#favourites .favourite-offer-line .fav-actions li {display: inline; padding-right: 20px;}
#favourites .favourite-offer-line .fav-actions input {}
#favourites .favourite-offer-line .fav-actions label {}

#favourites .favourite-offer-line .fav-actions .favourites-delete {padding-left: 17px; background-image: url('/img/ui/ui-icon_454545_plus_minus.png'); background-repeat: no-repeat; background-position: 0 -32px;}

#favourites-compare-table {border-collapse: collapse}
#favourites-compare-table td, #favourites-compare-table th{border: 1px solid #ddd; padding: 5px;}
#favourites-compare-table td{width:230px; text-align: center;}
#favourites-compare-table th{text-align: center; font-style: italic}
#favourites-compare-table td h3{font-size: 13px; font-weight: bold; margin: 0; padding: 0}
#favourites-compare-table td h3 span.discount {font-size: 11px; font-weight: normal}
#favourites-compare-table td img.icon {margin-right: 3px}
#favourites-compare-table td img.img {border: 2px solid #ccc}
#favourites-compare-table td.description{text-align: left; vertical-align: top}
#favourites-compare-table tr:hover td, #favourites-compare-table tr:hover th {background-color: #E6E6E6}

#favourites ul.favourites-menu {list-style-type: none; margin: 10px 0; padding: 0}
#favourites ul.favourites-menu li {display: inline; padding-right: 25px}

/*CONTENT SLIDERS*/

.default-content-slider ul{
    list-style:none;
    margin : 0px;
    padding : 0px;
}
.default-content-slider li{
    margin:0px;
    padding: 0px;
}

.default-top-offer-slider ul{
    list-style:none;
    margin : 0px;
    padding : 0px;
}

.default-top-offer-slider li{
    margin:0px;
    padding: 0px;
}
.top-offer-slider-subscribe {
    background: url('/img/slider/background.png') repeat ;
    -moz-border-radius: 2px;
    padding:5px 5px 10px 5px;
    color: #fff;
    font-size: 15px;
    position:relative;
}


.top-offer-slider-subscribe p {
    margin: 2px;
}
.top-offer-slider-subscribe .tosl-hotel{
    font-weight: bold;
    font-size: 18px;
}

.top-offer-slider-subscribe .tosl-destination{
    font-weight: bold;
    font-size: 15px;
}


.top-offer-slider-subscribe .prices{
    float:right;
    margin-top:20px;
}
.top-offer-slider-subscribe .tosl-prices {
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


.top-offer-slider-subscribe .tosl-prices p.kc{
    font-size:20px;
    font-weight:bold;
}

.top-offer-slider-subscribe .tosl-prices .eur{
    font-size:12px;
    font-weight:bold;
}

.content-slider-sidebox-subscribe,
.content-slider-subscribe{
    background: url('/img/slider/background.png') repeat;
    padding:0px;
    color: #fff;
    position:relative;
}
.content-slider-subscribe div{
    padding:5px;
}

.content-slider-sidebox-subscribe div {
    padding:4px;
}


.default-sidebox-content-slider ul{
    list-style: none;
    margin: 0px;
    padding:0px;
}

.default-sidebox-content-slider{
    margin:0px;
    padding:0px;
    position:relative;
    overflow: hidden;
}

.top-offer-sidebox-slider-subscribe {
    background: url('/img/slider/background.png') repeat;
    padding:0px;
    color: #fff;
    position:relative;
    height:50px;
}

.top-offer-slider-subscribe .right{
    width:160px;
}

.top-offer-sidebox-slider-subscribe p,
.top-offer-sidebox-slider-subscribe span{
    margin:0px;
    padding:0px 4px 0px 5px;
    font-size:11px;
}

.content-slider-subscribe p{
    margin:0px;
    padding:0px 4px 0px 5px;
}

.top-offer-sidebox-slider-subscribe p.tosl-destination{
    width:60px;
    display:block;
    overflow: hidden;
}

.top-offer-sidebox-slider-subscribe p.kc{
    font-size:12px;
    margin-top:5px;
}

/*TOP NABIDKY SIDEBOX*/

.default-sidebox-top-offer{
    text-align: center;
}

.default-sidebox-top-offer .sidebox-inner{
    border: 1px solid #d6d6d6;
}

.default-sidebox-top-offer .sidebox-thumb{
	width: 100%; 
	margin: 0px 0px 5px;
}

.default-sidebox-top-offer .sidebox-thumb img {
	width: 100%;
}

.default-sidebox-top-offer .sidebox-desc p{
    padding:0px;
    margin:0px;
}

.default-sidebox-top-offer .sidebox-desc p.tosb-price{
    font-size:12px;
    font-weight: bold;
}

.top-offer-square-inner-sidebox {
    margin-bottom: 5px;
    border: 1px solid #d6d6d6;
}

.top-offer-square-inner-sidebox h1{
    background-color: #999999;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.top-offer-square-inner-sidebox .sidebox-desc{
    padding-bottom:10px;
}

.default-sidebox-top-offer tr.tosb-second td{
    border-bottom: 1px solid #d9d9d9;
    padding: 2px 0px;
}

.default-sidebox-top-offer table{
    width:145px!important;
}

.top-offers ol,
.default-sidebox-content-slider ol,
.default-content-slider ol{
    padding:0px;
    margin:0px;
}

.top-offers ol li,
.default-sidebox-content-slider ol li,
.default-content-slider ol li{
    float:left;
    list-style: none;    
}

.top-offers ol a,
.default-sidebox-content-slider ol a,
.default-content-slider ol a{
    display:block;
    margin: 5px;
    padding:7px;
    border: 1px solid black;
    color: white;
    background: url('/img/slider/background.png') repeat ;
    list-style: none;
    text-decoration:none;
}


.top-offers ol li.current a,
.default-sidebox-content-slider ol li.current a,
.default-content-slider ol li.current a{
    background: #ddd;
    color: #333;
}


.default-sidebox-content-slider > span a,
.default-content-slider > span a,
.top-offers > span a{
    display: list-item;
    list-style:none;
    float:left;
    border: 1px solid black;
    color:white;
    background: url('/img/slider/background.png') repeat ;
    padding:3px;
    margin:2px;
    text-decoration:none;
    font-size:10px;
}

.default-content-slider.cd-content{
    margin-bottom:5px;
}

/************************ POCASI ************************************/
.adds-top-title #weatherAccommodation {float: left; width: 145px}
.adds-top-title #weatherAccommodation #weatherTitle {font-size: 1.4em; font-weight: bold; margin: 10px 0 0 0;}
.adds-top-title #weatherAccommodation #weather-table {width: 100%;}
.adds-top-title #weatherAccommodation p {margin: 0;}
.adds-top-title #weatherAccommodation p strong {display: block; text-decoration:underline;}

.weatherDestination .day {padding-left: 25px;}

/*HLAVICKA SLIDER*/
#head-slider ul{
    list-style:none;
    padding:0px;
    margin: 0px;
}

/*----------------------------------Selectmenu----------------------------------*/
.ui-selectmenu { display: block; height:1.7em; text-decoration: none; overflow:hidden;position: relative;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu ul {margin:auto;}
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px solid grey; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; background-color: #f8f8f8}
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.4em; display:block; padding:.3em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected { background-color: #e8e8e8}
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content { margin-left: 10px }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

/* Top nabídky po změně na h2 */
.default-sidebox-top-offer h2 {
    background-color: #999999;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    display: block;
    text-decoration: none;
}

.top-offer-square h2 {
    background-color: #999999;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    display: block;
    text-decoration: none;
}

.top-offer-square h2 a {
    color : #ffffff;
    display:block;
    font-size: 12px;
    line-height: 25px;
    margin-right: 10px;
    text-decoration: none;
    text-align : right;
    font-weight: bold;
}

#heading{
    text-align: center;
}


/*
 VÍZA
*/

.visums-sidebox select{
    width: 146px;
    margin: 5px 0px;
}

.visums-sidebox label{
    padding:5px;
}

.visum-loading{
    width: 146px;
    height: 30px;
    background: url('/img/tooltip/loader.gif') center center no-repeat;
    margin:0px auto;
}

#visum-details{
    padding:5px;
}

#visum-details input{
    margin: 10px 0px 10px 5px;
    font-size: 11px;
}

.visums-order .cd-content{
    padding: 10px;
}

.visums-order form label{
    width: 80px;
    margin-bottom: 10px;
    padding-top:5px; 
    display:block;
    float:left;
    clear:left;
}

.visums-order form input{
    width: 180px;
    margin-bottom: 10px;
    display:block;
    float:left;
    clear:right;
    display:block;
}

.visums-order form input[type="submit"]{
    padding: 10px;
    margin: 10px 80px;
}

.visums-order .required label:after{
    color: #c00;
    display:inline;
    content: " *";
}

.visums-order .error-message{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

/*TOP NABÍDKA GALERIE*/
.top-offer-gallery,
.dates-view-gallery{
    list-style :none;
}

.top-offer-gallery li,
.dates-view-gallery li{
    float:left;
    margin:5px;
}

.gallery-clear{
    clear:both;
}

/* Šablony států a destinací */
#destination-tree-collapse{
	display:none;
}

ul#destination-tree-collapse li{
	list-style: none;
}

#destination-tree-collapse .expandable{
	width:15px;
	height: 15px;
	display:block;
	background-image: url(/img/ui/ui-icons_888888_256x240.png);
	background-position: -16px -130px;
	float:left;
	cursor: pointer;
	margin-right: 5px; 
}
#destination-tree-collapse .non-expandable{
	width:15px;
	height: 15px;
	display:block;
	float:left;
	margin-right: 5px;
}

#destination-tree-collapse .expanded{
	background-position: -48px -130px;
}



.destination-tree-dates-count{
	display: inline;
}

#show-map{
	cursor: pointer;
	margin: 10px 0px;
}


/*---------------------------------- Platby ----------------------------------*/
table.payment-items{
	width: 100%;
	text-align: left;
	margin: 20px 0;
}
table.payment-items td,
table.payment-items th{
	padding: 10px;
}
table.payment-items th{
	background: #ddd;
}
table.payment-items td{
	background: #eee;
}
table.payment-items th:first-child{
	width: 70%;
}

table.payment-methods{
	width: 100%;
}
table.payment-methods td{
	padding: 10px;
	background: #eee;
}
table.payment-methods td input,
table.payment-methods td label{
	vertical-align: middle;
}
table.payment-methods td input{
	margin-top: 0;
}

button.pay-it{
	padding: 8px 30px;
	font-weight: bold;
	margin-top:20px;
	width: 40%;
	float: right;
}
.submit-info{
	text-align: right;
}
.payments h2{
	margin-bottom: 0.6em;
}

/*---------------------------------- Šablony výsledků vyhledávání / termínu / hotelu ----------------------------------*/
.tmpl-hidden{
	display: none !important;
}
div.mapElement{
	padding:0;
	width: 100%;
	height: 400px;
}

/* grid - prázdná data*/
.ui-jqgrid #no-dates-message{
	text-align: center;
	padding: 5px;
}
/* grid - přestylování jen pro šablony */
/* reset borderu a pozadi */
.jqgrid-style-1 .ui-jqgrid.ui-widget-content,
.jqgrid-style-1 .ui-jqgrid .ui-jqgrid-hdiv,
.jqgrid-style-1 .ui-jqgrid .ui-jqgrid-pager{
	border: 0;
	background: none;
}
.jqgrid-style-1 .ui-jqgrid .ui-jqgrid-hbox,
.jqgrid-style-1 .ui-jqgrid .ui-pager-control{
	border: 1px solid rgb(150, 150, 150); /* IE 8 fallback */
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	float: none;
}
.jqgrid-style-1 .ui-jqgrid .ui-jqgrid-pager{
	height: auto;
}
.jqgrid-style-1 .ui-jqgrid .ui-pg-table td{
	padding:5px;
}
.jqgrid-style-1 .ui-jqgrid  .ui-state-default{
	background: rgb(200, 200, 200); /* IE 8 fallback */
	background: rgba(0, 0, 0, 0.04);
}
.jqgrid-style-1 .ui-jqgrid  .ui-state-hover{
	background: rgb(220, 220, 220); /* IE 8 fallback */
	background: rgba(0, 0, 0, 0.04);
}
.jqgrid-style-1 .ui-jqgrid  .ui-state-highlight{
	
	background: rgb(235, 235, 235); /* IE 8 fallback */ 
	background: rgba(0, 0, 0, 0.03);
}
.jqgrid-style-1 .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
	margin: 1;
	border: 0;
	height:35px;
	background: none;
	overflow: visible;
}
.jqgrid-style-1 .ui-jqgrid .ui-jqgrid-htable th.ui-th-column > div{
	overflow: visible;
	height: auto;
}
.jqgrid-style-1 .ui-jqgrid tr.jqgrow td{
	height: 32px;
}
.jqgrid-style-1 .ui-jqgrid .ui-pg-button{
	border:1px solid transparent;
}
.jqgrid-style-1 .ui-jqgrid .ui-pg-button.ui-state-hover{
	border: 1px solid rgb(200, 200, 200); /* IE 8 fallback */
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.jqgrid-style-1 .ui-jqgrid .ui-pg-selbox{
	height:20px;
	line-height:20px;
}
.jqgrid-style-1 .ui-jqgrid .ui-pg-input,
.jqgrid-style-1 .ui-jqgrid .ui-pg-selbox{
	font-size: 1em;
}
/* odkaz na termín */
.jqgrid-style-1 .grid-date-link{
	display: inline-block;
	padding:4px;
	background: rgb(200, 200, 200); /* IE 8 fallback */
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid rgb(150, 150, 150); /* IE 8 fallback */
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
}
.jqgrid-style-1 .grid-date-link:hover{
	background: rgb(180, 180, 180); /* IE 8 fallback */
	background: rgba(0, 0, 0, 0.15);
}
/* pozadi loadovaciho boxu */
.jqgrid-style-1  .ui-jqgrid .loading{
	background: #fff;
}
/* vystredeni obrazku a odsazeni availability */
.ui-jqgrid tr.jqgrow td img{
	vertical-align: middle;
}
span.date-availability.cant-verify{
	padding-left: 16px;
}
/*---------------------------------- Helper classes ----------------------------------*/
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*-------------------------- Callback ve výsledcích vyhledávání  --------------------*/
.searchmask-callback label{
	display: inline-block;
	width: 150px;
}

.searchmask-callback .textarea label{
	vertical-align: top;
}

.searchmask-callback textarea {
	width :300px;
	min-height: 300px;
	padding: 5px;
}

.searchmask-callback .submit input{
	margin-left: 150px;
	width: 310px;
	height: 30px;
}

/*---------------------------------- Breadcrumbs ----------------------------------*/
.breadcrumbs {
	padding: 10px 0;
	margin: 0;
}
.breadcrumbs .crumb{
	display: inline-block;
}
.breadcrumbs .crumb + .crumb:before{
	content:"\00bb"; 
	padding: 5px;
}	


/*------------- Formulář pro potvrzení souhlasu s odesláním os. údajů  --------------*/
#personal-info-wrapper{
	padding: 5px;
	max-width: 800px;
}

#personal-info-short{
	padding: 10px 0;
}

/* Traffics pri kontrole zajezdu */
#trafficsDates .check-date {
    cursor: pointer;
    text-decoration: underline;
}
#trafficsDates .occupancy{
	margin-bottom: 15px;
}

/* jednotny overlay - na parenta pridat tridu 'overlay-parent' a do nej pridavat pres js div s tridou 'overlay' */
.overlay-parent{
	position: relative;
}
.overlay-parent > .overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	opacity: 0.8;
	border: 0;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.overlay-parent > .overlay > img {
    position: relative;
    top: 25%;
    max-height: 50%;
    max-width: 90%;
}

/* procentuelní šířky */
.wp100 {
    width: 100%;
}
.wp49 {
    width: 49%;
}
.wp33 {
    width: 33%;
}
.wp30 {
    width: 30%;
}

/* cookie info nad colorbox */
.cc_banner-wrapper {
	z-index: 10000 !important;
}

/* alternativní objednávkový formulář (iframe) */
.alternative-order-form {
    width: 100%;
    border: none;
    height: 1500px;
}

pre.transfer-info {
    font-size: 10px;
    max-width: 470px;
    overflow: auto;
    display: block;
}

.collapse-location,
.collapse-location ul{
    list-style: none!important;
    list-style-type: none!important;
    margin-top: 1px;
    margin-bottom: px;
    padding: 0;
}
.collapse-location{
    position: relative;
    margin: 5px;
}

.collapse-location li {
    margin: 0px;
    margin-bottom: 5px;
}
.collapse-location ul{
    display: none;
    transition: width .5s;
}
.collapse-location li li{
    margin: 0;
    width: 50%;
    float: left;
}
.collapse-location .clear{
    clear: both;
    float: none;
}
.collapse-location.open ul {
    display: block;
    background: #eeeeee;
    margin: 0;
    padding: 0;
}
.collapse-location li li {
    border-bottom: 1px solid #fff;
}
.collapse-location h3{
    padding: 5px 5px 5px 45px;
    border: 1px solid #267dc1;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    color: #267dc1;
    margin: 0;
}
.collapse-location h3 a{
    color: #267dc1;
    text-decoration: none;
}
.collapse-location.open h3{
    background: #eee;
}
.collapse-location h3:before{
    display: block;
    position: absolute;
    content: '+';
    top: 0;
    left: 0;
    width: 25px;
    text-align: center;
    background: #267dc1;
    color: #fff;
    font-weight: 600;
    padding: 6px;
}
.collapse-location.open h3:before{
    display: block;
    position: absolute;
    content: '-';
    top: 0;
}
.collapse-location.open ul a {
    color: #000;
    text-decoration: none;
    display: block;
    font-weight: 600;
    padding: 10px 5px 3px 40px;
    position: relative;
}
.collapse-location.open ul a:before {
    position: absolute;
    content: '▶';
    left: 25px;
    top: 11px;
    font-size: 9px;
    color: #267dc1;
}