/***** Page layout  *****/

#master {
    width: 590px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    background: #fff;

}

.sidebox-content {
    height: 100px;
}

.news-bar {
    height: 1px;
}



/****************************************************** Search-mask ******************************************************/
 
#search-mask .input {margin: 0; padding: 3px 4px}
 
/****************************************************** Detail nabidky ******************************************************/
 
.adds-top-title .title-facts {width: 375px;}
 