
/* grid start */
.row.equal {
	display: flex;
	flex-wrap: wrap;
}
.equal > div[class*='col-'] {
	display: flex;
	flex-direction: column;
}
[class*='col-lg'], [class*='col-md'], [class*='col-sm'], [class*='col-xs'] {
	float: left;
	padding: 15px 15px 0 15px;
	box-sizing: border-box;
	clear: none;
	overflow: hidden;
}
.col-lg-12 {
	width: 100% !important;
}
.col-lg-11 {
	width: 91.66666667% !important;
}
.col-lg-10 {
	width: 83.33333333% !important;
}
.col-lg-9 {
	width: 75% !important;
}
.col-lg-8 {
	width: 66.66666667% !important;
}
.col-lg-7 {
	width: 58.33333333% !important;
}
.col-lg-6 {
	width: 50% !important;
}
.col-lg-5 {
	width: 41.66666667% !important;
}
.col-lg-4 {
	width: 33.33333333% !important;
}
.col-lg-3 {
	width: 25% !important;
}
.col-lg-2 {
	width: 16.66666667% !important;
}
.col-lg-1 {
	width: 8.33333333% !important;
}
.col-lg-offset-12 {
	margin-left: 100%;
}
.col-lg-offset-11 {
	margin-left: 91.66666667%;
}
.col-lg-offset-10 {
	margin-left: 83.33333333%;
}
.col-lg-offset-9 {
	margin-left: 75%;
}
.col-lg-offset-8 {
	margin-left: 66.66666667%;
}
.col-lg-offset-7 {
	margin-left: 58.33333333%;
}
.col-lg-offset-6 {
	margin-left: 50%;
}
.col-lg-offset-5 {
	margin-left: 41.66666667%;
}
.col-lg-offset-4 {
	margin-left: 33.33333333%;
}
.col-lg-offset-3 {
	margin-left: 25%;
}
.col-lg-offset-2 {
	margin-left: 16.66666667%;
}
.col-lg-offset-1 {
	margin-left: 8.33333333%;
}
.col-lg-offset-0 {
	margin-left: 0;
}
.no-padding {
	padding: 0;
}
/* novy vzhled sablony vyhledavani - 1 start */
.params-search-tmpl-1 .smInner {
	position: relative;
	padding-bottom: 15px;
	padding-top: 15px;
	float: none;
}
.params-search-tmpl-1 .smInner:hover .detail a {
	display: block;
}
.params-search-tmpl-1 .smInner a {
	text-decoration: none;
}
.params-search-tmpl-1 .smInner .mb {
	margin-bottom: 15px;
}
.params-search-tmpl-1 .smInner a:hover {
}
.params-search-tmpl-1 .smInner .thumb {
	height: 100%;
	min-height: 170px;
	background-size: cover !important;
	background-position: center !important;
	position: relative;
	margin-bottom: 15px;
}
.params-search-tmpl-1 .smInner .price-info {
	display: block;
	padding: 10px;
	padding-left: 0;
	font-size: 19px;
	text-align: center;
	color: #4d4d4d;
}
.params-search-tmpl-1 .smInner .price-info a {
	font-weight: 600;
}
.params-search-tmpl-1 .smInner .price-info span.alt-price {
	display: block;
	text-align: right;
}
.params-search-tmpl-1 .smInner .top.left {
	width: 100%;
}
.params-search-tmpl-1 .smInner .info {
	height: 100%;
	min-height: 170px;
	margin-top: 0;
	padding: 5px 10px;
	position: relative;
}
.params-search-tmpl-1 .smInner.top, .params-search-tmpl-1 .smInner .bottom {
	width: 100%;
}
.params-search-tmpl-1 .smInner .hotel, .params-search-tmpl-1 .smInner .dest, .params-search-tmpl-1 .smInner .rating, .params-search-tmpl-1 .smInner .country, .params-search-tmpl-1 .smInner .icon {
	display: block;
}
.params-search-tmpl-1 .smInner .hotel {
	font-size: 25px;
	padding: 0px;
	height: 30px;
	width: 100%;
	overflow: hidden;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.params-search-tmpl-1 .dates-table-simple td img {
	float: left;
	margin-left: 20px;
	width: 16px;
	height: 16px;
}
.params-search-tmpl-1 .smInner .dest {
	font-size: 13px;
	padding: 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.params-search-tmpl-1 .smInner .icon {
	padding: 5px;
	display: block;
	float: left;
	margin-right: 145px;
}
.params-search-tmpl-1 .smInner .detail a {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	line-height: 145px;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	font-size: 100px;
	text-decoration: none;
	color: #f3f6fb;
}
.params-search-tmpl-1 .smInner .params-hotel {
	margin-top: 11px;
	float: left;
}
.params-search-tmpl-1 .smInner a.terms {
	float: right;
	clear: both;
	display: block;
	background: #227dbe;
	padding: 10px 20px;
	color: #fff !important;
	font-size: 15px;
	margin-top: -36px;
	border-radius: 2px;
}
.params-search-tmpl-1 .smInner a.terms:hover {
	background: #2ca6fe;
}
.params-search-tmpl-1 .no-pt {
	padding-top: 0 !important;
}
.params-search-tmpl-1 .no-pr {
	padding-right: 0 !important;
}
.params-search-tmpl-1 .overflow-visible {
	overflow: visible;
}
.params-search-tmpl-1 .recommendation-box {
	min-height: 1px;
}
.params-search-tmpl-1 .recommendation img {
	width: 100%;
}
.params-search-tmpl-1 .recommendation {
	background: #227dbe;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
}
.params-search-tmpl-1 .recommendation strong {
	font-size: 17px;
}
.params-search-tmpl-1 .params-date {
	font-weight: 600;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.params-search-tmpl-1 span.date {
	margin: 5px 0px;
	display: block;
	min-height: 12px;
}
.params-search-tmpl-1 .smInner .dest img.countryFlag {
	vertical-align: middle;
}
.params-search-tmpl-1 .attributes {
	margin-bottom: 15px;
	min-height: 35px;
}
.params-search-tmpl-1 .attributes ul {
	padding: 0;
	margin: 0;
}
.params-search-tmpl-1 .lm-wrap, .params-search-tmpl-1 .fm-wrap {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	background: #227dbe;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	display: none;
}
.params-search-tmpl-1 .fm-wrap {
	bottom: 0;
	top: inherit;
}
.params-search-tmpl-1 .is-lm .lm-wrap, .params-search-tmpl-1 .is-fm .fm-wrap {
	display: block;
	z-index: 2;
}

.search-swiper-container .swiper-slide{
  background-size: cover !important;
  background-position: center !important;
}
.params-search-tmpl-1 .search-swiper-container.swiper-container.swiper-container-horizontal {
    height: 170px;
}
.params-search-tmpl-1 .search-swiper-container .swiper-wrapper span, .params-search-tmpl-2 .search-swiper-container .swiper-wrapper span{
  display: none;
}


.params-search-tmpl-1 .more-link a {
	text-align: center;
	display: block;
	margin-top: 10px;
	font-size: 17px;
}
.params-search-tmpl-1 .localrating-text {
	clear: both;
}
.params-search-tmpl-1 .dates-table-simple {
	background: #fff;
}
.params-search-tmpl-1 .dates-table-simple thead {
	display: none;
}
.params-search-tmpl-1 .dates-table-simple td, .params-search-tmpl-1 .dates-table-simple th {
	padding: 6px 2px;
	text-align: center;
}
/* novy vzhled sablony vyhledavani - 1 konec */
/* novy vzhled sablony vyhledavani - 2 start */
.params-search-tmpl-2 .smInner {
	position: relative;
	padding-bottom: 15px;
	padding-top: 15px;
	float: none;
}
.params-search-tmpl-2 .smInner:hover .detail a {
	display: block;
}
.params-search-tmpl-2 .smInner a {
	text-decoration: none;
}
.params-search-tmpl-2 .smInner a:hover {
}
.params-search-tmpl-2 .smInner .thumb {
	height: 100%;
	min-height: 170px;
	background-size: cover !important;
	background-position: center !important;
	position: relative;
	margin-bottom: 15px;
}
.params-search-tmpl-2 .smInner .price-info {
	display: block;
	padding: 10px;
	padding-left: 0;
	font-size: 19px;
	text-align: center;
	color: #4d4d4d;
}
.params-search-tmpl-2 .smInner .price-info a {
	font-weight: 600;
}
.params-search-tmpl-2 .smInner .price-info span.alt-price {
	display: block;
	text-align: right;
}
.params-search-tmpl-2 .smInner .top.left {
	width: 100%;
}
.params-search-tmpl-2 .smInner .info {
	height: 100%;
	min-height: 170px;
	margin-top: 0;
	padding: 5px 10px;
	position: relative;
}
.params-search-tmpl-2 .smInner.top, .params-search-tmpl-2 .smInner .bottom {
	width: 100%;
}
.params-search-tmpl-2 .smInner .hotel, .params-search-tmpl-2 .smInner .dest, .params-search-tmpl-2 .smInner .rating, .params-search-tmpl-2 .smInner .country, .params-search-tmpl-2 .smInner .icon {
	display: block;
}
.params-search-tmpl-2 .smInner .hotel {
	font-size: 25px;
	padding: 0px;
	height: 35px;
	width: 100%;
	overflow: hidden;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.params-search-tmpl-2 .dates-table-simple td img {
	float: left;
	margin-left: 20px;
	width: 16px;
	height: 16px;
}
.params-search-tmpl-2 .smInner .dest {
	font-size: 13px;
	padding: 0;
}
.params-search-tmpl-2 .smInner .icon {
	padding: 5px;
	display: block;
	float: left;
	margin-right: 145px;
}
.params-search-tmpl-2 .smInner .detail a {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	line-height: 145px;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	font-size: 100px;
	text-decoration: none;
	color: #f3f6fb;
}
.params-search-tmpl-2 .smInner .params-hotel {
	margin-top: 11px;
	float: left;
}
.params-search-tmpl-2 .smInner a.terms {
	float: right;
	clear: both;
	display: block;
	background: #227dbe;
	padding: 10px 20px;
	color: #fff !important;
	font-size: 15px;
	margin-top: -36px;
	border-radius: 2px;
}
.params-search-tmpl-2 .smInner a.terms:hover {
	background: #2ca6fe;
}
.params-search-tmpl-2 .no-pt {
	padding-top: 0 !important;
}
.params-search-tmpl-2 .no-pr {
	padding-right: 0 !important;
}
.params-search-tmpl-2 .overflow-visible {
	overflow: visible;
}
.params-search-tmpl-2 .recommendation img {
	width: 100%;
}
.params-search-tmpl-2 .recommendation {
	background: #227dbe;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
}
.params-search-tmpl-2 .recommendation strong {
	font-size: 17px;
}
.params-search-tmpl-2 .params-date {
	font-weight: 600;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.params-search-tmpl-2 span.date {
	margin: 5px 0px;
	display: block;
	min-height: 12px;
}
.params-search-tmpl-2 .attributes {
}
.params-search-tmpl-2 .attributes ul {
	padding: 0;
	margin: 0;
}
.params-search-tmpl-2 .lm-wrap, .params-search-tmpl-2 .fm-wrap {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background: #227dbe;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: none;
    z-index: 2;
}
.params-search-tmpl-2 .fm-wrap {
	bottom: 0;
	top: inherit;
}
.params-search-tmpl-2 .is-lm .lm-wrap, .params-search-tmpl-2 .is-fm .fm-wrap {
	display: block;
}
.params-search-tmpl-2 .more-link a {
	text-align: center;
	display: block;
	margin-top: 10px;
	font-size: 17px;
}
.params-search-tmpl-2 .localrating-text {
	clear: both;
}
.params-search-tmpl-2 .dates-table-simple {
	background: #fff;
}
.params-search-tmpl-2 .dates-table-simple thead {
	display: none;
}
/* novy vzhled sablony vyhledavani - 2 konec */
/* novy vzhled sablony vyhledavani - DE start */
.params-de-search-tmpl .smInner {
	position: relative;
	padding-bottom: 15px;
	padding-top: 15px;
	float: none;
}
.params-de-search-tmpl .smInner:hover .detail a {
	display: block;
}
.params-de-search-tmpl .smInner a {
	text-decoration: none;
}
.params-de-search-tmpl .smInner a:hover {
}
.params-de-search-tmpl .smInner .thumb {
	height: 100%;
	min-height: 170px;
	background-size: cover !important;
	background-position: center !important;
	position: relative;
}
.params-de-search-tmpl .smInner .price-info {
	display: block;
	padding-left: 0;
	font-size: 19px;
	text-align: center;
	color: #4d4d4d;
}
.params-de-search-tmpl .smInner .price-info a {
	font-weight: 600;
	font-size: 23px
}
.params-de-search-tmpl .smInner .price-info span.alt-price {
	display: block;
	text-align: right;
}
.params-de-search-tmpl .smInner .top.left {
	width: 100%;
}
.params-de-search-tmpl .smInner .info {
	height: 100%;
	min-height: 170px;
	margin-top: 0;
	padding: 5px 10px;
	position: relative;
}
.params-de-search-tmpl .smInner.top, .params-de-search-tmpl .smInner .bottom {
	width: 100%;
}
.params-de-search-tmpl .smInner .hotel, .params-de-search-tmpl .smInner .dest, .params-de-search-tmpl .smInner .rating, .params-de-search-tmpl .smInner .country, .params-de-search-tmpl .smInner .icon {
	display: block;
}
.params-de-search-tmpl .smInner .hotel {
	font-size: 25px;
	padding: 0px;
	height: 30px;
	width: 95%;
	overflow: hidden;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.params-de-search-tmpl .dates-table-simple td img {
	float: left;
	margin-left: 20px;
	width: 16px;
	height: 16px;
}
.params-de-search-tmpl .smInner .dest {
	font-size: 13px;
	padding: 0;
}
.params-de-search-tmpl .smInner .icon {
	padding: 5px;
	display: block;
	float: left;
	margin-right: 145px;
}
.params-de-search-tmpl .smInner .detail a {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	line-height: 145px;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	font-size: 100px;
	text-decoration: none;
	color: #f3f6fb;
}
.params-de-search-tmpl .smInner .params-hotel {
	margin-top: 11px;
	float: left;
}
.params-de-search-tmpl .smInner a.terms {
	float: right;
	clear: both;
	display: block;
	background: #227dbe;
	padding: 10px 20px;
	color: #fff !important;
	font-size: 15px;
	margin-top: -36px;
	border-radius: 2px;
}
.params-de-search-tmpl .smInner a.terms:hover {
	background: #2ca6fe;
}
.params-de-search-tmpl .no-pt {
	padding-top: 0 !important;
}
.params-de-search-tmpl .no-pr {
	padding-right: 0 !important;
}
.params-de-search-tmpl .overflow-visible {
	overflow: visible;
}
.params-de-search-tmpl .recommendation img {
	width: 100%;
}
.params-de-search-tmpl .recommendation {
	background: #227dbe;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
}
.params-de-search-tmpl .recommendation strong {
	font-size: 17px;
}
.params-de-search-tmpl .params-date {
	font-weight: 600;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.params-de-search-tmpl span.date {
	margin: 5px 0px;
	display: block;
	font-size: 14px;
	min-height: 12px;
}
.params-de-search-tmpl .strong {
	font-weight: 600;
}
.params-de-search-tmpl .attributes {
}
.params-de-search-tmpl .attributes ul {
	padding: 0;
	margin: 0;
}
.params-de-search-tmpl .lm-wrap, .params-de-search-tmpl .fm-wrap {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
	background: #227dbe;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	display: none;
}
.params-de-search-tmpl .fm-wrap {
	bottom: 0;
	top: inherit;
}
.params-de-search-tmpl .is-lm .lm-wrap, .params-de-search-tmpl .is-fm .fm-wrap {
	display: block;
}
.params-de-search-tmpl .more-link a {
	text-align: center;
	display: block;
	margin-top: 10px;
	font-size: 17px;
	background: #227dbe;
	color: #fff;
	border-radius: 2px;
	padding: 4px 0;
}

.params-search-tmpl-2 .swiper-wrapper {
    height: 170px;
}

.search-swiper-container .swiper-slide a {
    display: flex;
    height: 100%;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 800;
    align-items: center;
    margin: 0 40px;
    justify-content: center;
    position: relative;
    text-shadow: 2px 2px #000000;
}