body {font-family: Arial, helvetica, sans-serif;font-size: 11px;}

fieldset {border:0}
label {display: block}
select {font-size: 11px}
table td {padding-right: 25px}
table th {text-align: left}
input {font-size: 11px}

div.inline-form div.text {min-width: 170px}
div.inline-form div.checkbox label {display: inline}

.clear {clear: both}
.inline-form {float: left; margin-right: 25px}