body {
  font-family: Arial, helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

a{
  color:#FF7E00;
}
a:hover{
  color:#FFB866;
}

p {margin:0; padding: 0}


fieldset {border:0; padding:10px 0;}
label {display: block;font-size:11px;}
select {font-size: 11px}
table {width:100%}
table td {padding-right: 5px}
table th {text-align: left}
input {font-size: 11px}
legend {font-weight: bold}

div.inline-form div.text {min-width: 50px}
div.inline-form div.checkbox label {display: inline}
.submit {text-align: center;}


.clear {clear: both}
.inline-form {float: left; margin: 0 10px 5px 0;}

.trip-reservation-form {
    background: none repeat scroll 0 0 #D0ECF7;
    border: 1px solid #9BCBDF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #606060;
    padding: 8px;
    width: 450px;
    max-width: 450px;
	margin-bottom: 2px;
}

#CustomerNote{
  width:440px;
}

.sessionFlash,
.message{
  background:white;
  color:red;
  padding: 1px 10px;
  font-weight:bold;
}
.sessionFlash button.close {
	display: none;	
	}


.required{
  font-size:11px;
}
#RoomRoom{
  width:250px;
}

/*****
 * SIMPLE FORM 
 ***/
input[type=text],
input[type=password],
textarea,
select {
  font-size: 11px;
  border: solid #9BCBDF 1px;
  padding: 0;
  width:90px;
}

input[type=checkbox] {
  border: 0px;
}

input[type=text],
input[type=password],
select {
  height: 22px;
  line-height:22px;
  background: url("http://www.dovolena.cz/images/uglyforms/input.png");
}
select{
  width:60px;
}
select option {
  padding: 1px 3px;
  background: #fff;
}

textarea {
  background: url("http://www.dovolena.cz/images/uglyforms/input_flat.png") repeat scroll 0 0 transparent;
  line-height: 16px;
}

input[type=submit] {
  background: #FFC url('http://www.dovolena.cz/images/uglyforms/button.png') repeat-x;
  padding: 4px;
  font-weight: bold;
  border:1px solid #FF8817;
  cursor:pointer;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: solid #337eff 1px;
}

input[type=submit]:hover {
  background-color: #900;
  background-position: 0 -30px;
  color: #fff;
}

input[type=text].uf_error,
input[type=password].uf_error{
  border: solid #ff2200 1px;
  background: url('http://www.dovolena.cz/images/uglyforms/input_error.png');
}

.customer {width:200px;}
.customer input {width:150px}
.required label:after {content: ' *'; display:inline;}
