
#ajax-offers-result:after{
  display:table;
  content: " ";
  clear: both;
  height: 0;
}

/**************** Tlačítko zobrazit více ve výsledcích vyheldávání *************************/
.sm-result .load-acm-details span{display: none;}
.sm-result .load-acm-details span.active{display: inline;}

/**************** Seznam termínů ve výsledcích vyhledávání *************************/
.search-result-dates-table td{border-top:1px solid #ddd; }
.search-result-dates-table tr:hover td{ background: #f5f5f5; }

.sm-result .simple-tabs .more-dates-link{float:right; margin-top: 10px;}
.sm-result .simple-tabs .more-dates-link:after{content:' \00BB';}


/*************************** Obrázkové výsledky ***********************************/
.search-results-tmpl-2 .sm-result{
  position: relative;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px;
  float:left;
  border: 1px solid transparent;
}
.search-results-tmpl-2 .sm-result.expanded{
  width:100%;
}
.search-results-tmpl-2 .sm-result .in{
  position: relative;
  width:100%;
  font-size:1.1em;
  display: inline-block;
}
.search-results-tmpl-2 .sm-result .in:before{
  content:"";
  display:block;
  padding-top:75%;
}
.search-results-tmpl-2 .sm-result .in *{
  color: #fff;
}
.search-results-tmpl-2 .sm-result .in .icons{
  text-align:right;
  padding:5px;
}
.search-results-tmpl-2 .sm-result .in .hotel{
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-right: 15px !important;
}
.search-results-tmpl-2 .sm-result .in .hotel a{
  text-decoration:none;
}
.search-results-tmpl-2 .sm-result .in .price-box{
  float: right;
  text-align: right;
}
.search-results-tmpl-2 .sm-result .in .price-box .price{
  font-size: 17px;
  font-weight: bold;
}
.search-results-tmpl-2 .sm-result .in > img{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}
.search-results-tmpl-2 .sm-result .in .main-link{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  text-indent: -999px;
}
.search-results-tmpl-2 .sm-result .in .text{
  background: #000;  
  background: rgba(0,0,0,0.7);
  bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
}
.search-results-tmpl-2 .sm-result .in .text > div{
  padding:3px 0;
}
.search-results-tmpl-2 .sm-result .in .text .text-extended{
  max-height:0;
  overflow:hidden;
  width:100%;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.search-results-tmpl-2 .sm-result:hover .in .text .text-extended{
  max-height:140px;
}
.search-results-tmpl-2 .sm-result .in .text .text-extended table{
  border-collapse: collapse;
}
.search-results-tmpl-2 .sm-result .in .text .text-extended td{
  padding:2px 8px 3px 0;
}
.search-results-tmpl-2 .sm-result .in .text .text-extended td:first-child{
  max-width: 120px;
}
.search-results-tmpl-2 .sm-result .in .text .text-extended tr.airports td,
.search-results-tmpl-2 .sm-result .in .text .text-extended tr.departures td{
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}


/**************** VYSLEDKY VYHLEDAVANI - id 3  *************************/
 .srch-res-inv-tmpl,
.srch-res-inv-tmpl *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.srch-res-inv-tmpl .sm-result{
  padding: 10px;
}

.srch-res-inv-tmpl .recommendation{
  width: 20%;
}
.srch-res-inv-tmpl .price{
  width: 30%;
}
.srch-res-inv-tmpl .thumb,
.srch-res-inv-tmpl .info{
  width: 40%;
  margin: 0;
}
.srch-res-inv-tmpl .hotel{
  width: 50%;
}
.srch-res-inv-tmpl .dates-table,
.srch-res-inv-tmpl .more-link{
  width: 60%;
} 

/* element style */
 .srch-res-inv-tmpl .top{
  margin-bottom: 10px;
}
.srch-res-inv-tmpl .hotel{
  font-size: 2em;
}
.srch-res-inv-tmpl .hotel .hotel-name{
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.recommendation.tmpl-hidden{
  visibility: hidden;
}
.srch-res-inv-tmpl .recommendation{
  background: #1688D1;
  color: #fff;
  font-size: 1.1em;
  padding: 5px;
  text-align: center;
  margin-top: -10px;
}
.srch-res-inv-tmpl .recommendation strong{
  font-size: 1.4em;
}
.srch-res-inv-tmpl .recommendation img{
  width: 80%;
  margin: 0 auto;
  max-width: 224px;
  margin-top: 5px;
}
.srch-res-inv-tmpl .price{
  text-align: right;
  font-size: 1.1em;
  line-height: 1.5;
}
.srch-res-inv-tmpl .price a{
  font-size: 1.4em;
  font-weight: bold;
}
.srch-res-inv-tmpl .price .altprice{
  font-size: 1.3em;
}

.srch-res-inv-tmpl .middle{
  margin-bottom: 10px;
}
.srch-res-inv-tmpl .thumb{
  position: relative;
  border-right: 10px solid transparent;
}
.srch-res-inv-tmpl .thumb::before{
  content: '';
  display: block;
  padding-top: 67%;
}
.srch-res-inv-tmpl .thumb img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.srch-res-inv-tmpl .thumb .lm-wrap,
.srch-res-inv-tmpl .thumb .fm-wrap{
  position: absolute;
  left: 0;
  background: #1688d1;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  display: none;
}
.srch-res-inv-tmpl .is-lm .thumb .lm-wrap{
  display: block;
}
.srch-res-inv-tmpl .is-fm .thumb .fm-wrap{
  display: block;
}
.srch-res-inv-tmpl .thumb .lm-wrap{
  top: 0;
}
.srch-res-inv-tmpl .thumb .fm-wrap{
  bottom: 0;
}
.srch-res-inv-tmpl .dates-table thead,
.srch-res-inv-tmpl .dates-table .red,
.srch-res-inv-tmpl .dates-table .lm{
  display: none;  
}
.srch-res-inv-tmpl .dates-table .date,
.srch-res-inv-tmpl .dates-table .duration{
  text-align: left;
}
.srch-res-inv-tmpl .dates-table table{
  height: 149px;
  border-bottom: 1px solid  #ddd;
}
.srch-res-inv-tmpl .dates-table tr{
  background: #f5f5f5;
}
.srch-res-inv-tmpl .dates-table tr:hover td{
  background: #fff;
}
.srch-res-inv-tmpl .sm-result:nth-child(2n+1) .dates-table tr{
  background: #fff;
}
.srch-res-inv-tmpl .sm-result:nth-child(2n+1) .dates-table tr:hover td{
  background: #f5f5f5;
}

.srch-res-inv-tmpl .destination img{
  border: 0;
  vertical-align: text-bottom;
}
.srch-res-inv-tmpl .localrating-text{
  margin-top: 10px;
  height: 43px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.srch-res-inv-tmpl .localrating-text p{
  margin: 0;
}
.srch-res-inv-tmpl .more-link{
  text-align: center;
  font-size: 1.4em;
} 



/**************** VYSLEDKY VYHLEDAVANI - id 4 / hlx  *************************/
.srch-res-hlx-tmpl,
.srch-res-hlx-tmpl *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.srch-res-hlx-tmpl .sm-result{
  padding: 10px;
}
.srch-res-hlx-tmpl .sm-result a{
  text-decoration: none;
}
/* element width */
.srch-res-hlx-tmpl .price-box{
  width: 20%;
}
.srch-res-hlx-tmpl .thumb{
  width: 30%;
}
.srch-res-hlx-tmpl .info{
  width: 50%;
  margin: 0;
}

/* element style */
.srch-res-hlx-tmpl .top{
  margin-bottom: 10px;
}
.srch-res-hlx-tmpl .hotel{
  font-size: 2em;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.srch-res-hlx-tmpl .recommendation{
  background: #1688D1;
  color: #fff;
  font-size: 1.1em;
  padding: 5px;
  text-align: center;
  margin-top: -10px;
}
.srch-res-hlx-tmpl .recommendation strong{
  font-size: 1.4em;
}
.srch-res-hlx-tmpl .recommendation img{
  width: 80%;
  margin: 0 auto;
  max-width: 224px;
  margin-top: 5px;
}
.srch-res-hlx-tmpl .price{
  text-align: right;
  font-size: 1.2em;
  margin-top: 10px;
}
.srch-res-hlx-tmpl .price a{
  font-size: 1.4em;
  font-weight: bold;
}

.srch-res-hlx-tmpl .middle{
  margin-bottom: 10px;
}
.srch-res-hlx-tmpl .thumb{
  position: relative;
}
.srch-res-hlx-tmpl .thumb::before{
  content: '';
  display: block;
  padding-top: 67%;
}
.srch-res-hlx-tmpl .thumb img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.srch-res-hlx-tmpl .thumb .lm-wrap,
.srch-res-hlx-tmpl .thumb .fm-wrap{
  position: absolute;
  left: 0;
  background: #1688d1;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
  display: none;
}
.srch-res-hlx-tmpl .is-lm .thumb .lm-wrap{
  display: block;
}
.srch-res-hlx-tmpl .is-fm .thumb .fm-wrap{
  display: block;
}
.srch-res-hlx-tmpl .thumb .lm-wrap{
  top: 0;
}
.srch-res-hlx-tmpl .thumb .fm-wrap{
  bottom: 0;
}
.srch-res-hlx-tmpl .info{
  padding: 0 10px;
  margin: 0;
}
.srch-res-hlx-tmpl .desc{
  margin: 0;
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  line-height: 1.5;
}
.srch-res-hlx-tmpl .desc span,
.srch-res-hlx-tmpl .desc strong{
  color: inherit;
}
.srch-res-hlx-tmpl .dates-table thead,
.srch-res-hlx-tmpl .dates-table .red,
.srch-res-hlx-tmpl .dates-table .lm{
  display: none;  
}
.srch-res-hlx-tmpl .dates-table .date,
.srch-res-hlx-tmpl .dates-table .duration{
  text-align: left;
}
.srch-res-hlx-tmpl .dates-table table{
  height: 100px;
  border-bottom: 1px solid  #ddd;
}
.srch-res-hlx-tmpl .dates-table tr{
  background: #f5f5f5;
}
.srch-res-hlx-tmpl .dates-table tr:hover td{
  background: #fff;
}
.srch-res-hlx-tmpl .sm-result:nth-child(2n+1) .dates-table tr{
  background: #fff;
}
.srch-res-hlx-tmpl .sm-result:nth-child(2n+1) .dates-table tr:hover td{
  background: #f5f5f5;
}

.srch-res-hlx-tmpl .more-link{
  text-align: center;
  font-size: 1.4em;
  margin-top: 10px;
}


/******************** VYSLEDKY VYHLEDAVANI - ID 81 / traffics *******************/
﻿.srch-res-style-81-tmpl,.srch-res-style-81-tmpl * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.srch-res-style-81-tmpl .sm-result {
    padding: 10px;
}
.srch-res-style-81-tmpl .sm-result a{
    text-decoration: none;
}

.srch-res-style-81-tmpl .thumb {
    width: 40%;
    margin: 0;
}

.srch-res-style-81-tmpl .params-hotel{
    width: 6%;
    height: 174px;
}
.srch-res-style-81-tmpl .right-side{
    width: 54%;
}
.srch-res-style-81-tmpl .params-hotel .parameters-32{
    margin: 0 0 6px 0;
}
.srch-res-style-81-tmpl .params-hotel .parameters-32:last-child{
    margin-bottom: 0;
}
.srch-res-style-81-tmpl .hotel {
    font-size: 1.3em;
}

.srch-res-style-81-tmpl .hotel .hotel-name {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 0;
}
.srch-res-style-81-tmpl .hotel .destination {
    margin: 0;
    font-size: 1.1em;
}

.srch-res-style-81-tmpl .price {
    text-align: right;
    font-size: 1.1em;
    line-height: 1.5;
}

.srch-res-style-81-tmpl .price a {
    font-size: 1.4em;
    font-weight: bold;
}

.srch-res-style-81-tmpl .price .altprice {
    font-size: 1.3em;
}

.srch-res-style-81-tmpl .thumb {
    position: relative;
    border-right: 10px solid transparent;
}

.srch-res-style-81-tmpl .thumb::before {
    content: '';
    display: block;
    padding-top: 66.5%;
}

.srch-res-style-81-tmpl .thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0 none
}

.srch-res-style-81-tmpl .thumb .lm-wrap,.srch-res-style-81-tmpl .thumb .fm-wrap {
    position: absolute;
    left: 0;
    background: #1688d1;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
    display: none;
}

.srch-res-style-81-tmpl .is-lm .thumb .lm-wrap {
    display: block;
}

.srch-res-style-81-tmpl .is-fm .thumb .fm-wrap {
    display: block;
}

.srch-res-style-81-tmpl .thumb .lm-wrap {
    top: 0;
}

.srch-res-style-81-tmpl .thumb .fm-wrap {
    bottom: 0;
}

.srch-res-style-81-tmpl .destination img {
    border: 0;
    vertical-align: text-bottom;
}

.srch-res-style-81-tmpl .localrating-text {
    margin: 10px 0;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.srch-res-style-81-tmpl .localrating-text p {
    margin: 0;
}

.srch-res-style-81-tmpl .more-link {
    margin-left: 15px;
}
.srch-res-style-81-tmpl .more-link a{
    color: #fff;
    display: block;
    padding: 8px 5px;
    background: #227DBE;
    text-align: center;
    font-size: 1.2em;
    width: 90px;
    text-align: center;
}
.srch-res-style-81-tmpl .more-link a:hover{
    background: #1d6da5;
}