#menu {  
  height: 37px;
/*  background: url(/img/css/bg-menu.gif) repeat-x;*/
}
.nav, .nav * {
	margin:0;
	padding:0;
}
.nav {
	line-height:1.0;
	float:left;
	margin-bottom:0em;
}
.nav ul {
	background:#fff; /*IE6 needs this*/
	width:158px;
}
.nav li {
    /*background: url(/img/css/bg-menu-normal.jpg) no-repeat;*/
	float:left;
	list-style:none;
	position:relative;
	/*z-index:999;*/
}
.nav a {
	display:block;
	float:left;
	font-weight:bold;
	height: 37px;
	line-height:37px;
	/*text-align:center;*/
	text-decoration:none;
	color: white;
	/*pridano vena*/
	/*width:158px;*/
	padding-left: 20px;
	padding-right: 20px;
}
.nav li ul {
	float:none;
	top:-999em;
	position:absolute;
	z-index:999;
}

.nav li:hover,
.nav li.sfHover,
.nav a:focus, .nav a:hover, .nav a:active {
	 
}
.nav li:hover ul, /* pure CSS hover is removed below */
ul.nav li.sfHover ul {
	left:0px;
	top:37px;
	 
}

.nav li:hover li ul,
.nav li.sfHover li ul {
	top:-999em;
}
.nav li li:hover ul, /* pure CSS hover is removed below */
ul.nav li li.sfHover ul {
	left:100px;
	top:-10px;
}
/*following rule negates pure CSS hovers
so submenu remains hidden and JS controls
when and how it appears*/
.superfish li:hover ul,
.superfish li li:hover ul {
	top: -999em;
}
.nav li li {
    background: #49a2da; 
	float:left;
	width:158px;
	border-bottom: 1px solid #fff;
	font-size: 11px;
	font-family: Arial;
}
.nav li li li {
	background:#49a2da;
	 
}
.nav li li a {
	float:none;
	padding-right:0px;
	height: 25px!important;
	line-height: 28px!important;
	color: #f1f1f1
}
.nav li li a:hover {
 	background:#64bef7
}