	#nav, #nav ul { /* all lists */
		padding: 0;
		margin: 0 0 1px 0;
		list-style: none;
		float : left;
		/*width : 12em;*/
		
	}
	
	#nav li { /* all list items */
		position : relative;
		float : left;
		line-height : 25px;
		margin-bottom : -1px;
		/*width: 11em;*/
	}
	
    #nav li:hover, #menu li.hover {
      position: static;
    
	}

	#nav li ul { /* second-level lists */
		position : absolute;
		left: -999em;
		margin-left : 13.05em;
		margin-top : -2.4em;
		z-index: 999;
	}
	
	#nav li ul ul { /* third-and-above-level lists */
		left: -999em;
	}
	
	#nav li a {
		width: 12em;
		w\idth : 12em;
		display : block;
		color : #364A90;
		font-weight: bold;
		height: 25px;
		line-height: 25px;
		text-decoration : none;
		background: white;
		padding : 0 0.5em;
	}
	
	#nav li a:hover {
		color : #364A90;
		background: #c7d9f1;
	}
	
	#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
		left: -999em;
	}
	
	#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { /* lists nested under hovered list items */
		left: auto;
	}
	
 