
/*************************** Element s cenou ***********************************/
.price-element .original-price {
  text-decoration: line-through;
}
.price-element > span {
  padding: 0 0.1em;
}
.dates-table-simple .price-element .discount {
  color: red;
}

/* v tabulce termínů */
.dates-table-simple .price-element .alt-price:before {
  content: '(';
}
.dates-table-simple .price-element .alt-price:after {
  content: ')';
}

/**************** Simple tabulka termínů - základní styl *************************/
.dates-table-simple{ width: 100%; border-collapse: collapse;}
.dates-table-simple td, .dates-table-simple th{ padding: 3px; text-align: center;}
.dates-table-simple td img{vertical-align: middle;}
.dates-table-simple td .transport-text{display:none;}
.dates-table-simple td .airport-name{margin-left:3px;}
.dates-table-simple td.date-detail{width:50px;}
.dates-table-simple td .date-detail-link{white-space: nowrap;}
.dates-table-simple td .date-detail-link:after{content:' \00BB';}



/*************************** Modré simple taby ***********************************/
.simple-tabs-blue .simple-tabs{
  border:1px solid #dfdfdf;
  -webkit-box-shadow: 0 0 5px 0 #CFCFCF;
  box-shadow: 0 0 5px 0 #CFCFCF;
}
.simple-tabs-blue .simple-tab-header{
  padding:0;
  background: #2f96d6;
  background: -moz-linear-gradient(top,  #64B4E5 0%, #2f96d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64B4E5), color-stop(100%,#2f96d6));
  background: -webkit-linear-gradient(top,  #64B4E5 0%,#2f96d6 100%);
  background: -o-linear-gradient(top,  #64B4E5 0%,#2f96d6 100%);
  background: -ms-linear-gradient(top,  #64B4E5 0%,#2f96d6 100%);
  background: linear-gradient(to bottom,  #64B4E5 0%,#2f96d6 100%);
  color: #fff;
}
.simple-tabs-blue .simple-tab-header *{
  color:#fff;
  font-size:1.1em;
}
.simple-tabs-blue .simple-tab-content,
.simple-tabs-blue .simple-tab-content > div.opened{
  background: #fff;
}

.simple-tabs-blue .simple-tab-header > a.opened span{
  background: #fff;
  color: #3298D7;
}
.simple-tabs-blue .simple-tab-header > a{
  border-right:1px solid #fff;
  position:relative;
}

.simple-tabs-blue .simple-tab-header > a span{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.simple-tabs-blue .simple-tabs .simple-tab-content > div{
  padding:20px;
}


/*************************** Pruhy přes roh elementu ***********************************/
.lt-ie9 .corner-striped > .strip{
  display:none !important;
}
.corner-striped{
  position: relative;
  overflow: hidden;
}
.corner-striped > .strip{
  background: #2F96D6;
  color:#fff;
  position: absolute;
  width:70px;
  line-height:20px;
  padding-top:30px;
  text-align: center;
  font-weight: bold;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  display:block;
}
.corner-striped > .strip-tl{
  top:-20px;
  left:-30px;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.corner-striped > .strip-tr{
  top:-20px;
  right: -30px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.corner-striped > .strip-bl{
  bottom:-20px;
  left:-30px;
  padding-bottom:30px;
  padding-top: 0;
  transform: rotate(-45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.corner-striped > .strip-br{
  bottom:-20px;
  right: -30px;
  padding-bottom:30px;
  padding-top: 0;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.corner-striped > .strip-tip{
  background: #940808;
}
.corner-striped > .strip-lm,
.corner-striped > .strip-fm,
.corner-striped > .strip-tip{
  display:none;
}
.is-lm .corner-striped > .strip-lm,
.is-fm .corner-striped > .strip-fm,
.is-tip .corner-striped > .strip-tip{
  display:block;
}


/*************************** Box s vlastním hodnocením  ***********************************/
.local-rating-box{
  clear: both;
  position: relative;
  margin: 10px auto;
  padding: 10px;
  border-radius: 3px;
  border:1px solid #BBB;
  background: #DBDBDB;
}
.local-rating-box .recommendation{
  font-size: 14px;
  font-weight: bold;
}

/*************************** Box s info o smazaném temrínu  ***********************************/
.erased-box{
  clear: both;
  background: #E25A5A;
  border: 1px solid #CC3D3D;
  padding:10px;
}
.erased-box,
.erased-box *{
    color: #fff;
}