// termin zajezdu v op
.bc-date-image {
    max-width: 100%;
    width: 300px;
    height: 200px;
    border-radius: $border-radius-base;
    border: 1px solid $gray-lighter;
    background-size: cover;
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.bc-date-term {
    max-width: 100%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bc-date {
    strong {
        i.material-icons {
            font-size: 1em;
        }
    }

    &--infobox {
        min-height: 155px;

        .bc-date-image {
            width: 200px;
            height: 130px;
            left: 0;
            float: right;
            transform: none;
        }
    }
}

// detail ck v op
.bc-ck-image {
    max-width: 100%;
    width: 250px;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    background-color: $brand-white;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: 2rem;
    padding: 40px 35px;

    img {
        width: 100%;
        height: auto;
    }
}

// fix pro detail ck
.bc-ck-grid {
    padding-top: 0;

    & > div {
        padding-top: 22px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            padding-top: 12px;
        }

        &::after {
            content: '';
            display: block;
            width: calc(100% + 30px);
            height: 1px;
            background: $gray-lighter;
            position: absolute;
            left: -15px;
            bottom: -11px;
        }
    }

    p {
        margin: 0;
    }
}

.contract-cancelled {
    div:not(.label):not(.pull-right),
    span:not(.label),
    img,
    a,
    button {
        opacity: 0.6;
    }
}

// barvy bc
$bcColors: (
    '3f51b5': #3f51b5, // Borůvková - G
    '7986cb': #7986cb, // Levandulová - G
    '039be5': #039be5, // Azurová - G
    '33b679': #33b679, // Šalvějová - G
    '0b8043': #0b8043, // Bazalková - G
    'b2ff59': #b2ff59, // Limetková
    'eeff41': #eeff41, // Citrónová
    'f6bf26': #f6bf26, // Banánová - G
    'f4511e': #f4511e, // Mandarinková - G
    'd50000': #d50000, // Rajčatová - G
    'e91e63': #e91e63, // Malinová
    'e67c73': #e67c73, // Lososov8 - G
    '8e24aa': #8e24aa, // Vínová - G
    '616161': #616161, // Uhlová - G
);

@each $name, $color in $bcColors {
    .bc-bcg-#{$name} {
        @if ($dark-mode == false) {
            background: linear-gradient(rgba($color, 0.4) 50px, $body-bg 350px);
        }

        .topFix {
            border-bottom: 5px solid rgba($color, 0.95);
        }
    }
}

$bcStatusColors: (
    develop: (
        background: #90A4AE,
    ),
    reservation: (
        background: #ffa726,
    ),
    contract: (
        background: #E91E63,
    ),
    contract-unconfirmed: (
        background: #90A4AE,
    ),
    contract-confirmed: (
        background: #43A047,
    ),
    contract-agreed: (
        background: #ffa726,
    ),
    paid: (
        background: #7E57C2,
    ),
    clearance: (
        background: #43A047,
    ),
    returned: (
        background: #0288D1,
    ),
    closed: (
        background: #BDBDBD,
    ),
    canceled: (
        background: #BDBDBD,
    ),
    annulled: (
        background: #ff5722,
    )
);

// barvy bc statusů
.bc-status {
    option {
        background: $brand-white;
        border-color: darken($brand-white, 5%);
        color: $gray-base;
    }

    @each $name, $map in $bcStatusColors {
        &[data-value="#{$name}"] {
            background: map-get($map, background);
            border-color: darken(map-get($map, background), 10%);
            color: $brand-white;

            @if ($dark-mode) {
                background: mix(black, map-get($map, background), 35%);
                border-color: darken(mix(black, map-get($map, background), 35%), 10%);
                color: $gray-base;
            }
        }
    }
}

// labely bc statusů
@each $name, $map in $bcStatusColors {
    .label-bc-#{$name} {
        @if ($dark-mode == false) {
            @include label-variant(map-get($map, background));
        } @else {
            @include label-variant(mix(black, map-get($map, background), 35%));
        }
    }
}

// prázdné řádky v tabulkách úkolů a událostí (skryjeme hlášku, pokud je nějaký obsah)
[id^="faca-row"]:not(#faca-row-new) + .table-empty-text,
[id^="fata-row"]:not(#fata-row-new) + .table-empty-text,
#tableBusinessCaseReservation .table-empty-text:not(:only-of-type) {
    display: none;
}

// grafy statistik
@if ($dark-mode) {
    .graph-div svg > rect {
        fill: $body-bg;
    }
}