// detail termínu (vyhledávač)
.local-booking-form {
    input:not([type="radio"]):not([type="checkbox"]), select {
        max-width: 100%;
        // bootstrap .form-control
        display: block;
        width: 100%;
        height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
        padding: $padding-base-vertical $padding-base-horizontal;
        font-size: $font-size-base;
        line-height: $line-height-base;
        color: $input-color;
        background-color: $input-bg;
        background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
        border: 1px solid $input-border;
        border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
        @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

        // Customize the `:focus` state to imitate native WebKit styles.
        @include form-control-focus;

        // Placeholder
        @include placeholder;

        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
            border: 0;
            background-color: transparent;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &[disabled],
        &[readonly],
        fieldset[disabled] & {
            background-color: $input-bg-disabled;
            opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
        }

        &[disabled],
        fieldset[disabled] & {
            cursor: $cursor-disabled;
        }

        // small
        height: $input-height-small;
        padding: $padding-small-vertical $padding-small-horizontal;
        font-size: $font-size-small;
        line-height: $line-height-small;
        border-radius: $input-border-radius-small;
    }

    // menší selecty pro počet osob v ceníku
    .count select {
        padding: 2px;
        height: 25px;
        width: 40px;
    }

    .pull-right.room-availability {
        float: none !important;
        display: block;
        margin-top: 5px;
    }

    table tr td:not(:last-child) {
        padding-right: 5px;
    }

    .section.service {
        @extend .panel;
        @extend .panel-default-dark;

        .section-header {
            @extend .panel-heading;
        }

        div.description {
            @extend .panel-body;

            img {
                float: right;
                height: auto;
                max-width: 100%;
                width: 100px;
                margin: 5px;
                filter: grayscale(100%);
            }
        }

        table.prices {
            margin: 0 $panel-body-padding;
            width: calc(100% - 2 * #{$panel-body-padding});
        }

        div.text {
            padding: 0 $panel-body-padding $panel-body-padding $panel-body-padding;
        }
    }

    .total {
        text-align: right;
    }
}

.lm-badge {
    display: inline-block;
    border: 1px solid $brand-danger;
    border-radius: $border-radius-base;
    font-size: 0.5em;
    padding: 0.2em 0.5em;
    color: $brand-danger;
    vertical-align: middle;
}

.star-badge {
    display: inline-block;
    border: 1px solid $gray-light;
    border-radius: $border-radius-base;
    font-size: 0.5em;
    padding: 0.2em 0.4em;
    color: $gray-dark;
    vertical-align: middle;

    i.material-icons {
        font-size: 0.9em;
        position: relative;
        left: -0.1em;
        top: -0.1em;
    }
}

// "cenovka"
.price-tag {
    display: inline-block;
    background-color: $brand-info;
    border-radius: $border-radius-base;
    padding: $panel-body-padding;
    font-size: 2rem;
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: calc(50% - (#{$panel-body-padding} + 15px));
        right: 100%;
        border-right: $panel-body-padding + 15px solid $brand-info;
        border-top: $panel-body-padding + 15px solid transparent;
        border-bottom: $panel-body-padding + 15px solid transparent;
    }
}

.date-detail-row {
    margin: 0 -8px;

    > [class^="col-"] {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.date-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    font-size: $font-size-h1;
}

.date-other-operators-list {
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;
    padding: 0.75rem 1rem;
    margin-top: 1.5rem;

    span {
        color: $gray-light;
    }
}

.date-other-operators-link {
    position: relative;
    display: inline;

    &::after,
    &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        left: calc(50% - 12px);
        bottom: -19px;
        transition: border 0.3s ease;
        z-index: 1;
    }
    &::after {
        left: calc(50% - 11px);
        border-bottom: 0 solid $brand-white;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
    }
    &::before {
        border-bottom: 0 solid $gray-lighter;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }

    &[aria-expanded="true"] {
        &::after {
            border-bottom-width: 11px;
        }
        &::before {
            border-bottom-width: 12px;
        }
    }
}

.date-term-button {
    //
}

.slider-date {
    width: 100% !important;
    height: 70vh;
    overflow: hidden;

    li {
        width: 100% !important;
    }

    .slick-list {
        height: 100% !important;
    }

    .slick-slider {
        width: 100%;
    }

    .slick-slide {
        border: 0;
        width: 100%;
    }

    .slide {
        display: block !important;

        a {
            background-size: cover;
            background-position: center;
            display: block;
            height: 95px;
            width: 100%;
        }
    }
}

// load more
.load-more-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to bottom, transparent, rgba($brand-white, 0.7) 30%, $brand-white 50%);
    display: flex;
    align-items: flex-end;
    padding: $panel-body-padding;
}