.login-panel {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    .input-group-addon {
        background-color: $brand-white;
        input {
            vertical-align: bottom;
            margin-right: 5px;
        }
    }
    .panel-footer {
        text-align: center;
        padding-top: 3rem;
    }
    .form-inline .control-label {
        padding-left: 1rem;
    }
}
.login-headline {
    text-align: center;
    color: $gray-darker;
    margin-bottom: 1rem;
}
.login-logo {
    display: block;
    width: 110px;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
    @if ($dark-mode) {
         filter: brightness(0) invert(1);
    }
}
.login-layout .wrap-for-sticky-footer {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    @if($dark-mode == false) {
        background-image: url('/img/admin/login-light-0419.jpg');
    } @else {
        background-image: url('/img/admin/login-dark-0419.jpg');
    }
}