.searches-item {
	border-radius: $border-radius-base;
	background: $gray-lighter;
	color: $gray;
	overflow: hidden;
	margin-bottom: $grid-gutter-width / 2;

	> div {
		padding: 10px $grid-gutter-width / 2;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 0.1em;
	}

	.searches-image-wrapper {
		position: relative;
		min-height: 200px;
	}

	.searches-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-position: center;
		background-size: cover;
	}

	.searches-rating-badge {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		border-radius: $border-radius-base;
	}

	.searches-rating-col {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			content: "";
			height: 100%;
			width: 8px;
			background: linear-gradient(
				to bottom right,
				$gray-light -5%,
				transparent 50%
			);
		}
	}

	.searches-content-col {
		position: relative;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			content: "";
			width: 300px;
			max-width: 100%;
			height: 6px;
			background: linear-gradient(to top right, #cccccc -5%, transparent 50%);
		}
	}

	.searches-rating {
		display: inline-block;
		font-size: 1.6rem;

		strong {
			font-size: 2em;
			font-weight: normal;
		}
	}

	.searches-price-text {
		font-size: 1.2rem;
	}

	.searches-price {
		font-weight: bold;
		font-size: 2.5rem;
		line-height: 1;
	}

	.searches-availability,
	.searches-availability i {
		font-size: 2rem;
	}

	.searches-icons {
		font-size: 1.8rem;
	}

	.searches-show-gallery {
		border: 0;
		background: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		color: $brand-white;
		font-size: 5rem;
		opacity: 0;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 1;
		}
	}
}

// searches-extensions.less
/* zavírací ikona záložek */
.ui-tabs-close {
	cursor: pointer;
	font-size: 10px;
	font-style: normal;
	height: 14px;
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
}

/* ui-datepicker */
.ui-datepicker {
	border: 3px solid $brand-color;
}

.ui-multiselect-menu {
	border: 3px solid $brand-color;
}

.searchesTourOperator .ui-multiselect-filter input {
	margin-bottom: 5px;
}

/* vlastní multiselecty s filtrem */
div.custom-multiselect {
	min-width: 220px !important;
	border: 3px solid $brand-color;

	.ui-multiselect-filter {
		margin-bottom: 5px;
		font-weight: normal;

		input,
		select {
			@extend .form-control;
			@extend .input-sm;
			@extend .d-inline-block;
		}
	}

	.ui-multiselect-all,
	.ui-multiselect-none,
	.ui-multiselect-close {
		font-weight: normal;
	}

	.ui-widget-header,
	.ui-multiselect-checkboxes {
		padding: 0.5rem;
		margin: 0;
	}

	.ui-multiselect-header li.ui-multiselect-close {
		padding-right: 5px;
	}

	.ui-multiselect-header ul li {
		padding: 0 6px 0 0;
	}

	.searchmask .ui-multiselect,
	.searchmask .SearchesCountryDestination {
		width: 100% !important;
	}
}

/* vlastní multiselecty s filtrem */
div.custom-multiselect-medium {
	min-width: 125px !important;
	line-height: 1.2;

	.ui-multiselect-header li.ui-multiselect-close {
		padding-right: 5px;
	}

	a:link,
	a:visited {
		color: #fff;
		line-height: 20px;
	}
	.ui-multiselect-optgroup-label a {
		color: #c33;
	}
}

/* multiselecty s checkboxy */
.ui-multiselect-checkboxes {
	label {
		padding: 3px;
		margin-bottom: 0;
		min-height: 10px;
		vertical-align: middle;

		input {
			margin: 0 2px 0 0;
			vertical-align: middle;
			top: 0;
		}
	}
}

/* singleselecty */
.ui-multiselect-single .ui-multiselect-checkboxes label {
	padding: 4px;
	min-height: 15px;
}

div[data-data-source="amadeus_connector"] .occupancy-form,
div[data-data-source="traffics_connector"] .occupancy-form {
	display: none;
}

.local-booking-form {
	.total {
		text-align: right;
		min-width: 55px;
	}

	.room-name,
	.surcharges .panel-title {
		font-weight: bold;
		margin-bottom: 0.7rem;
		display: block;
	}
	.section.service .section-header {
		font-weight: bold;
	}
}

/* ----------------------------*/
/* --- Redesign vyhledávače ---*/
/* ----------------------------*/

/* modal destinations selector */
#searchform {
	.countryBlock,
	.destinationBlock {
		display: none;
	}
}
.dialogSelectorOkButton span {
	padding-left: 3em !important;
	padding-right: 3em !important;
}
#dialogDestinationSelector,
#dialogTrafficsDestinationSelector,
#dialogAmadeusDestinationSelector,
#dialogDynamicPackagesDestinationSelector,
#dialogYpsilonDestinationSelector {
	overflow: hidden;

	.model-selector-filter-header {
		position: relative;
		top: 5px;
		padding-bottom: 1.5rem;

		.material-icons {
			font-size: 1.5rem;
		}
	}

	.model-selector-content {
		position: relative;
		height: 100%;
	}

	.list-wrapper {
		overflow: hidden;
		position: relative;
		min-height: 1px;
		height: 100%;
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		ul.modal-selector-list {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: auto;

			.listSeparator {
				padding: 5px;
				font-weight: bold;
			}

			li {
				margin: 1px 0 0;
				padding: 1px 4px;
				display: block;

				//skrytí fulltext filtrem
				//musí přebít zobrazení pomocí hodnoty stylu display nastavené přes jquery.show() -> proto !important
				&.hiddenByFilter {
					display: none !important;
				}

				&.shownByFilter {
					display: block !important;
				}

				&.slaveDestination {
					margin: 0;

					//generování paddingu pro strom destinací
					@mixin depthClasses($depth) {
						@while ($depth > 0) {
							&[data-slave-depth="#{$depth}"] {
								padding-left: $depth * 20px;
							}
							$depth: $depth - 1;
						}
					}
					//generování od páte úrovně
					@include depthClasses(5);
				}

				&.masterDestination {
					padding: 5px;
					font-weight: bold;

					&.hasAccordion,
					&.hasAccordion label {
						cursor: pointer;
					}

					input {
						display: none;
					}
				}
				&#nothingFound {
					color: #c1c1c1;
					font-size: 20px;
					padding: 0px 20px;
				}

				label {
					display: block;
					margin: 0;

					input {
						margin: 0 3px;
						display: inline-block;
						vertical-align: middle;
					}

					//zvárazněný substring při filtrování
					span.itemText span {
						color: #00a51b;
					}

					//ikona sbalení
					span.ui-icon {
						float: right;
					}

					//počet vybraných při sbalení
					span.itemCount {
						padding-left: 3px;
					}
				}
			}
		}
	}
	.wrapperCountries {
		width: 39%;
		margin-right: 1%;
	}
	.wrapperDestinations {
		width: 60%;
	}
	.row,
	.wrapper {
		position: relative;
		height: 100%;
	}
}

#selectedCountriesList,
#selectedTrafficsCountriesList,
#selectedYpsilonCountriesList {
	padding: 10px 10px 5px 10px;

	.countryListItem {
		display: inline-block;
		padding: 0px 3px 3px;
		font-weight: bold;

		span {
			float: right;
			padding-top: 1px;
			padding-left: 1px;
			cursor: pointer;
			color: $brand-danger;
		}
	}
}

//pro staré IE extra řešení
#powerId.isOldIe {
	//zobrazíme bloky s výběrem země a destinace
	.countryBlock,
	.destinationBlock {
		display: block;
	}
	//skryjeme blok s otevírátkem modal selektoru
	.modalSelectorBlock {
		display: none;
	}
}

.tab-loader,
.traffics-mask-loader,
.ypsilon_packages-mask-loader,
.amadeus-mask-loader,
.dynamic_packages-mask-loader {
	height: 270px;
	width: 100%;
	text-align: center;
}

.tab-loader img,
.traffics-mask-loader img,
.ypsilon_packages-mask-loader img,
.amadeus-mask-loader img,
.dynamic_packages-mask-loader img {
	margin-top: 71px;
}

pre.transfer-info {
	padding: 0;
	margin: 0;
	font-size: 10px;
	word-break: normal;
	word-wrap: normal;
	color: $gray-base;
	background-color: transparent;
	border: none;
}

.search-description {
	font-size: 10px;
	max-height: 868px;
	overflow: auto;
	display: block;
}

// new
.searchmask {
	[class^="col-"] {
		padding: 0 0.4rem;
	}
	.row {
		margin: 0 -0.4rem;

		.row {
			margin: 0 -1.5rem;
		}
	}
	.list-group-item {
		padding: 1rem 1.5rem 0.25rem 1.5rem;

		.form-group {
			padding: 0 0.5rem;
			margin-bottom: 0.75rem;
		}
	}

	.ui-multiselect,
	.SearchesCountryDestination {
		// převzato z bs3 forms.scss + upraveny velikosti pro sm a odstraněn box-shadow, přidána max-width
		max-width: 100%;
		cursor: pointer;
		font-weight: normal;
		display: block;
		width: 100% !important;
		height: $input-height-small; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		padding: $padding-small-vertical $padding-small-horizontal;
		font-size: $font-size-small;
		line-height: $line-height-small;
		color: $input-color;
		background-color: $input-bg;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 1px solid $input-border;
		border-radius: $input-border-radius-small; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
		@include transition(
			border-color ease-in-out 0.15s,
			box-shadow ease-in-out 0.15s
		);

		// Customize the `:focus` state to imitate native WebKit styles.
		@include form-control-focus;

		// Placeholder
		@include placeholder;

		// Unstyle the caret on `<select>`s in IE10+.
		&::-ms-expand {
			border: 0;
			background-color: transparent;
		}

		// Disabled and read-only inputs
		//
		// HTML5 says that controls under a fieldset > legend:first-child won't be
		// disabled if the fieldset is disabled. Due to implementation difficulty, we
		// don't honor that edge case; we style them as disabled anyway.
		&[disabled],
		&[readonly],
		fieldset[disabled] & {
			background-color: $input-bg-disabled;
			opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
		}

		&[disabled],
		fieldset[disabled] & {
			cursor: $cursor-disabled;
		}

		// [converter] extracted textarea& to textarea.form-control

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	span.ui-icon.ui-icon-circle-close {
		border: 1px solid #d8dcdf;
		float: none;
		justify-content: end;
		padding: 7px;
		display: block;
		clear: both;
		position: absolute;
		right: 5px;
		top: 5px;
		text-align: center;
		width: 20px;
		height: 20px;
		border-radius: 6px;
	}
	.ui-icon.ui-icon-circle-close::before {
		content: "clear";
	}

	.peopleIconWrapper {
		position: absolute;
		right: 1rem;
		top: 0.75rem;
		cursor: pointer;
		z-index: 1;
	}

	.lm-group {
		margin-top: 8px;

		input {
			margin-right: 0.5rem;
		}
		label {
			display: inline;
			margin-right: 1rem;
		}
	}
}

.admin-search-result {
	.description-wrap {
		height: 455px;
		overflow: hidden;
	}

	.search-result-select-statement-accommodations {
		position: absolute;
		top: -25px;
		right: 15px;

		label {
			display: inline-block;
			margin: 0 5px 0 2px;
		}
	}

	.ui-jqgrid .ui-jqgrid-hbox {
		padding-right: 0 !important;
	}

	.ui-jqgrid .ui-jqgrid-htable,
	.ui-jqgrid .ui-jqgrid-btable,
	.ui-jqgrid .ui-jqgrid-pager {
		width: 100% !important;
	}

	.ui-jqgrid tr.ui-row-ltr td:last-child {
		text-align: right;
	}

	.ui-th-column,
	.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
		text-align: left;
	}

	.ui-jqgrid .ui-jqgrid-bdiv,
	.ui-jqgrid .ui-jqgrid-view {
		position: static !important;
	}

	.ui-jqgrid .ui-jqgrid-bdiv > div {
		position: static !important;
	}

	.ui-jqgrid .ui-jqgrid-bdiv {
		border: 0;
		border-bottom: 2px solid $gray-lighter;
		overflow-x: hidden;
	}

	.ui-jqgrid-bdiv,
	.ui-jqgrid-hdiv {
		width: 100% !important;
	}

	.ui-jqgrid .ui-jqgrid-pager {
		border: 0;
		margin-top: 5px !important;
	}

	div[id^="gbox_search-result"],
	div[id^="gview_search-result"],
	div[id^="datesPager"] {
		width: 100% !important;
	}

	#jqgh_search-result-accommodations-grid-cesys-default_rating,
	#jqgh_search-result-accommodations-grid-amadeus-connector_rating,
	#jqgh_search-result-accommodations-grid-traffics-connector_rating,
	#jqgh_search-result-accommodations-ypsilon-package-connector_rating,
	#jqgh_search-result-accommodations-dynamic-packages-connector_rating {
		font-size: 0;

		&::before {
			display: block;
			font-size: 12px;
			font-family: "Material Icons";
			color: inherit;
			content: "star";
			font-feature-settings: "liga";
		}
	}

	.ui-jqgrid {
		[id$="_price"],
		[aria-describedby$="_price"] {
			text-align: right !important;
			padding-right: 16px;
		}

		tr.ui-row-ltr td,
		tr.ui-jqgrid-labels th {
			padding: 0.5rem;
			line-height: 2rem;
		}

		.tree-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.tree-minus {
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 4px 0 4px;
			border-color: $brand-color transparent transparent transparent;
		}
		.tree-leaf {
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: $brand-color;
		}
		.tree-plus {
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 0 4px 6px;
			border-color: transparent transparent transparent $brand-color;
		}
	}
}

.admin-search-result {
	min-height: 890px;
	padding: 0 10px;

	.search-hotel-name {
		width: calc(100% - 85px);
		display: inline-flex;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.searchHotel-hotel-name {
		width: calc(100% - 98px);
		display: inline-flex;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.ui-jqgrid tr.jqgrow {
		cursor: pointer !important;
	}
	.countries-wrap,
	.accommodations-wrap,
	.description-wrap,
	#countriesToggler,
	#descriptionToggler {
		transition: transform 1s ease, width 1s ease, color 1s ease,
			background 1s ease;
	}
	.countries-wrap {
		width: 20%;
	}
	.accommodations-wrap {
		width: calc(60% - 30px);
		z-index: 9;
		background: $brand-white;
	}
	.description-wrap {
		width: 20%;
	}
	.dates-wrap,
	&#oneTable {
		min-height: auto !important;

		i.material-icons {
			font-size: 1.8em;
			line-height: 0.8;
		}
	}
	#countriesToggler,
	#descriptionToggler {
		width: 15px;
		height: 431px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $brand-color;
		//background: #eaf2f8;
		background: $brand-white;
		cursor: pointer;
		z-index: 10;

		&:hover {
			background: $brand-color;
			color: $brand-white;
		}
	}
	&.isDescriptionOpen {
		.countries-wrap {
			width: 0 !important;
		}
		.accommodations-wrap {
			//transform: translateX(calc(-100% / 3));
		}
		.description-wrap {
			width: 40% !important;
		}
		#countriesToggler {
			background: $brand-color;
			color: $brand-white;

			i.material-icons {
				transform: rotate(180deg);
			}
		}
	}
	&.isCountryOpen {
		.description-wrap {
			width: 0 !important;
		}
		.accommodations-wrap {
			//transform: translateX(calc(-100% / 3));
		}
		.countries-wrap {
			width: 40% !important;
		}
		#descriptionToggler {
			background: $brand-color;
			color: $brand-white;

			i.material-icons {
				transform: rotate(180deg);
			}
		}
		&.isDescriptionOpen.isCountryOpen {
			.description-wrap {
				width: 0 !important;
			}
			.accommodations-wrap {
				width: calc(100% - 30px) !important;
			}
			.countries-wrap {
				width: 0 !important;
			}
		}
	}

	.search-result-accommodation {
		//position: relative;
	}

	// popisky před hledáním
	.search-result-statement-accommodations-description,
	.search-result-statement-description-description,
	.search-result-statement-terms-description,
	.search-result-statement-country-description {
		position: absolute;
		top: 28px;
		border-top: 4px solid $brand-white;
		border-bottom: 4px solid $brand-white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: calc(100% - 56px);
		min-height: 400px;
		width: 100%;
		background: lighten($gray-lighter, 3%);
		z-index: 1;

		img {
			width: 120px;
			height: auto;
		}

		h2 {
			color: $brand-color;
			text-transform: uppercase;
			text-align: center;
			font-size: 23px;
		}

		p {
			width: 270px;
			max-width: 100%;
			text-align: center;
			font-size: 14px;
			padding: 5px;
		}
	}

	.search-result-statement-description-description {
		//width: calc(100% - 15px);
		width: 100%;
	}

	.search-result-statement-country-description {
		height: calc(100% - 31px);
		min-width: 200px;

		i.material-icons {
			color: $brand-danger;
			font-size: 100px;
		}
	}

	.row {
		position: relative;
	}

	span.btn.btn-success.btn-icon,
	span.btn.btn-danger.btn-icon,
	span.btn.btn-info.btn-icon,
	span.btn.btn-primary.btn-icon,
	span.btn.btn-secondary.btn-icon {
		font-size: 1.2rem !important;
		padding: 3px !important;
		height: 1.5rem !important;
		margin: 0 3px;
		cursor: default;
	}

	.search-accommodation-image {
		display: none;
		position: absolute;
		width: 280px;
		height: 200px;
		background: $gray-dark;
		padding: 10px;
		border-radius: $border-radius-base;
		z-index: 999;

		img {
			width: 260px;
			height: 180px;
			object-fit: cover;
		}
	}

	.accommodation-master-image {
		position: absolute;
		left: 30px;
	}

	.search-accommodation-image-trigger:hover
		+ .accommodation-master-image
		> .search-accommodation-image {
		display: block;
	}

	.search-description {
		padding: 0 0 20px 0;
		overflow: hidden;
		height: 100%;
		min-height: 430px;

		&:not(.hotelCard) {
			&::after {
				content: "";
				width: 100%;
				height: 2px;
				background: $gray-lighter;
				position: absolute;
				bottom: 24px;
			}
		}
	}

	.search-result-info-message {
		background: $gray-lighter;
		box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
		height: 27px;
		line-height: 27px;
		padding-left: 10px;
	}

	.search-result-accommodations-map {
		padding-top: 4px;
		padding-bottom: 4px;
		border-bottom: 2px solid $gray-light;
		height: 404px !important;
	}

	.select-master-from-map {
		font-weight: 600;
	}

	.hotelCardIn {
		.search-result-statement-tour-operators {
			background: $gray-lighter;
			box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
			height: 27px;
			border-bottom: 1px solid #d8dcdf;
		}

		table.trip-detail {
			display: block;

			th {
				color: $brand-color;
			}
		}

		h4 {
			font-weight: bold;
		}

		.star-badge {
			display: none;
		}

		.gallery-wrapper {
			margin-top: 15px;
			background: $gray-lighter;
			padding-bottom: 5px;
			margin-bottom: 15px;

			.text-center {
				button {
					width: 25px !important;
					height: 25px !important;

					i {
						line-height: 1.2;
					}
				}

				button:nth-child(1) {
					margin-right: 3px;
				}
				button:nth-child(2) {
					margin-left: 3px;
				}
			}
		}

		.slick-slide img {
			height: 50px;
			object-fit: cover;
			width: 100%;
		}

		.slick-slide img {
			height: 100px;
		}

		#descriptionModalShow {
			position: absolute;
			left: 0;
			right: 0;
			display: block;
			bottom: 0;
			padding: 1.5rem;
			padding-top: 3rem;
			height: 8rem;
			width: 100%;
			background: linear-gradient(
				to bottom,
				transparent 0%,
				rgba($brand-white, 0.5) 10%,
				$brand-white 45%
			);
			text-align: center;
			font-weight: 600;
			font-size: 1.5rem;
		}

		#hotelCardClose {
			display: none;
		}

		#accommodation-tour-operators {
			height: 22px;
			width: 100%;
			max-width: 223px;
			margin-top: 2px;
			margin-right: 5px;
		}

		#accommodation-rating {
			display: none;
			@extend .col-md-4;
		}

		#accommodation-map {
			display: none;
			@extend .col-md-8;

			.map__element {
				height: 252px;
			}
		}

		.text {
			font-size: 1.2rem;
		}
	}

	.hotelCard {
		position: fixed;
		z-index: 99991;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;

		.hotelCardIn {
			margin: 0 auto;
			position: fixed;
			max-width: 1260px;
			width: calc(100% - 40px);
			height: auto;
			max-height: calc(100vh - 40px);
			left: 50%;
			transform: translateX(-50%);
			top: $grid-gutter-width;
			padding: 25px;
			padding-bottom: $grid-gutter-width * 2;
			background: $brand-white;
			border-radius: $border-radius-base;
			overflow: auto;

			h4 {
				font-size: 3.3rem;
				margin-top: -4px;
			}

			.star-badge {
				display: inline-block;
				margin-left: 7px;
			}

			.search-result-statement-tour-operators {
				background: transparent;
				height: auto;
				box-shadow: none;
				border-bottom: 0;
			}

			#accommodation-tour-operators {
				margin: 0 1rem;
				width: 223px !important;
				height: $input-height-base;
				font-size: 1.2rem;
			}

			.gallery-wrapper {
				margin-left: -25px;
				margin-right: -25px;
			}

			#hotelCardClose {
				display: inline-block;
				float: right;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			#descriptionModalShow {
				display: none;
			}

			.slick-slide img {
				height: 200px;
			}

			.text {
				font-size: 1.5rem;
			}

			tbody {
				column-count: 2;
				display: block;
				column-gap: 40px;
			}

			& > * {
				break-inside: avoid;
				display: block;
			}

			#accommodation-rating,
			#accommodation-map {
				display: block;
			}
		}
	}
}

.favourites-badge {
	position: relative;

	.material-icons {
		font-size: 1.5em;
	}

	.favourites-number {
		position: absolute;
		left: 2px;
		top: 2px;
		font-size: 0.8em;
		color: $brand-dark;
	}
}

#searches-error {
	margin-top: 55px;
	position: absolute;
}

// amadeus booking
.booking-result.success {
	background: $brand-success;
	padding: 10px;
	text-align: center;
	color: $brand-white;
}

.alternativ-date {
	background-color: $gray-lighter;
}

@if($dark-mode) {
	.select-master-from-map.pull-right {
		color: darken($text-color, 20%);

		&:hover {
			color: darken($text-color, 20%);
		}
	}

	.gm-style .gm-style-iw-c,
	.gm-style .gm-style-iw-c * {
		color: darken($text-color, 20%) !important;
	}
}

// similar dates
.similarDatesModal {
	max-width: 1140px
}

.similar-dates {
	tr td:last-child {
		text-align: right;
	}

	.ui-widget-content.jqgrow:hover {
		background: $state-info-bg;
		cursor: pointer;
	}

	.ui-jqgrid-bdiv {
		overflow-x: hidden;
	}
}