@charset "UTF-8";
#cookieAcceptBar {
  position: fixed;
  width: 100%;
  min-height: 50px;
  z-index: 7900;
  padding: 15px;
  bottom: 0px;
  background-color: black; }

#cookieAcceptBar button {
  float: right; }

/*tlačítko pro obecný souhlas by Vojta*/
#gdpr-general-accept {
  display: block;
  background: #227dbe;
  border: 0 none;
  padding: 20px;
  text-align: center;
  height: 60px;
  max-width: 220px;
  width: 100%;
  margin: 0 auto; }

#gdpr-general-accept a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  display: block; }
