@charset "UTF-8";
/* css k elementu/pluginu occupancy_form.ctp - výběr obsazenosti */
.occupancy-form,
.occupancy-form * {
  box-sizing: border-box; }

.occupancy-form {
  width: 100%; }

.occupancy-form .row .cell {
  float: left;
  width: 16%;
  min-width: 130px;
  padding-right: 1em;
  margin-top: 1em; }

.occupancy-form .row .cell label {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 0.5em; }

.occupancy-form .row .cell select {
  width: 100%;
  /* 60px; */
  max-width: 100px; }
