.order-form,
.order-form * {
  box-sizing: border-box; }

.order-form table {
  width: 100%; }

.order-form table {
  margin-top: 1.5em; }

.order-form table .head {
  font-size: 1.5em;
  padding-bottom: 12px;
  text-align: left; }

.order-form .colnames th {
  text-align: left; }

.order-form input[type="text"],
.order-form input[type="email"] {
  width: 100%;
  max-width: 180px; }

.order-form .new-submit {
  width: 322px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 35px 120px 0 0; }

/* vycentrovani tlacitka - radeji jen pro sablony aby nerozbilo existujici styly */
.dates-tmpl .order-form .new-submit {
  display: block;
  margin: 35px auto 0;
  float: none; }

/* poznamka */
.order-form #text {
  width: 410px;
  height: 60px; }
