/* novy vzhled sablony vyhledavani - DE konec */
/* atributy start */
.attributes li {
  list-style: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 2px 10px 2px;
  background-size: cover !important;
  position: relative; }

.attributes li span {
  display: none;
  top: -31px;
  width: 120px;
  text-align: center;
  left: -48px;
  background: #227dbe;
  padding: 3px;
  color: #fff;
  border-radius: 2px;
  z-index: 999; }

.attributes li span:before {
  content: '';
  position: absolute;
  left: 53px;
  top: 21px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #227dbe transparent transparent transparent; }

.attributes .sea-distance {
  float: left;
  font-size: 10px;
  text-align: center; }

.attributes .sea-distance strong {
  display: block !important;
  font-size: 16px; }

.attributes li:hover span {
  display: block;
  position: absolute; }

.attributes li.DirectlyOnTheBeach:before,
.attributes li.WiFi:before,
.attributes li.AirConditioning:before,
.attributes li.SportActivities:before,
.attributes li.IndoorSwimmingPool:before,
.attributes li.OutdoorSwimmingPool:before,
.attributes li.Waterslide:before,
.attributes li.Wellness:before,
.attributes li.SuitableForChildren:before {
  font-family: 'cesys3' !important;
  font-size: 25px; }

.attributes li.AirConditioning:before, .parameters div.AirConditioning:before {
  content: '\e90a'; }

.attributes li.DirectlyOnTheBeach:before, .parameters div.DirectlyOnTheBeach:before {
  content: '\e90b'; }

.attributes li.IndoorSwimmingPool:before, .parameters div.IndoorSwimmingPool:before {
  content: '\e90d'; }

.attributes li.OutdoorSwimmingPool:before, .parameters div.OutdoorSwimmingPool:before {
  content: '\e90e'; }

.attributes li.WiFi:before, .parameters div.WiFi:before {
  content: '\e913'; }

.attributes li.SuitableForChildren:before, .parameters div.SuitableForChildren:before {
  content: '\e90c'; }

.attributes li.SportActivities:before, .parameters div.SportActivities:before {
  content: '\e911'; }

.attributes li.Wellness:before, .parameters div.Wellness:before {
  content: '\e90f'; }

.attributes li.Waterslide:before, .parameters div.Waterslide:before {
  content: '\e912'; }

.parameters .paramWidth-32 {
  font-family: 'cesys3' !important;
  font-size: 32px; }

.parameters .paramWidth-64 {
  font-family: 'cesys3' !important;
  font-size: 64px; }

.attributes ul {
  padding: 0;
  margin: 0; }

.attributes .ski-distance {
  float: left;
  font-size: 10px;
  text-align: center; }

.attributes .ski-distance strong {
  display: block !important;
  font-size: 16px; }
