@charset "UTF-8";
/* css k elementu/pluginu price_list.ctp - ceník */
.price-list {
  position: relative;
  box-sizing: border-box; }

.price-list .section .section-header {
  font-weight: bold;
  padding: 0.5em;
  background: #eee;
  vertical-align: middle; }

.price-list .section .section-header {
  font-size: 1.4em; }

.price-list .section {
  margin-bottom: 1em; }

.price-list .section.total-price,
.price-list .section.storno-price {
  text-align: right; }

.price-list .section.storno-price {
  font-size: 0.9em; }

.price-list .section.storno-price .checkbox {
  margin-top: 0.5em; }

.price-list .section.storno-price .checkbox input {
  float: right; }

.price-list .section.total-price .total-price-value {
  font-size: 1.2em; }

/* seznamy cen */
.price-list .section table {
  width: 100%;
  margin-top: 0.5em;
  border-collapse: collapse; }

.price-list .section table th,
.price-list .section table td {
  padding: 0.3em 0.5em;
  text-align: center; }

.price-list .section table .description {
  width: 40%;
  text-align: left; }

.price-list .section table .price {
  width: 20%; }

.price-list .section table .count {
  width: 15%; }

.price-list .section table .total {
  width: 15%;
  text-align: right; }

.price-list select {
  max-width: 400px; }

.price-list .room-availability {
  display: block;
  margin-top: 0.5em; }

.price-list .room-availability .img-availability {
  vertical-align: middle;
  width: 16px;
  height: 16px; }

.price-list .room-availability .text-availability {
  padding-right: 5px; }

.price-list .section .room-surcharges-header {
  text-align: left;
  padding: 1.2em 0.4em 0.6em;
  font-size: 1.2em; }

.price-list .debug {
  background-color: #c5dbc5 !important; }

/* volitlené příplatky mimo pokoj */
.price-list .section.surcharges select {
  max-width: 200px;
  display: block;
  margin-top: 0.5em;
  font-size: 1em; }

.price-list .section.surcharges .deletable td:first-child {
  position: relative;
  padding-left: 30px; }

.price-list .section.surcharges .deletable td:first-child .remove-surcharge {
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 50%;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  margin-top: -10px;
  text-decoration: none; }

/* služby */
.price-list .section.service > .description,
.price-list .section.service > .text {
  margin: 1em 0.5em;
  text-align: justify; }

.price-list .section.service > .description img {
  float: right;
  margin: 0 10px;
  max-height: 35px; }

.price-list .section.service table .count {
  width: 10%; }

/* zarovnani selectu u priplatku na stred, slo by vyresit smazanim display block 
u priplatku (viz radek 92), ale bojime se, co by to zpusobilo */
.price-list .section table .count select {
  margin: 0 auto; }
