.searches-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px; }

.search-season {
  display: inline-block;
  height: 11px;
  width: 11px;
  background-size: 88px !important; }

.search-season-summer {
  background: transparent url("/img/weathers/set1.png") no-repeat;
  background-position: -11px 0px; }

.search-season-winter {
  background: transparent url("/img/weathers/set1.png") no-repeat;
  background-position: -66px 0px; }
