.alert {
    border-width: 1px 1px 1px 5px;
    border-radius: 0;
    background-color: darken($brand-white, 0.05);
    font-weight: 700;
}

// Alerts
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($text-color, 10%);
  }
}

@if ($dark-mode == false) {
  .alert-success {
      @include alert-variant($brand-white, $brand-success, $brand-success);
  }
  .alert-info {
      @include alert-variant($brand-white, darken($brand-info, 20%), darken($brand-info, 20%));
  }
  .alert-warning {
      @include alert-variant($brand-white, darken($brand-warning, 5%), darken($brand-warning, 5%));
  }
  .alert-danger {
      @include alert-variant($brand-white, $brand-danger, $brand-danger);
  }
} @else {
  .alert-success {
      @include alert-variant(lighten($body-bg, 5%), $brand-success, lighten($brand-success, 5%));
  }
  .alert-info {
      @include alert-variant(lighten($body-bg, 5%), darken($brand-info, 20%), $text-color);
  }
  .alert-warning {
      @include alert-variant(lighten($body-bg, 5%), darken($brand-warning, 5%), lighten($brand-warning, 5%));
  }
  .alert-danger {
      @include alert-variant(lighten($body-bg, 5%), $brand-danger, lighten($brand-danger, 5%));
  }
}

