$overlay-color: $gray-base;
$local-text-color: $brand-white;
$line-color: $brand-color;

@if ($dark-mode) {
    $overlay-color: $brand-white;
    $local-text-color: $gray-base;
    $line-color: $brand-darker;
}

.clipboard-add-selected-axelerator {
    position: absolute;
    right: 15px;
    top: 4px;
    i.material-icons {
        line-height: 1;
    }
}
.axelerator.row {
    margin: 0 -8px;
    padding-top: 8px;
}
.axelerator-wrap {
    @media (min-width: $screen-lg) {
        width: 20%;
    }
    padding: 8px;
}
.axelerator-item {
    overflow: hidden;
    text-align: center;
    color: $local-text-color;
    cursor: pointer;
    width: 100%;

    a {
        color: $local-text-color;

        &:hover {
            color: $local-text-color;
            text-decoration: none;
        }
    }

    .axelerator-image {
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: $border-radius-base;
        position: relative;
        padding: 10px;
        height: 250px;
    }

    .axelerator-favourites {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        font-size: 2rem;
        line-height: 1;
        opacity: 0.5;
        transition: opacity 0.3s ease;

        .favourites {
            color: $local-text-color;
        }

        &:hover {
            opacity: 1;
        }
    }

    .axelerator-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        .axelerator-acc {
            background: $line-color;
            font-weight: bold;
            transition: background 0.3s ease;
            padding: 0 10px;
            height: 2em;
            line-height: 2em;
            border-radius: $border-radius-base;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .axelerator-ck {
            text-align: left;
            padding: 0 10px;
            height: 2em;
            line-height: 2em;
            position: relative;
            top: 1px;

            &::before {
                content: '';
                display: block;
                background: linear-gradient(to bottom, transparent, rgba($overlay-color, 0.7) 60%);
                position: absolute;
                top: -20px;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }
    }

    .axelerator-info {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 30px 10px 10px;
        font-size: 12px;
        background: rgba($overlay-color, 0.8);
        opacity: 0;
        transition: opacity 0.3s ease;

        .axelerator-country {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .axelerator-destination {
            font-size: 13px;
            margin-top: 5px;
            font-weight: lighter;
        }

        .axelerator-infos {
            &::before {
                content: "";
                display: block;
                width: 50%;
                height: 1px;
                background: rgba($local-text-color, 0.5);
                margin: 8px auto 8px;
            }
        }

        .star {
            font-size: 1em;
            margin-right: -1px;
            float: none;
            height: auto;
        }

        .axelerator-availability {
            font-size: 2rem;
            position: absolute;
            top: 8px;
            left: 10px;
        }
    }

    &:hover {
        .axelerator-info {
            opacity: 1;
        }

        .axelerator-acc {
            background: $line-color;
        }
    }
}

.foreign {
    background: $brand-dark;
}