body#powerId {
    .btn {
        @include transition-property(color, background-color);
        @include transition-duration(.35s);
        @include transition-timing-function(ease);
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 3.5rem;
        height: 3.5rem;
        padding-top: 0;
        padding-bottom: 0;

        &.btn-xs {
            line-height: 2.5rem;
            height: 2.5rem;
        }
        &.btn-sm {
            line-height: 3rem;
            height: 3rem;
        }
        &.btn-lg {
            line-height: 4.5rem;
            height: 4.5rem;
        }
    }

    @if ($dark-mode == false) {
        .btn-primary {
            @include button-variant($brand-white, $brand-primary, $brand-primary);
        }
        .btn-secondary {
            @include button-variant($brand-white, $brand-secondary, $brand-secondary);
        }
        .btn-success {
            @include button-variant($brand-white, $brand-success, $brand-success);
        }
        .btn-warning {
            @include button-variant($brand-white, $brand-warning, $brand-warning);
        }
        .btn-danger {
            @include button-variant($brand-white, $brand-danger, $brand-danger);
        }
        .btn-info {
            @include button-variant($brand-white, $brand-info, $brand-info);
        }
        .btn-outline-primary {
            @include button-outline-variant($brand-primary, $brand-white, $brand-primary);
        }
        .btn-outline-secondary {
            @include button-outline-variant($brand-secondary, $brand-white, $brand-secondary);
        }
        .btn-outline-success {
            @include button-outline-variant($brand-success, $brand-white, $brand-success);
        }
        .btn-outline-warning {
            @include button-outline-variant($brand-warning, $brand-white, $brand-warning);
        }
        .btn-outline-danger {
            @include button-outline-variant($brand-danger, $brand-white, $brand-danger);
        }
        .btn-outline-info {
            @include button-outline-variant($brand-info, $brand-white, $brand-info);
        }
        .btn-outline-light {
            @include button-outline-variant($gray-lighter, $gray-dark, $gray-lighter);
        }
        .btn-outline-default {
            @include button-outline-variant(darken($gray-light, 20%), $gray-dark, darken($gray-light, 20%));
        }
    } @else {
        .btn-primary {
            @include button-variant($gray-darker, $brand-primary, $brand-primary);
        }
        .btn-secondary {
            @include button-variant($gray-darker, $brand-secondary, $brand-secondary);
        }
        .btn-success {
            @include button-variant($gray-darker, $brand-success, $brand-success);
        }
        .btn-warning {
            @include button-variant($gray-darker, $brand-warning, $brand-warning);
        }
        .btn-danger {
            @include button-variant($gray-darker, $brand-danger, $brand-danger);
        }
        .btn-info {
            @include button-variant($gray-darker, $brand-info, $brand-info);
        }
        .btn-default {
            @include button-variant($text-color, $gray-light, $gray-light);
        }
        .btn-outline-primary {
            @include button-outline-variant($gray-darker, $brand-white, $brand-primary);
        }
        .btn-outline-secondary {
            @include button-outline-variant($gray-darker, $brand-white, $brand-secondary);
        }
        .btn-outline-success {
            @include button-outline-variant($gray-darker, $brand-white, $brand-success);
        }
        .btn-outline-warning {
            @include button-outline-variant($gray-darker, $brand-white, $brand-warning);
        }
        .btn-outline-danger {
            @include button-outline-variant($gray-darker, $brand-white, $brand-danger);
        }
        .btn-outline-info {
            @include button-outline-variant($gray-darker, $brand-white, $brand-info);
        }
        .btn-outline-light {
            @include button-outline-variant($gray-lighter, $gray-dark, $gray-lighter);
        }
        .btn-outline-default {
            @include button-outline-variant(darken($gray-dark, 20%), $gray-light, darken($gray-dark, 20%));
        }
    }

    .btn-circle {
        border-radius: 50%;
        font-size: $font-size-h1;
        width: 1.3em;
        height: 1.3em;
        padding: 0;
        line-height: 1.3em;
        font-weight: bold;
        border: 0;

        &.btn-expand {
            //position: relative;
            overflow: visible;
            z-index: 99;

            i.material-icons {
                padding-left: 8px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1.3em;
                transition: opacity 0.5s ease;
                overflow: hidden;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background: inherit;
                font-size: 0.5em;
                padding: 0 0.7em 0 3em;
                z-index: -1;
            }

            &:hover {
                //

                span {
                    opacity: 1;
                }
            }
        }
    }

    .btn-square {
        border-radius: $border-radius-base;
        height: $input-height-base;
        width: $input-height-base;

        &.btn-lg {
            height: $input-height-large;
            width: $input-height-large;
        }

        &.btn-sm {
            height: $input-height-small;
            width: $input-height-small;
        }
    }

    .btn-link {
        padding: 0 0.25em;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    
    // light link
    .btn-link-light {
        color: $gray-light;
    
        &:hover,
        &:focus {
          color: $link-color;
        }
    
    }
    
    // button pouze s ikonou
    .btn-icon {
        padding: 5px 7px;
        line-height: 1;
        font-size: 2rem;

        &.btn-link {
            padding-left: 3px;
            padding-right: 3px;
        }

        .material-icons {
            font-size: 1em !important;
        }
    
        &.btn-xs {
            padding: 2px 3px;
            font-size: 1.2rem;
        }
    
        &.btn-sm {
            padding: 3px 5px;
            font-size: 1.5rem;
        }
    
        &.btn-lg {
            padding: 7px 10px;
            font-size: 2.5rem;
        }
    }

    /* .btn.loading {
        &::before {
            display: block;
            font-size: 1.5em;
            font-family: 'Material Icons';
            color: inherit;
            margin-right: 0.5em;
            content: 'refresh'; // autorenew
            animation: round 1.7s infinite ease;
        }
    } */
}

.btn.size-large{
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
}
.btn.size-default{
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
}
.btn.size-small,
.btn.size-extra-small{
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-base, $line-height-small, $border-radius-small);
}
.btn.size-extra-small {
    padding: 1px 5px;
}