$element-color: darken($brand-white, 30%);
$column-color: $gray-lighter;
$section-color: $brand-white;
$master-color: darken($brand-white, 15%);
$placeholder-color: $brand-danger;
@if ($dark-mode) {
    $element-color: mix(black, $brand-warning, 70%);
    $column-color: mix(black, $gray-darker, 80%);
    $section-color: darken($brand-white, 5%);
    $master-color: mix(black, $brand-success, 50%);
    $placeholder-color: mix(black, $brand-danger, 30%);
}

body.dragging, body.dragging * {
    cursor: move !important; 
}
.layout-template {
    button.active{
        background: $brand-color;
    }
    .dragged {
        position: absolute;
        top: 0;
        opacity: 0.5;
        z-index: 2000;
    }
    ol, ul {
        list-style: decimal;
        list-style-type: decimal;
        list-style-position: initial;
        list-style-image: initial;
        padding: 0;
        user-select: none;
    }
    ol.nav li.dragged {
        background-color: $gray-darker;
    }
    ol.layout.vertical {
        min-height: 80px;
        border-radius: 4px;
        padding: 0;
        margin: 0;
        border: 0;
        background: none;
    }
    ol.vertical li {
        display: block;
        margin: 10px 0;
        padding: 5px;
        border: 1px solid $gray-lighter;
        color: $text-color;
        background: $body-bg;
        border-radius: $border-radius-base;
    }
    #simple ol.vertical li{
        width: 100%;
        clear: both;
    }
    ol.vertical li.placeholder {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
    }
    ol.vertical li.placeholder:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        margin-top: -15px;
        left: -15px;
        top: -8px;
        border: 15px solid transparent;
        border-left-color: $placeholder-color;
        border-right: none;
    }
    ol.vertical li.col{
        position: static !important;
    }
    ol.elements {
        position: relative;
    }
    ol .row, ul .row {
        margin: 0;
    }
    li[data-type="master-content"],
    li[data-type="row"],
    li[data-type="container"],
    li[data-type="container-fluid"],
    li[data-type="row"] {
        width: 100%;
    }
    ol.trash {
        border: 2px solid $gray-base;
        min-height: 150px;
        border-radius: 4px;
        padding: 5px;
    }
    ol.trash:before {
        content: "delete_outline";
        font-family: 'Material Icons';
        font-size: 6rem;
        text-align: center;
        display: block;
        padding-top: 3rem;
    }
    ol.trash:hover:before {
        color: $gray-base;
    }
    ol.trash, #ContentLayoutLayout {
        background: $brand-white;
    }
    li[data-type="master-content"],
    li[data-type="header"],
    li[data-type="footer"] {
        background: $master-color !important;
    }
    li[data-type="layout"] {
        background: $brand-white !important;
        margin-top: 0 !important;
    }
    li[data-type="section"],
    li[data-type="main"],
    li[data-type="aside"],
    li[data-type="container"],
    li[data-type="container-fluid"],
    li[data-type="row"] {
        background: $section-color !important;
    }
    ul.row, ol.row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    li[data-type="col"] {
        background: $column-color !important;
        float: none;
    }
    li[data-type="element"] {
        background: $element-color !important;
    }
    .setting {
        display: none;
        border: 1px solid $gray-lighter;
        padding: 5px;
    }
    .row.setting {
        position: absolute;
        background: inherit;
        width: 100%;
        max-width: 560px;
        border-radius: $border-radius-base;
        z-index: 999999;
    }
    ol.elements .advanced-settings{
        display: none;
    }
    .advanced-settings {
        color: $brand-color;
        float: right;
        cursor: pointer;
    }
    .col {
        flex-basis: inherit;
    }
    .right {
        float: right;
        height: 20px;
        width: auto;
        min-width: 160px;
    }
    .row.setting .right {
        width: 100%;
    }
    .col-right {
        .right {
            width: auto !important;
        }
    }
    textarea {
        width: 100%;
        height: 500px;
    }
    input {
        width: 100% !important;
        min-width: 0;
    }
}
.advanced-settings-open {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($brand-white, 0.8);
    z-index: 99999;
}