// barvy
$brand-success: #00aa44;
$brand-info: #FFD656;
$brand-warning: #FF6E30;
$brand-danger: #b83c3c;
$brand-white: #ffffff;

$brand-color:             #2e7cbe; // cesys logo blue
$brand-lighter:           lighten($brand-color, 30%);
$brand-light:             lighten($brand-color, 20%);
$brand-dark:              darken($brand-color, 7%);
$brand-darker:            darken($brand-color, 15%);

$gray-base:              #000000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   #4d4d4d;
$gray-light:             #cccccc;
$gray-lighter:           lighten($gray-base, 93.5%); // #eee


// breakpointy
$screen-lg:             1200px;

$brand-primary: $brand-color;
//$brand-secondary: #2c5aa0;
$brand-secondary: $brand-dark;

$body-bg:               $brand-white;
$text-color:            $gray-dark;


$text-muted: darken($gray-light, 35%);

$grid-gutter-width: 20px;

// odkazy
$text-color: $gray-base;
$link-color: $brand-secondary;
$link-hover-color: darken($link-color, 15%);

// font
//$font-family-base: 'Arial', sans-serif;
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 13px;

// radiusy
$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 3px;

// tabulky
$table-bg-hover: $gray-lighter;
$table-bg-active: $table-bg-hover;
$table-border-color: $gray-lighter;

// buttony
$btn-font-weight: bold;
$btn-border-radius-base: $border-radius-base;
$btn-border-radius-large: $border-radius-base;
$btn-border-radius-small: $border-radius-base;


$padding-base-vertical: 6px;
$padding-base-horizontal: 14px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 20px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$padding-xs-vertical: 2px;
$padding-xs-horizontal: 6px;

// formuláře
$input-border: $gray-light;

// glyphicony nechceme
$icon-font-path: '//netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/';
//$icon-font-name: '';
//$icon-font-svg-id: '';

$page-header-border-color: transparent;

// Large screen / wide desktop
$container-large-desktop:      (1240px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);

//** `<input>` background color
$input-bg:                       #fff;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter;
//** Text color for `<input>`s
$input-color:                    $gray;
//** `<input>` border color
$input-border:                   #ccc;

$dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15);
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5;

//** Dropdown link text color.
$dropdown-link-color:            $gray-dark;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($gray-dark, 5%);
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #000;

//== Tabs
$nav-tabs-border-color:                     #ddd;

$nav-tabs-link-hover-border-color:          $gray-lighter;

$nav-tabs-active-link-hover-bg:             $body-bg;
$nav-tabs-active-link-hover-color:          $gray;
$nav-tabs-active-link-hover-border-color:   #ddd;

$nav-tabs-justified-link-border-color:            #ddd;
$nav-tabs-justified-active-link-border-color:     $body-bg;

$panel-bg:                    #fff;
$list-group-bg:                 #fff;
$panel-inner-border:          #ddd;
$panel-default-border:        #ddd;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d;
$state-success-bg:               #dff0d8;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                #31708f;
$state-info-bg:                  #d9edf7;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             #8a6d3b;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              #a94442;
$state-danger-bg:                #f2dede;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);

//== Modals
//
//##

//** Background color of modal content area
$modal-content-bg:                             #fff;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999;

//** Modal backdrop background color
$modal-backdrop-bg:           #000;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5;
//** Modal header border color
$modal-header-border-color:   #e5e5e5;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color;

// pre
$pre-bg:                      #f5f5f5;
$pre-color:                   $gray-dark;
$pre-border-color:            #ccc;

//== Wells
//
//##

$well-bg:                     #f5f5f5;
$well-border:                 darken($well-bg, 7%);

$list-group-link-color:         #555;
$list-group-link-hover-color:   $list-group-link-color;
$list-group-link-heading-color: #333;
$list-group-hover-bg:           #f5f5f5;

$close-color:                 #000;
$close-text-shadow:           0 1px 0 #fff;

$nav-tabs-link-hover-border-color:          $gray-lighter;

//** Border color for table and cell borders.
$table-border-color:            #ddd;

@if ($dark-mode) {
    $brand-success: mix(black, #00aa44, 40%);
    $brand-info: mix(black, #3d3d3d, 40%);
    $brand-warning: mix(black, #FF6E30, 20%);
    $brand-danger: mix(black, #b83c3c, 10%);
    $brand-white: #2d2e2f; // #ffffff

    $brand-color:             #2e7cbe; // cesys logo blue
    $brand-lighter:           lighten($brand-color, 30%);
    $brand-light:             lighten($brand-color, 20%);
    $brand-dark:              darken($brand-color, 7%);
    $brand-darker:            darken($brand-color, 15%);

    $gray-base:              #fff;
    $gray-darker:            darken($gray-base, 15%);
    $gray-dark:              darken($gray-base, 20%);
    $gray:                   darken($brand-white, 0%);
    $gray-light:             lighten($brand-white, 10%);
    $gray-lighter:           darken($brand-white, 5%);

    $body-bg:               $brand-white;
    $text-color:            darken($gray-darker, 2%);

    $text-muted: lighten($gray-light, 45%);

    $link-color:            mix(black, $brand-light, 20%);
    $link-hover-color:      $gray-base;

    $input-bg: lighten($brand-white, 5%);
    $input-color: $gray-darker;
    $input-border: lighten($gray-light, 10%);
    $input-bg-disabled: lighten($brand-white, 2%);

    $dropdown-bg: $brand-white;
    $dropdown-divider-bg: $gray-lighter;
    $dropdown-link-hover-bg: $gray-lighter;
    $dropdown-link-color: $text-color;
    $dropdown-link-hover-color: $gray-base;

    //== Tabs
    $nav-tabs-active-link-hover-bg:             $gray-lighter;
    $nav-tabs-border-color:                     $gray-lighter;
    $nav-tabs-active-link-hover-color:          $gray-darker;
    $nav-tabs-active-link-hover-border-color:   $gray-lighter;
    $nav-tabs-justified-link-border-color:      $gray-lighter;

    $panel-bg: $gray-lighter;
    $list-group-bg: $gray-lighter;
    $panel-inner-border:          $brand-white;
    $panel-default-border:        $brand-white;

    //== Form states and alerts
    //
    //## Define colors for form feedback states and, by default, alerts.
    $state-success-bg:               darken($brand-success, 10%);
    $state-info-bg:                  darken($brand-info, 10%);
    $state-warning-bg:               darken($brand-warning, 25%);
    $state-danger-bg:                darken($brand-danger, 10%);

    //== Modals
    //
    //##
    //** Background color of modal content area
    $modal-content-bg:                             $brand-white;
    //** Modal content border color
    $modal-content-border-color:                   rgba($gray-base,.2);
    //** Modal content border color **for IE8**
    $modal-content-fallback-border-color:          $gray-light;
    //** Modal backdrop background color
    $modal-backdrop-bg:           $brand-white;
    //** Modal header border color
    $modal-header-border-color:   $gray-lighter;
    //** Modal footer border color
    $modal-footer-border-color:   $modal-header-border-color;

    // pre
    $pre-bg:                      $gray-lighter;
    $pre-color:                   $gray-dark;
    $pre-border-color:            $gray-light;

    //== Wells
    //
    //##
    $well-bg:                     $gray-lighter;
    $well-border:                 lighten($well-bg, 7%);

    $list-group-link-color:         $text-color;
    $list-group-link-hover-color:   $list-group-link-color;
    $list-group-link-heading-color: $text-color;
    $list-group-hover-bg:           $gray-light;

    $close-color:                 $text-color;
    $close-text-shadow:           0 1px 0 $gray-base;

    $nav-tabs-link-hover-border-color:          $gray-lighter;

    //** Border color for table and cell borders.
    $table-border-color: darken($gray-lighter, 10%);
}