// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $background;
  
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($background, 25%);
    }
    &:hover {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($background, 12%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($background, 12%);
  
      &:hover,
      &:focus,
      &.focus {
        color: $color;
        background-color: darken($background, 17%);
            border-color: darken($background, 25%);
      }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus,
      &.focus {
        background-color: $background;
            border-color: $background;
      }
    }
  
    .badge {
      color: $background;
      background-color: $color;
    }
  }

  @mixin button-outline-variant($color, $background, $border) {
    color: $color;
    background-color: transparent;
    border-color: $border;
  
    &:focus,
    &.focus {
      color: $background;
      background-color: $border;
          border-color: $border;
    }
    &:hover {
      color: $background;
      background-color: $border;
          border-color: $border;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      color: $background;
      background-color: $border;
          border-color: $border;
  
      &:hover,
      &:focus,
      &.focus {
        color: $background;
        background-color: $border;
            border-color: $border;
      }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus,
      &.focus {
        color: $color;
        background-color: $background;
            border-color: $border;
      }
    }
  
    .badge {
      color: $background;
      background-color: $color;
    }
  }
