.dropdown-menu {
    box-shadow: none;
}

// dropdowns-extensions.less
.dropdown-menu{
	
	> span{
		padding: 3px 20px;
		clear: both;
		display:block;
		font-weight: normal;
		line-height: $line-height-base;
		color: #777;
    	white-space: nowrap;
	}

}