#filedrag {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    padding: 1em 0;
    margin: 1em 0;
    color: $gray-light;
    border: 2px dashed $gray-dark;
    border-radius: $border-radius-base;
    cursor: default;

    &::before {
        content: 'cloud_upload' !important;
        font-family: 'Material Icons' !important;
        color: $gray-light;
        font-size: 4em;
        font-feature-settings: 'liga';
    }

    &:hover {
        color: $gray-dark;

        &::before {
            color: $gray-dark;
        }
    }

    &.hover {
        color: $brand-color;
        border-color: $brand-color;
        border-style: solid;

        &::before {
            color: $brand-color;
        }
    }
}

#upload-form {
    display: inline-block;
    width: 100%;
}