.container {
    @include container-fixed;

    @media (min-width: $screen-sm-min) {
        width: 100%;
        max-width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: 100%;
        max-width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: 100%;
        max-width: $container-lg;
    }
}