// DIALOGY
.ui-dialog {
	padding: 0;
	border: 3px solid $brand-secondary;
	background: $gray-lighter;
	z-index: 1040;

	.ui-dialog-titlebar {
		background: $gray-lighter;
		color: $brand-secondary;
	}

	.ui-dialog-content {
		background: $gray-lighter;
		box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.15);
		border-radius: 0;
	}

	.ui-dialog-buttonpane {
		background: $gray-lighter;
		border-radius: 0;
		margin: 0;
	}
}

.ui-front {
	z-index: 1035;
}



// ui widgety
.ui-widget-content {
	padding: 0;

	a:hover,
	a:hover i.material-icons {
		text-decoration: none !important;
	}
}

.ui-hepler-reset {
	display: flex;
	flex-direction: row;
}

.ui-tabs-panel {
	padding: 0 !important;
}

// náhrada ui-icon za google material icons
.ui-icon {
	background: none;
	position: relative;
	text-indent: 0;
	color: transparent;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 1.1em;
		font-family: 'Material Icons';
		color: initial;
		font-feature-settings: 'liga';
		@if ($dark-mode) {
			color: $text-color;
		}
	}

	&.ui-icon-check::before {
		content: 'check';
	}

	&.ui-icon-closethick::before {
		content: 'close';
	}

	&.ui-icon-circle-close::before {
		content: 'highlight_off';
	}

	&.ui-icon-circle-triangle-w::before {
		content: 'chevron_left';
	}

	&.ui-icon-circle-triangle-e::before {
		content: 'chevron_right';
	}

	&.ui-icon-close::before {
		content: 'close';
	}

	&.ui-icon-seek-first::before {
		content: 'fast_rewind';
	}

	&.ui-icon-seek-prev::before {
		content: 'play_arrow';
		transform-origin: center;
		transform: rotate(180deg);
	}

	&.ui-icon-seek-next::before {
		content: 'play_arrow';
	}

	&.ui-icon-seek-end::before {
		content: 'fast_forward';
	}

	&.ui-icon-asc::before {
		content: 'arrow_drop_up';
	}

	&.ui-icon-desc::before {
		content: 'arrow_drop_down';
	}
}

// ui tabulky
.ui-jqgrid tr.ui-row-ltr td {
	border-right: 0;
	border-bottom: 1px solid $gray-lighter;
	padding: 0.5rem 0.25rem;
	text-overflow: ellipsis;
}

.ui-jqgrid .ui-jqgrid-htable th {
	background: $gray-lighter;
	color: $gray-base;
	border-right: 0;
	border-bottom: 0;
	padding: 0.5rem;
	box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
}


// jquery-ui-extensions.less
/* dialog */
/* ruseni vlastnosti bootstrapu */
.ui-widget-content{
	color:inherit;

	a{
		color: $link-color; 

		&:hover{
			color: $link-hover-color;
		}
	}
}
.ui-datepicker-calendar{
	thead,
	tbody,
	tfoot{
		tr > td,
		tr > th{
			border:0;
			padding:1px;
		}
	}
}

.ui-datepicker {
    z-index: 1050 !important;
}

/* reset box modelu v gridu */
.ui-jqgrid{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


// jquery-selectBox.less
/**
* Styly pro multiselekt-boxy - například v topical offers
* Zakomentované kusy css nejsou třeba - styly si inputy vezmou z hlavního stylu administrace/bootstrapu
*/

/* ---------------- */
/* Dropdown control */
/* ---------------- */
.selectBox-dropdown {
	min-width: 150px;
	position: relative;
	line-height: 1.5;
	text-decoration: none;
	text-align: left;
	cursor: default;
	outline: none;
	vertical-align: middle;
}

/* při otevřené nabídce zrušení zakulacení spodních rohů */
.selectBox-dropdown.selectBox-menuShowing {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.selectBox-dropdown .selectBox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 100%;
	background: url(/img/selectbox/jquery.selectBox-arrow.gif) 50% center no-repeat;
	border-left: solid 1px $gray-light;
}



/* ------------- */
/* Dropdown menu */
/* ------------- */
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	min-height: 1em;
	border: solid 1px $gray-light; /* should be the same border width as .selectBox-dropdown */
	background: $brand-white;
	-moz-box-shadow: 0 2px 6px rgba($gray-base, .2);
	-webkit-box-shadow: 0 2px 6px rgba($gray-base, .2);
	box-shadow: 0 2px 6px rgba($gray-base, .2);
	overflow: auto;
	padding: 0;
	margin: 0;
}


/* Inline control */
.selectBox-inline {
	min-width: 150px;
	outline: none;
	background: $brand-white;
	display: inline-block;
	overflow: auto;
}


/* Options */
.selectBox-options{
	li{
		list-style: none;
		display: block;
		cursor: default;
		padding: 0;
		margin: 0;

		label{
			list-style: none;
			display: block;
			cursor: default;
			padding: 0;
			margin: 0;
			line-height: 1.5;
			padding: 0 .5em;
			white-space: nowrap;
			overflow: hidden;
			background: 6px center no-repeat;
			font-weight: normal;
		}
	}
}

.selectBox-options {
	.selectBox-optgroup {
		color: $gray-dark;
		background: $gray-lighter;
		font-weight: bold;
		line-height: 1.5;
		padding: 0 .3em;
		white-space: nowrap;
	}
	li{
		label {
			display: block;
			background-color: $brand-white;
			padding: 1px 3px;
			vertical-align: middle;

			&:hover{
				background-color: $gray-lighter;
			}

			input {
				padding: 0;
				margin: 0 6px 0 0;
				vertical-align: middle;
				width: 1em;
			}
		}
	}
}


/* Disabled state */
.selectBox.selectBox-disabled {
	color: lighten($gray-dark, 10%) !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
	opacity: .5;
	filter: alpha(opacity=50);
	border-color: $gray-dark;
}

.selectBox-inline.selectBox-disabled {
	color: lighten($gray-dark, 10%) !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options label {
	background-color: transparent !important;
}

/* odsazení ve stromu destinací */
.selectBox-options li label{
	.selectBox-padding-0 {
		margin-left: 15px
	}
	.selectBox-padding-1 {
		margin-left: 30px
	}
	.selectBox-padding-2 {
		margin-left: 40px
	}
	.selectBox-padding-3 {
		margin-left: 55px
	}
}

/* filter zemí */
/* selectboxům s filtrem zrušíme maximální výšku a scrollbary*/
.selectBox-dropdown-menu.hasFilter{
	overflow:hidden;
	max-height: none;
	
	.sm-dropdown-content{
		overflow:auto;
		max-height: 180px;
	}

	.sm-dropdown-header {
		padding:5px 8px;
		vertical-align: middle;
		background: $gray-lighter;
		position: relative;

		.sm-filter{
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			display: inline-block;
			width:100%;
			font-size: 10px;
			height:22px;
			line-height: 14px;
			padding:3px;
			border:1px solid $input-border;
			background: $input-bg;

			&::-ms-clear {
				width : 0;
				height: 0;
			}
		}

		.ui-icon{
			display: inline-block;
			vertical-align: middle;
			background-image: url('/img/ui/ui-icons_888888_256x240.png');
			cursor: pointer;
			position: absolute;
			right: 11px;
			top:8px;
		}
	}
}

// tooltip
#tooltip {
	background: $gray-base;
	color: $brand-white;
	border-radius: $border-radius-base;
	transform: translate(-50%, 5px);
	width: 150px;
	max-width: 100%;

	h3 {
		font-size: 1.3rem;
		font-weight: normal;
	}
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-icon,
.ui-widget-content .ui-icon,
.ui-widget-header .ui-icon,
.ui-state-default .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-state-active .ui-icon,
.ui-state-highlight .ui-icon,
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: transparent;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color: $brand-color;
}

.ui-button-text {
	color: inherit;
}

@if ($dark-mode) {
	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
		background: $brand-white;
		color: $text-color;
	}

	.ui-state-hover {
		color: $text-color !important;
	}

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border-color: $gray-lighter;
		color: $text-color;
	}

	.ui-menu .ui-menu-item a {
		color: $text-color;
	}

	.ui-pg-selbox,
	.ui-pg-input {
		@extend .form-control;
		@extend .input-sm;
		display: inline-block;
		padding: 0;
		width: auto;
	}
}