label {
  display: block;
  font-weight: normal;
  color: $gray-darker;
  position: relative;

  .required-text {
    height: 2rem;
    float: right;

    & > span {
      display: table-cell;
      vertical-align: bottom;
    }
  }
}

// labels-extensions.less

/* spojeni labelu pro boostrap */
.label-group > .label:first-child {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.label-group > .label:nth-child(2) {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

/* priprava na dasli barvy */
/* http://stackoverflow.com/questions/21725557/additional-twitter-bootstrap-label-button-alert-badge-colors */
.phaedra-colors .label {
    color: #001713;
  }
  .phaedra-colors .label-default {
    background-color: #95a5a6;
  }
  .phaedra-colors .label-default[href]:hover,
  .phaedra-colors .label-default[href]:focus {
    background-color: #7f8c8d;
  }
  .phaedra-colors .label-primary {
    background-color: #00A388;
  }
  .phaedra-colors .label-primary[href]:hover,
  .phaedra-colors .label-primary[href]:focus {
    background-color: #007D68;
  }
  .phaedra-colors .label-success {
    background-color: #79BD8F;
  }
  .phaedra-colors .label-success[href]:hover,
  .phaedra-colors .label-success[href]:focus {
    background-color: #659E78;
  }
  .phaedra-colors .label-info {
    background-color: #BEEB9F;
  }
  .phaedra-colors .label-info[href]:hover,
  .phaedra-colors .label-info[href]:focus {
    background-color: #A5CC8A;
  }
  .phaedra-colors .label-warning {
    background-color: #FFFF9D;
  }
  .phaedra-colors .label-warning[href]:hover,
  .phaedra-colors .label-warning[href]:focus {
    background-color: #D1D181;
  }
  .phaedra-colors .label-danger {
    background-color: #FF6138;
  }
  .phaedra-colors .label-danger[href]:hover,
  .phaedra-colors .label-danger[href]:focus {
    background-color: #D6512F;
  }
  
  .flat-ui-colors .label-default {
    background-color: #95a5a6;
  }
  .flat-ui-colors .label-default[href]:hover,
  .flat-ui-colors .label-default[href]:focus {
    background-color: #7f8c8d;
  }
  .flat-ui-colors .label-primary {
    background-color: #3498db;
  }
  .flat-ui-colors .label-primary[href]:hover,
  .flat-ui-colors .label-primary[href]:focus {
    background-color: #2980b9;
  }
  .flat-ui-colors .label-success {
    background-color: #2ecc71;
  }
  .flat-ui-colors .label-success[href]:hover,
  .flat-ui-colors .label-success[href]:focus {
    background-color: #27ae60;
  }
  .flat-ui-colors .label-info {
    background-color: #9b59b6;
  }
  .flat-ui-colors .label-info[href]:hover,
  .flat-ui-colors .label-info[href]:focus {
    background-color: #8e44ad;
  }
  .flat-ui-colors .label-warning {
    background-color: #e67e22;
  }
  .flat-ui-colors .label-warning[href]:hover,
  .flat-ui-colors .label-warning[href]:focus {
    background-color: #d35400;
  }
  .flat-ui-colors .label-danger {
    background-color: #e74c3c;
  }
  .flat-ui-colors .label-danger[href]:hover,
  .flat-ui-colors .label-danger[href]:focus {
    background-color: #c0392b;
  }