/*
* hlavní lišta
*/

$nav-text-color: $brand-white;
$navbar-color: $brand-color;
$navbar-sub-color: $brand-dark;
$navbar-bottom-color: $gray-dark;
$disabled-color: $gray-light;
@if ($dark-mode) {
	$nav-text-color: $gray-base;
	$navbar-color: darken($brand-dark, 10%);
	$navbar-sub-color: darken($brand-darker, 10%);
	$navbar-bottom-color: $gray-lighter;
	$disabled-color: darken($gray-dark, 10%);
}

.topFix {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1030;
}
.main-navbar {
	background: $navbar-color;
	min-height: 0;
	margin: 0;
	width: 100%;
	z-index: 100;
	border-radius: 0;
	border: 0;

	.navbar-brand {
		color: $nav-text-color;
		font-size: 18px;
		padding: 10px 15px 0 15px;
		height: 35px;
		white-space: nowrap;

		.text-light {
			white-space: nowrap;
		}
	}

	.navbar-logo {
		height: 1em;
		width: auto;
		display: inline-block !important;
		vertical-align: baseline;
	}

	// hlavni menu
	.nav {
		clear: none;
		float: left;
		margin: 10px 0 0 0;
		height: 40px;

		> li {
			> .main-navbar-link {
				text-align: center;
				display: flex;
				align-items: center;
				line-height: 18px;
				color: darken($nav-text-color, 8%);
				background: $navbar-color;
				padding: 10px 15px;
				margin-right: 4px;
				border-radius: $border-radius-base;
				font-weight: 600;

				&:hover {
					background: $navbar-sub-color;
					color: $nav-text-color;
					cursor: pointer;
				}
			}

			&.active > .main-navbar-link {
				background: $navbar-sub-color;
				color: $nav-text-color;
			}

			&.disabled > .main-navbar-link {
				color: $disabled-color;

				&:hover {
					cursor: not-allowed;
				}
			}
		}

		.material-icons {
			font-size: 23px;
		}
	}

	/* levý kontrolní panel - odkaz domu, oblibene.. */
	.left-panel {
		min-width: 70px;
	}
	.left-control-panel {
		padding: 0 10px 7px 0;
		clear: both;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			float: left;
			list-style: none;

			> a {
				color: darken($nav-text-color, 8%);
				padding: 0px 5px;
				height: 18px;
				line-height: 18px;
				display: inline-block;

				&:hover {
					color: $nav-text-color;
					text-decoration: none;
				}
			}

			&.active {
				> a {
					color: $nav-text-color;
				}
			}
		}
	}

	/* pravý kontrolní panel - login, odhlášení, hledání v adminu.. */
	.right-panel {
		margin: 0;

		li:last-child li:nth-last-child(2) {
			a {
				padding: 10px;
			}
		}
	}
}

/* Menu druhé úrovně */
.sub-navbar {
	background: $navbar-sub-color;
	margin-bottom: 0;
	box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
	z-index: 1030;

	.plain-text-item {
		color: $nav-text-color;
	}

	&-searches {
		.main-level > li:last-child {
			float: right;
			border-right: 0;
		}
	}

	.main-level {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.main-level > li {
		float: left;
		list-style: none;
		text-align: center;
		border-right: 1px solid $navbar-color;

		> .submenu-link,
		> .dropdown > .submenu-link {
			text-decoration: none;
			padding: 11px 18px;
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			color: $nav-text-color;
			position: relative;
			background: transparent;
			border: 0;

			.main-menu-new-label {
				// <span class="main-menu-new-label">new</span>
				position: absolute;
				left: 18px;
				top: 2px;
				color: $brand-info;
				font-size: 0.75em;
				font-weight: 800;
				text-transform: uppercase;
			}
		}
		&:hover,
		&:focus {
			> .submenu-link,
			> .dropdown > .submenu-link {
				color: $nav-text-color;
				background: $navbar-sub-color;
			}
			.dropdown-menu {
				display: block;
			}
		}
		&.active {
			> .submenu-link,
			> .dropdown > .submenu-link {
				color: $nav-text-color;
				background: $navbar-sub-color;
				font-weight: 600;
			}
		}

		&.plain-text-item {
			padding: 11px 18px;
			display: inline-block;
			border: 0;

			&:first-child {
				border: 0;
			}
		}

		&:first-child {
			border-left: 1px solid $navbar-color;
		}
	}
	.dropdown-menu {
		margin-top: -1px;
		margin-left: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		text-align: left;
		background-color: $navbar-color;

		@media screen and (max-height: 1000px) {
			overflow-y: auto;
			overflow-x: hidden;
			max-height: 450px;
		}

		li {
		&.internal a {
			@extend .internal;
			color: $gray-base;
		}

		a {
			background-color: $navbar-color;
			color: $nav-text-color;
			padding: 6px 18px;

			&:hover {
				background-color: $navbar-sub-color;
				color: $nav-text-color;
			}
		}
		}
	}
}

/**
* spodní lišta
*/
.bottom-navbar {
	background: $navbar-bottom-color;
	min-height: 38px;
	border: 0;

	.navbar-text {
		color: $nav-text-color;

		a {
			color: $nav-text-color;
		}
	}

	.nav {
		margin: 0;
		height: 38px;
	}

	.bottom-navbar-plus-button {
		border: 0;
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
		background: $brand-success;
		color: $nav-text-color;
		height: 45px;
		position: relative;
		top: -8px;
		padding: 0 0.75em;

		&:hover {
			background: darken($brand-success, 5%);
		}

		.material-icons {
			font-size: 2.5rem;
		}
	}

	.dropdown-content-header {
		padding: $panel-heading-padding;
		background-color: $navbar-color;
		color: $nav-text-color;
		border-color: $navbar-color;
	}
}

.bottom-navbar .nav > li > .bottom-navbar-link {
	padding: 0.75rem 0.5rem;
	margin: 0 1rem;
	border-radius: 0;
	background: $navbar-bottom-color;
	border-top: 3px solid transparent;
	color: $nav-text-color;

	&:hover {
		background: $navbar-bottom-color;
		border-color: $navbar-color;
		color: $nav-text-color;
	}
}

.bottom-navbar .nav > li.disabled > .bottom-navbar-link {
	color: $gray-light;

	&:hover {
		background: $navbar-bottom-color;
		border-color: $gray-light;
		color: $gray-light;
		cursor: not-allowed;
	}
}

.bottom-navbar .nav > li.dropdown.open > .bottom-navbar-link {
	border-color: $navbar-color;
}

.bottom-navbar .nav > li.active > .bottom-navbar-link {
	background: $navbar-bottom-color;
	border-color: $navbar-color;
	color: $nav-text-color;
}
.bottom-navbar .nav .dropdown-content .material-icons {
	//font-size: 1.4em;
}
.bottom-navbar .nav .bottom-navbar-link .material-icons {
	font-size: 1.5em;
}
.bottom-navbar .nav .dropdown-content {
	left: 10px;
	height: 420px; /* Fallback */
	height: 85vh;
	max-height: 420px;
	width: 265px; /* Fallback */
	width: 95vw;
	max-width: 265px;
	padding: 0;
	margin-bottom: -1px !important;
	border-radius: $border-radius-base $border-radius-base 0 0;
	overflow: hidden;
}
.bottom-navbar .nav .dropdown-content-in {
	overflow-y: auto;
	width: 100%;
	height: calc(100% - 28px); /* výška .dropdown-content-footer */
	border: 0;
}
.bottom-navbar .dropdown-content-footer {
	width: 100%;
	min-height: 28px;
	padding: 5px;
	position: absolute;
	bottom: 0;
	background-color: $navbar-color;
	color: $nav-text-color;
}
.bottom-navbar .dropdown-content-footer a {
	color: $nav-text-color;
}
.bottom-navbar .dropdown-content-footer a:hover {
	color: $nav-text-color;
}
.bottom-navbar .navbar-text {
	color: $nav-text-color;
	margin: 0;
	margin-top: 11px;
}
@media only screen and (max-width: 1640px) {
	.bottom-navbar .navbar-text {
		margin-right: 100px;
		margin-right: calc(200px - (100vw - 1440px));
	}
}
@media only screen and (max-width: 1440px) {
	.bottom-navbar .navbar-text {
		margin-right: 200px;
	}
}
.bottom-navbar .navbar-text a {
	color: $nav-text-color;
}
.bottom-navbar .navbar-text a:hover {
	color: $nav-text-color;
}

.bottom-navbar .date-header {
	background-color: $gray-lighter;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	font-size: 1.7rem;
}
.bottom-navbar a.notification-link .notification,
.bottom-navbar .task,
.bottom-navbar .event,
.bottom-navbar a.business-case-link .business-case {
	padding: 5px;
	border-bottom: 1px solid $gray-light;
}
.bottom-navbar .task.task-completed,
.bottom-navbar .task.task-completed label {
	color: #aaa;
	text-decoration: line-through;
	border-left-color: $gray-light;
}
.bottom-navbar .item-name {
	margin: 0.3em auto;
	font-size: 1.15em;
	font-weight: bold;
	color: $gray-darker;
}
.bottom-navbar .item-name .item-bc {
	float: right;
	font-weight: normal;
}
.bottom-navbar .edit-link {
	font-size: 1.15em;
}
.bottom-navbar a.business-case-link,
.bottom-navbar a.notification-link {
	color: $gray-base;
	text-decoration: none;
}
.bottom-navbar a.business-case-link:hover,
.bottom-navbar a.notification-link:hover {
	color: $gray-base;
	text-decoration: none;
}
.bottom-navbar a.business-case-link .business-case,
.bottom-navbar a.notification-link .notification {
	transition: background-color 0.2s;
	padding-bottom: 10px;
}
.bottom-navbar a.business-case-link:hover .business-case,
.bottom-navbar a.notification-link:hover .notification {
	background-color: rgba(0, 0, 0, 0.025);
}
.bottom-navbar .item-name label {
	font-weight: bold;
cursor: pointer;
}

.bottom-navbar .item-date {
	font-weight: bold;
	margin: 0;
}
.bottom-navbar .item-time {
	font-weight: bold;
}
.bottom-navbar .business-case-client {
	margin: 0.2em 0 0 0;
	font-size: 0.9em;
}
.bottom-navbar .task {
	border-left: 4px solid transparent;
}
.bottom-navbar .task-high {
	border-left-color: $brand-danger;
}
.bottom-navbar .task-normal {
	border-left-color: $brand-warning;
}
.bottom-navbar .task-low {
	border-left-color: $brand-success;
}
.bottom-navbar .task-on-hold {
	border-left-color: $gray-lighter;
}

.bottom-navbar .tasks-new,
.bottom-navbar .event-new {
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(100% - 28px); /* výška .dropdown-content-footer */
	background-color: $nav-text-color;
	display: none;
}
.bottom-navbar .tasks-new .dropdown-content-in,
.bottom-navbar .event-new .dropdown-content-in {
	padding: 5px;
	height: 100%;
}

.bottom-navbar .tasks-new .form-group,
.bottom-navbar .event-new .form-group {
	margin-bottom: 5px;
}

.bottom-navbar .truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bottom-navbar .truncate-long {
	display: block; /* Fallback */
	//display: -webkit-box;
	max-width: 100%;
	max-height: 2.3em; /* Fallback */
	//-webkit-line-clamp: 2;
	//-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bottom-navbar .nav .dropdown-content-in .loading,
.bottom-navbar .nav .dropdown-content-in .empty-message {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.bottom-navbar .nav .dropdown-content-in .refresh-link {
	display: block;
	text-align: center;
	font-size: 2em;
	margin: 0.2em;
}

/* resize pouze vertikálně */
.resize-v {
	resize: vertical;
}

/* styl scrollbaru */
.bottom-navbar .nav .dropdown-content-in::-webkit-scrollbar {
	width: 6px;
	background-color: #ebebeb;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
.bottom-navbar .nav .dropdown-content-in::-webkit-scrollbar-thumb {
	background-color: #555555;
}

.delete-link {
	margin-right: 5px;
	margin-top: 5px;
}

body #olark-wrapper .olark-launch-button {
	background-color: $brand-danger !important;
	height: 46px !important;
	z-index: 1032 !important;

	&::before {
		content: "textsms" !important;
		font-family: "Material Icons" !important;
		display: inline-block !important;
		color: $nav-text-color !important;
		font-size: 3em !important;
		font-feature-settings: "liga";
	}
}

body #olark-wrapper svg {
	display: none !important;
}

// fix menu pro menší monitory
@media only screen and (max-width: 1100px) {
	.main-navbar {
		.nav + .nav {
			clear: both;
			float: none;
			margin-bottom: 10px;
		}
		.nav > li {
			float: left;
		}
	}
}

@media only screen and (max-width: 767px) {
	.topFix {
		position: static !important;
	}
	.main-content {
		padding-top: 0 !important;
	}
}

@media screen and (max-width: 481px) {
	.topFix .navbar-nav.nav li {
		float: left;
		width: 50%;
	}

	.topFix .dropdown.dropdown-show ul.dropdown-menu {
		position: static;
		display: block;
		width: 100%;
	}

	.topFix .sub-navbar .main-level > li {
		border: 0 !important;
		width: 100%;
		text-align: left;
	}

	.sub-navbar .main-level > li:hover .dropdown-menu,
	.sub-navbar .main-level > li:focus .dropdown-menu {
		display: block;
		width: 100%;
	}

	.bottom-navbar .nav > li > .bottom-navbar-link {
		font-size: 0;
	}

	.bottom-navbar .nav,
	.bottom-navbar .nav > li,
	.bottom-navbar .nav > li.dropdown.open > .bottom-navbar-link {
		position: static;
	}

	.bottom-navbar .nav .bottom-navbar-link .material-icons {
		font-size: 16px;
		display: block;
	}
	.bottom-navbar .nav {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.bottom-navbar .nav .dropdown-content {
		position: absolute;
		z-index: 99;
		background: $nav-text-color;
	}
}
