.nav-tabs.nav-alphabet .active > a {
    background-color: $gray-lighter;
    border-bottom-color: $gray-lighter;
}

.ui-widget-content {
    background: $brand-white;
    border-radius: $border-radius-base;
    border: 0;
}

.ui-tabs {
    padding: 0;

    .ui-tabs-nav {
        padding: 0;

        li {
            margin: -5px 5px 0 0;
            border: 1px solid $gray-lighter;
            border-bottom: 0;
            background: $brand-white;

            a {
                font-size: 0.9em;
                color: $brand-secondary;
                padding: 0.6em 0.75em;
            }

            &.ui-tabs-active {
                border-color: $gray-light;

                a {
                    color: $gray-darker;
                }
            }
        }
    }
}

.ui-widget-header {
    border: 0;
    background: $gray-lighter;
    color: $gray-darker;
    border-radius: $border-radius-base $border-radius-base 0 0;
    border-bottom: 1px solid $gray-light;
}

.icon-close {
    cursor: pointer;
    color: $gray-light;

    &:hover {
        color: $gray;
    }
}

// vertikální taby
.vertical-tabs {
    border-bottom: 0;

    li {
        float: none;
        display: block;
        border: 0;
        border-radius: 0;
        margin: 0;
        background: $gray-lighter;
        border-left: 3px solid transparent;

        &:not(:last-child) {
            border-bottom: 1px solid $gray-light;
        }

        a {
            float: none;
            display: block;
            color: $gray-darker;
            padding: 0.75em 0.6em;
            font-weight: normal;
            background: $gray-lighter;
            border: 0;
        }

        &:not(.active) {
            &:hover, &:active, &:focus {
                background: $gray-lighter;
            }
        }

        &.active {
            color: $gray-lighter;
            border-left-color: $gray-darker;
            position: relative;
            padding: 0;
            margin: 0;
            background: $gray-lighter;

            a,
            a:hover,
            a:active,
            a:focus {
                color: $gray-darker;
                font-weight: bold;
                background: $gray-lighter;
                border: 0;
            }

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                top: calc(50% - 8px);
                left: 100%;
                border-left: 8px solid $gray-lighter;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }
        }

        /* &:first-child {
            a,
            &.active a {
                background: repeating-linear-gradient(-45deg, $gray-lighter, $gray-lighter 10px, darken($gray-lighter, 3%) 10px, darken($gray-lighter, 3%) 20px)
            }
        } */

        &:first-child {
            border-top-left-radius: $border-radius-base;
            border-top-right-radius: $border-radius-base;
            &.active {
                border-top-left-radius: 0;
            }
        }

        &:last-child {
            border-bottom-left-radius: $border-radius-base;
            border-bottom-right-radius: $border-radius-base;
            &.active {
                border-bottom-left-radius: 0;
            }
        }
    }
}