/*
	Material Datepicker
	==================
	Úprava stylu pro material datetime picker
*/
.dtp {
    & > .dtp-content > div.dtp-date-view > header.dtp-header {
        background: $brand-dark !important;
    }

    div.dtp-date {
        background: $brand-color !important;
    }

    &-select-day.selected {
        background: $brand-warning !important;
    }

    &-btn-ok {
        margin-left: 5px;
        @extend .btn-success;
    }

    &-btn-cancel {
        @extend .btn-outline-danger;
    }
}

@if ($dark-mode) {
	.dtp {
		.p10 > a {
			color: $text-color !important;
		}

    & > .dtp-content > div.dtp-date-view > header.dtp-header {
        background: $brand-darker !important;
    }

    div.dtp-date {
        background: $brand-dark !important;
		}
		
		&-picker,
		&-buttons {
			background: $gray-lighter;
		}

    &-select-day.selected {
        background: $brand-warning !important;
    }
	}

	.dtp table.dtp-picker-days tr > td > a, .dtp .dtp-picker-time > a {
		color: $text-color !important;
	}

	#dtp-svg-clock {
		circle:first-child {
			fill: $gray-lighter !important;
			stroke: $gray-light !important;
		}
		.dtp-select-hour-text,
		.dtp-select-minute-text {
			fill: $text-color !important;
		}
	}
}

/*
	Switch
	==================
	Toggle switch pro prepinani radio buttonu typu on/off
*/
.radio-switch {
	position: relative;
	display: block;
	height: 2.5rem;
	margin-top: 3px;
	padding: 0;
	color: $gray;
	text-align: center;
	background-color: $gray-lighter;
	border-radius: 3px;
	@if ($dark-mode) {
		color: $gray-base;
	}
}

.radio-switch input:checked + label {
	color: $brand-white;
	@if ($dark-mode) {
		color: $gray-base;
	}
}

.radio-switch label {
	position: relative;
	z-index: 2;
	float: right;
	width: 50%;
	height: 100%;
	margin: 0;
	color: $gray;
	line-height: 2.2rem;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	transition: color 0.2s ease-out;
	@if ($dark-mode) {
		color: $gray-base;
	}
}

.radio-switch input {
	position: absolute;
	margin: 3px 0 0;
	margin-top: 1px;
	line-height: normal;
	opacity: 0;
}

.radio-switch button {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	display: block;
	width: 50%;
	height: 100%;
	padding: 0;
	color: $brand-white;
	background-color: $brand-color;
	border: solid 1px darken($brand-color, 10%);
	border-radius: 3px;
	transition: all 0.3s ease-out;
}

.radio-switch input:last-of-type:checked ~ button {
	left: 0;
	background-color: $brand-color;
	border: solid 1px darken($brand-color, 10%);
}

// select2
.select2-container {
	//z-index: 1000;
}

@if ($dark-mode) {
	.select2-container--default {
		.select2-selection--single {
			background: $input-bg;
			color: $input-color;
			border-color: $input-border;
			.select2-selection__rendered {
				color: $input-color !important;
			}
		}
	}
	.select2-search.select2-search--dropdown,
	.select2-results {
		background: $gray-lighter;
	}
	.select2-search__field {
		background: $input-bg;
		color: $input-color;
		border-color: $input-border;
	}
	.select2-container--default .select2-results__option[aria-selected=true] {
		background: $gray-light;
		color: $gray-base;
	}
}

/**
 * loader
 */
 %loader {
	width: 1em;
	height: 1em;
	overflow: hidden;
	color: $brand-color;
	text-indent: -9999px;
	border-radius: 50%;
	animation: load 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  // loader
  #sm-loading {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5.5rem;
  
	.loader {
	  @extend %loader;
	  position: relative;
	  top: 0;
	  left: 0;
	  transform: none;
	}
  }
  
  .overlay-parent {
	.loader {
	  @extend %loader;
	  font-size: 5.5rem;
	  position: absolute;
	  top: calc(50% - 2.25rem);
	  left: calc(50% - 2.25rem);
	  transform: translate(-50%, -50%);
	}
  }
  
  @keyframes load {
	  0% {
		  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	  }
	  5%, 95% {
		  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	  }
	  10%, 59% {
		  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	  }
	  20% {
		  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	  }
	  38% {
		  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	  }
	  100% {
		  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	  }
  }
  
  @keyframes round {
	  0% {
		  transform: rotate(0deg);
	  }
  
	  100% {
		  transform: rotate(360deg);
	  }
  }

/* jednotny overlay - na parenta pridat tridu 'overlay-parent' a do nej pridavat pres js div s tridou 'overlay' */
.overlay-parent {
	position: relative;
	overflow: hidden;
}
.overlay-fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.overlay-parent > .overlay,
.overlay-fixed > .overlay {
	position: absolute;;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $brand-white;
	border: 0;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	z-index: 999;
}

.overlay-parent > .overlay > img {
	position: relative;
	top: 20%;
	max-height: 50%;
	max-width: 90%;
}

/**
 * znázornění letů
 */
 .flights {
	&__body {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding-top: 0.5rem;
	}

	&__col {
		position: relative;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		float: left;
		width: 100%;

			&::before {
					position: absolute;
					bottom: 0;
					left: 1.5rem;
					display: block;
					width: 1px;
					height: calc(100% - 2rem);
					background: $gray-base;
					content: '';
			}
	}

	&__title {
			width: 100%;
			font-weight: bold;
	}

	&__item {
			margin-bottom: 0.5rem;
			padding-left: 1.9rem;
	}

	&__company-img {
			height: 1em;
			width: auto;
			margin-right: 0.25rem;
	}
}


*:focus{
	outline: 0 !important;
	box-shadow: none !important
}

.internal,
.debug {
	background-color: #c5dbc5;
	color: $gray-base !important;
}

@if ($dark-mode) {
	.internal,
	.debug {
		background-color: #4e764e;
		color: $gray-base !important;

		* {
			color: $gray-base !important;
		}
	}

	.panel.internal,
	.panel.internal > div {
		background-color: #4e764e !important;
	}
}

.paid-datepicker {
	position: absolute;
	z-index: 1000;
}

#toast-container > div {
	opacity: 1;
}

.main-content {
		margin-top: 15px; 
		padding-top: 107px; /* defautni padding dle vysky menu - jinak uprava pomoci JS (cesys.menu.js)*/
		padding-bottom: 70px;
}

/* odsazeni tlacitek zasktnout vse/odskrtnout vse */
.listCheckboxsSelector {
		margin-bottom: 5px;
}
/* nadpis ve well bloku - formulare */
.well h3 {
		margin-top: 0;
}
.form-group .form-group {
		margin-bottom:0;
}

/* filtr toggler */
.toggler h3 {
	background: #E8E8E8;
	padding: 5px 8px;
	margin-bottom: 0;
}
form.toggle-content {
		margin-top: 10px;
}

/* filtr v extra tabulce */
.filter-header-table {
		margin-bottom: 0 !important;
		border-bottom: 0 !important;

		tr, th {
				border-bottom: 0 !important;
		}
}
.fixed-layout {
		table-layout: fixed;
}

/* formuláře */
form h3 {
		margin-bottom: 15px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
}

/* prizpusobeni error trid cakephp pro bootstrap */
.has-warning {
	 .error-message {
		color: $brand-warning;
	}
}
.has-error {
	.error-message{
		color: $brand-danger;
	}
}
.has-success {
	.error-message{
		color: $brand-success;
	}
}
.error-message {
	display: block; 
	margin-top: 5px;
	margin-bottom: 10px;
}
.form-inline .error-message {
	display: inline; // account for any element using help-block
}

.main-login {
		margin-top: 15%;

		.panel {
				.panel-title {
						font-size:150%;
				}
				.panel-body {
						padding-bottom:0;
				}
		}
}

.wrap-for-sticky-footer-main {
		padding-bottom: 40px;
		overflow: auto; 
}

.collapse {
	display: block !important;
	height: 0px;
	overflow: hidden;
}
.collapse.in {
	height: auto !important;
}

.trip-information-title {
	font-size: 1.8rem;
}

$grid-label-color: darken($gray-light, 20%);
@if ($dark-mode) {
	$grid-label-color: lighten($gray-light, 20%);
}
// informace zobrazené v gridu
.info-grid-label {
	font-size: 1.2rem;
	margin-top: 0.7rem;
	color: $grid-label-color;
}

.info-grid-value {
	font-size: 1.7rem;
	line-height: 1.3;
}

.centered-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

td.actions,
th.actions {
	white-space: nowrap;
	text-align: right;
}

.small-headline {
	font-weight: bold;
	font-size: 2rem;
	color: $gray-darker;
}

.table-add-button {
	position: absolute;
	left: 2rem;
	bottom: -2rem;
}

// základní nastavení ikon
body i.material-icons {
	display: inline;
	vertical-align: text-bottom !important;
	font-size: 1.3em;
	line-height: 1; // inherit
	font-weight: lighter;
}

.erased {
	background: $brand-danger;
	color: $brand-white;
	padding: 15px;
	margin: 15px 0;
	border-left: 5px solid darken($brand-danger, 10%);
	border-radius: $border-radius-large;
}

// hlavička stránky
.page-header {
	flex-wrap: wrap;

	h1 {
			line-height: 1;
	}

	.favourites-col {
			padding-right: 0;
			margin-top: -0.2em;
	}

	.buttons-col {
			.btn:not(:last-child) {
					margin-right: 0.5rem;
			}
	}

	.manual-link {
			i.material-icons {
					vertical-align: bottom !important;
					font-size: 1em;
			}
	}
}

// edit třída
.edit-active {
	border: 3px solid $brand-secondary;
}

// colorpicker
.simplecolorpicker.icon {
	@extend .btn;
	@extend .btn-outline-secondary;
	@extend .btn-icon;

	&::after {
			content: 'color_lens' !important;
			font-family: 'Material Icons' !important;
			color: initial;
			font-feature-settings: 'liga';

			@if ($dark-mode) {
				color: $gray-darker;
			}
	}
}

.simplecolorpicker.picker {
	max-width: 147px !important; // 147px
	min-width: 112px !important; // 147px
	background: $gray-light !important;
	transform: translateX(-105px);

	.color {
			width: 30px;
			height: 30px;
			border-radius: $border-radius-base !important;
			border: 2px solid $brand-white !important;
			position: relative;

			&:hover {
					border: 2px solid $gray-base !important;
			}

			&[data-color=""] {
					border: 2px solid $gray-base !important;
					background: $brand-white !important;

					&::before {
							content: 'invert_colors_off' !important;
							font-family: 'Material Icons' !important;
							color: $gray-base;
							font-size: 2rem;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-feature-settings: 'liga';
					}
			}

			&[data-selected] {
					border: 2px solid $gray-base !important;
					align-items: center;
					justify-content: center;

					&::before {
							content: 'check' !important;
							font-family: 'Material Icons' !important;
							color: $gray-base;
							font-size: 2rem;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-feature-settings: 'liga';
					}
			}
	}
}

#besideMouse {
	background: $brand-success;
	border-radius: $border-radius-base;
	color: $brand-white;
	padding: 8px 12px;
}

.add-newsletter-dialog {
	white-space: normal !important;
	height: auto !important;
	line-height: 1.5 !important;
}

// stránkování
.paging {
	display: flex;
	justify-content: center;
}
.limitSelector {
	text-align: center;
	margin-top: 2rem;
}

// overlay na body
.bd-overlay {
	overflow: hidden;

	&::before {
			content: '';
			background: #a6a6a6;
			opacity: 0.4;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 9999;
	}
}

@if ($dark-mode) {
	.change-star,
	.content-actions-link.favourite-add-button {
		color: $brand-warning;

		&:hover,
		&:focus {
			color: darken($brand-warning, 15%);
		}
	}
}

/**
 * Forum
 */
 .forumtable {
	background: $brand-white;
	border-top: 1px solid darken($gray-lighter, 2%);
	border-left: 1px solid darken($gray-lighter, 2%);
	clear: both;
	color: $gray-darker;
	width: 100%;
	-moz-border-radius: .3em;
	border-collapse: separate;
}

.forumtable th {
	background: $gray-lighter;
	border: 1px solid $gray-dark;
	border-top: 1px solid $brand-white;
	border-left: 1px solid $brand-white;
	text-align: center;
	padding: 5px; }

.forumtable th a { color: $gray-darker; }

.forumtable td { 
	border-right: 1px solid darken($gray-lighter, 2%);
	border-bottom: 1px solid darken($gray-lighter, 2%);
	padding: 5px; }

.forumtable tr.altRow { background: $gray-lighter; }
.forumtable tr.altRow2 { background: $gray-light; }

.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }

.fr { float: right; }
.fl { float: left; }	

.forumpagination {
	padding: 5px;
	background: $gray-lighter;
	border: 1px solid darken($gray-lighter, 2%);
	color: $gray-dark; }

.forumpagingList { float: right; }
.forumpagingList span { margin-left: 5px; }

.forumpagingList span a {
	padding: 1px 5px;
	color: $gray-lighter;
	background: $gray-dark;
	-moz-border-radius: .3em; }

.forumpagingList span.current {
	padding: 0px 5px;
	color: $gray-lighter;
	font-weight: bold; }

.forumCrumb {
	padding: 10px 0; 
}

/**
 * tooltips
 */
 #JT_arrow_left {
	 background-image: none;

	 &::before {
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 11.5px 10px 11.5px 0;
		border-color: transparent $gray-lighter transparent transparent;
	 }
}
#JT_arrow_right {
	background-image: none;
	&::before {
	 content: '';
	 display: inline-block;
	 width: 0;
	 height: 0;
	 border-style: solid;
	 border-width: 11.5px 0 11.5px 10px;
	 border-color: transparent transparent transparent $gray-lighter;
	}
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid $gray-lighter;
	background-color: $body-bg;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box; 
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color: $text-color;
}

#JT_close_left{
	background-color: $gray-lighter;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: $gray-lighter;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid $gray-lighter;
}


/**
 nastavení vyhledávací masky
*/
$sm-bg-color: $brand-primary;
$sm-text-color: $brand-white;
@if($dark-mode) {
	$sm-bg-color: darken($brand-darker, 5%);
	$sm-text-color: $text-color;
}
#SearchmasksParametersEditForm:after {
	content: '';
	display: block;
	clear: both;
}
#SearchmaskEditForm .sortable-wrap {
	border: 1px solid $gray-lighter;
	text-align: center;
}
#SearchmaskEditForm .sortable-column {
	min-height: 450px;
}
#available-elements-mask h3,
#result-mask h3 {
	background-color: $gray-lighter;
	margin-top: 1px;
	padding: 5px
}
#result-mask h3 {
	background: $sm-bg-color;
	color: $sm-text-color;
}
#SearchmaskEditForm .searchmask-element {
	border: 1px solid $gray-light;
	width: calc(100% - 12px);
	border-radius: $border-radius-base;
	margin: 6px;
	line-height: 15px;
	background-color: $brand-white;
	text-align: left;
	cursor: move;
}
#SearchmaskEditForm .searchmask-element span {
	float: right;
}
#SearchmaskEditForm .searchmask-element h3 {
	width: auto;
	margin: 2px 2px;
	padding: 3px;
	border: 1px solid inherit;
	background-color: $gray-light;
	border-radius: 5px;
	font-size: 125%;
	color: $sm-text-color;
}
#result-mask .searchmask-element h3 {
	background: $sm-bg-color;
	color: $sm-text-color;
}
#result-mask .searchmask-element a {
	color: $sm-text-color;
}
#result-mask div#extended_delimer h3 {
	background: $brand-danger;
}
#SearchmaskEditForm #extended_delimer span {
	display: none !important;
}

#SearchmasksParametersEditForm {
	.checkbox {
		width: 33%;
		float: left;
		margin: 5px 0 !important;
	}
	.checkbox:last-child::after {
		content: '';
		display: block;
		clear: both;
	}
	input[type="radio"] {
		float: left;
		margin-right: 5px;
	}
	label {
		display: block;
	}
	.mb-5 {
		margin-bottom: 5px;
	}
	.invalid-feedback {
		color: $brand-danger;
	}
	.advanced-settings{
		color: $brand-primary;
		cursor: pointer;
	}
	#advanced-settings {
		padding-top: 1rem;
		display: none;
	}
}