// Panels

@mixin panel-variant-dark(
	$border,
	$text-color,
	$bg-color,
	$list-border,
	$body-bg-color: $bg-color
) {
	border-color: $border;
	color: $text-color;
	background-color: $body-bg-color;

	& > .panel-body {
		color: $text-color;
		background-color: $body-bg-color;
	}

	& > .panel-heading,
	& > .panel-footer {
		color: $text-color;
		background-color: $bg-color;
		border-color: $border;

		+ .panel-collapse > .panel-body {
			border-top-color: $border;
		}
	}
	& > .panel-footer {
		+ .panel-collapse > .panel-body {
			border-bottom-color: $border;
		}
	}

	& > .panel-body,
	& > .list-group,
	& > .list-group > .list-group-item {
		background-color: $body-bg-color;
	}
	& .list-group-item {
		border-color: $list-border !important;
	}
}

.panel-default > .panel-heading,
.panel-default > .panel-footer,
.panel-default > .list-group > .list-group-item,
.panel-default {
	border-color: $gray-lighter;
}

.panel-default > .panel-heading,
.panel-default > .panel-footer {
	background-color: $gray-lighter;
}

.panel-body:not(:first-child),
.panel-footer:not(:first-child) {
	box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
}

.panel {
	box-shadow: none;
}

.panel-title {
	font-weight: normal;
}

.panel-body-title {
	color: $gray-dark;
	font-size: $font-size-base;
	font-weight: normal;
	position: relative;
	margin: 0 0 0.5em 0;
	top: -0.5em;
	left: -0.5em;
}

.panel-light {
	@include panel-variant-dark(
		$gray-lighter,
		$gray-base,
		$gray-lighter,
		$gray-lighter
	);
}
.panel-default-dark {
	@include panel-variant-dark(
		$gray-lighter,
		$gray-base,
		$gray-lighter,
		$brand-white
	);
}
.panel-primary-dark {
	@include panel-variant-dark(
		lighten($brand-primary, 10%),
		$brand-white,
		lighten($brand-primary, 10%),
		$brand-white
	);
}
.panel-secondary-dark {
	@include panel-variant-dark(
		$brand-secondary,
		$brand-white,
		$brand-secondary,
		$brand-white
	);
}
.panel-success-dark {
	@include panel-variant-dark(
		lighten($brand-success, 4%),
		$brand-white,
		lighten($brand-success, 4%),
		$brand-white
	);
}
.panel-warning-dark {
	@include panel-variant-dark(
		lighten($brand-warning, 5%),
		$gray-base,
		lighten($brand-warning, 5%),
		$brand-white
	);
}
.panel-danger-dark {
	@include panel-variant-dark(
		lighten($brand-danger, 5%),
		$brand-white,
		lighten($brand-danger, 5%),
		$brand-white
	);
}
.panel-info-dark {
	@include panel-variant-dark(
		lighten($brand-info, 10%),
		$gray-base,
		lighten($brand-info, 10%),
		$brand-white
	);
}
.panel-dark {
	@include panel-variant-dark(
		$gray-dark,
		$brand-white,
		$gray-dark,
		$brand-white
	);
}

// poznámka
.panel.note {
	position: relative;
	margin-top: 10px;
	border-radius: 0 0 $border-radius-base $border-radius-base;

	&::before {
		position: absolute;
		top: -8px;
		display: block;
		content: "";
		background-image: radial-gradient(
			circle,
			transparent 7px,
			$gray-lighter 7px
		);
		background-size: 23px 20px;
		background-position: -15px -10px;
		width: 100%;
		height: 20px;
	}
}

.panel-default-dark.note::before {
	background-image: radial-gradient(circle, transparent 7px, $gray-lighter 7px);
}
.panel-primary-dark.note::before {
	background-image: radial-gradient(
		circle,
		transparent 7px,
		lighten($brand-primary, 10%) 7px
	);
}
.panel-secondary-dark.note::before {
	background-image: radial-gradient(
		circle,
		transparent 7px,
		$brand-secondary 7px
	);
}
.panel-success-dark.note::before {
	background-image: radial-gradient(
		circle,
		transparent 7px,
		lighten($brand-success, 4%) 7px
	);
}
.panel-warning-dark.note::before {
	background-image: radial-gradient(
		circle,
		transparent 7px,
		lighten($brand-warning, 5%) 7px
	);
}
.panel-danger-dark.note::before {
	background-image: radial-gradient(
		circle,
		transparent 7px,
		lighten($brand-danger, 5%) 7px
	);
}
.panel-info-dark.note::before {
	background-image: radial-gradient(
		circle,
		transparent 7px,
		lighten($brand-info, 10%) 7px
	);
}
.panel-dark.note::before {
	background-image: radial-gradient(circle, transparent 7px, $gray-dark 7px);
}

@if ($dark-mode) {
	.panel-default-dark {
		@include panel-variant-dark(
			$gray-lighter,
			$text-color,
			$gray-lighter,
			$gray-light
		);
	}
	.panel-default {
		@include panel-variant-dark(
			$gray-lighter,
			$text-color,
			$gray-lighter,
			$gray-light
		);
	}
	.panel-warning {
		@include panel-variant-dark(
			$gray-lighter,
			$gray-base,
			darken($brand-warning, 35%),
			$brand-white,
			$gray-lighter
		);
	}
	.panel-success {
		@include panel-variant-dark(
			$gray-lighter,
			$gray-base,
			darken($brand-success, 10%),
			$brand-white,
			$gray-lighter
		);
	}
	.panel-danger {
		@include panel-variant-dark(
			$gray-lighter,
			$gray-base,
			darken($brand-danger, 25%),
			$brand-white,
			$gray-lighter
		);
	}
	.panel-info {
		@include panel-variant-dark(
			$gray-lighter,
			$gray-base,
			darken($brand-info, 10%),
			$brand-white,
			$gray-lighter
		);
	}
}
