@media only print {
    .sub-navbar-searches {
        display: none;
    }
    * {
        overflow: visible;
    }
    .main-content {
        padding-top: 0 !important;
    }
}

.search-result-detail-print {width:19cm;}
.search-result-detail .col1-print {width:19cm;}
.search-result-detail .col2-print {width:19cm;}
.search-result-detail .col3-print {width:19cm;}

.search-result-detail .col1-print .details {float: left; width:11cm;}
.search-result-detail .col1-print .details table {width:11cm; text-align:left;}
.search-result-detail .col1-print .gallery {float: right; width:8cm;}
.search-result-detail .col1-print .gallery li {list-style: none; padding:0;}
.search-result-detail .col1-print .prices {width:19cm;}
.search-result-detail .col1-print .prices {width:19cm}
.search-result-detail .col1-print .prices table th {width: 8.5cm; text-align: left}