// jednoduché tabulky (nestylované)
table {
    width: 100%;

    thead,
    thead th,
    thead td {
        font-weight: normal;
    }
}

$table-shadow: inset 0 10px 10px -10px rgba($gray-base, 0.15);

// admin tabulka
.table {
    width: 100%;
    max-width: 100%;
    // border-radius
    border-collapse: separate;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;

    > thead > tr > th,
    > tbody > tr > td,
    > tfoot > tr > td {
        vertical-align: middle;
        border: 0;
    }

    > tbody > tr > td, > tbody > tr > th, thead > tr > th {
        border-left: 0;
        border-top: 1px solid $gray-lighter;
    }

    th {
        border-top: 0;
    }

    tbody td {
        border-bottom: 1px solid transparent;
    }

    tbody td:first-child, thead th:first-child {
        border-left: 1px solid transparent;
    }

    tbody td:last-child, thead th:last-child {
        border-right: 1px solid transparent;
    }

    tbody > tr:first-child > td,
    thead > tr:first-child > th {
        border-top: 1px solid transparent;
    }

    tbody > tr:hover {
        > td {
            background: lighten($gray-lighter, 2%);
            border-color: $brand-light;

            @if ($dark-mode) {
                border-color: $gray-lighter;
            }

            &:not(:last-child) {
                border-right: 0;
            }
            &:not(:first-child) {
                border-left: 0;
            }
        }
    }

    

    &.table-multirow {
        tbody {
            > tr > td {
                border-top: 0;
                border-bottom: 0;
            }
            > tr:last-child > td {
                border-top: 0;
                border-bottom: 1px solid $gray-lighter;
            }
        }

        tbody:hover {
            > tr > td {
                background: lighten($gray-lighter, 2%);
                border-color: $brand-light;

                &:not(:last-child) {
                    border-right: 0;
                }
                &:not(:first-child) {
                    border-left: 0;
                }
            }
            /* > tr > td {
                border-top: 0;
                border-bottom: 0;
            } */
            > tr:last-child > td {
                border-top: 0;
                border-bottom: 1px solid $brand-light;;
            }
        }
    }

    > thead, > thead > tr, > thead > tr > td, > thead > tr > th, > tbody > tr > th {
        background-color: $gray-lighter;
        font-weight: normal;
    }

    thead {
        tr:nth-child(n+2) > th,
        tr:nth-child(n-2) > td {
            border-top: 1px solid $gray-light;
            box-shadow: $table-shadow;
        }
    }

    tbody:first-of-type:not(:first-child) {
        tr:first-child td {
            border-top-color: $gray-light;
            box-shadow: $table-shadow;
        }
    }

    tfoot {
        tr:first-child td {
            /* background-color: $gray-lighter;
            box-shadow: $table-shadow; */
        }

        tr td {
            box-shadow: none;
            background-color: $brand-white;
            border-top: 1px solid $gray-lighter;
        }
    }

    tr.has-checkbox {

        td:first-child {
            border-left: 4px solid transparent;
        }

        &.checked {
            td:first-child {
                border-left: 4px solid $brand-success !important;
            }
        }
    }

    &.table-multirow {
        tr.has-checkbox ~ tr td:first-child {
            border-left-width: 4px;
        }

        tr.has-checkbox.checked ~ tr td:first-child {
            border-left: 4px solid $brand-success !important;
        }
    }
}

.table-dark {
    tbody tr td, thead tr th {
        background-color: $gray-lighter;
        border-top: 1px solid $gray-light;
    }
}

.table-dashboard {
    border: 0;

    tbody tr td {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    tbody tr td, thead tr th {
        border-top: 1px solid $gray-light;
    }

    &.table-multirow {
        tbody:last-child tr:last-child td {
            border-bottom-color: transparent;
        }
    }
}

// obalovák pro umístění absolutního tlačítka pro přidání záznamu
.table-wrapper {
    position: relative;
    margin-bottom: 5rem;
}

@if($dark-mode) {
    .fix-sticky thead th, .fix-sticky thead th:first-child {
        background: $gray-lighter;
    }
}


/* filtrovaci kriteria */
.offer-conditions-table {
    table-layout: fixed;

    td, th {
        vertical-align: top !important;
        overflow: hidden;
    }
    .strong-border, th {
        border-bottom: 2px solid $gray-lighter;
    }
    td .form-group {
        margin-bottom: 5px;
    }
    form {
        margin-bottom: 3px;
    }
    th.actions,
    td.actions {
        overflow: visible;
        white-space: normal;

        .btn {
            white-space: normal;
        }
    }
}


.table-image {
    object-fit: cover;
    width: 50px;
    height: 40px;
    border-radius: $border-radius-base;
}

/* bootstrap-table plugin */
.fixed-table-container {
    table.table {
        border-collapse: separate !important;
        padding: 0 !important;

        tbody {
            tr {
                &:hover {
                    td {
                        border: 1px solid $brand-light;
                        border-right: 0;

                        &:first-child {
                            border-left: 0;
                        }
                    }
                }
            }
        }
    }
}

.table > thead > tr > td.active, .table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th {
    background-color: $gray-lighter;
}