*,
*::before,
*::after {
    //letter-spacing: -0.02em;
}

body {
    font-weight: 400;
}

.text-light {
    font-weight: 300;
}

h1, h2, h3,
.h1, .h2, .h3 {
    font-weight: 700;
}

@if($dark-mode) {
    body #content {
        color: $text-color !important;
    }
}

@include bg-variant('.bg-primary', $brand-primary);
@include bg-variant('.bg-secondary', $brand-secondary);
@include bg-variant('.bg-success', $brand-success);
@include bg-variant('.bg-info', $brand-info);
@include bg-variant('.bg-warning', $brand-warning);
@include bg-variant('.bg-danger', $brand-danger);
@include bg-variant('.bg-default', $gray-light);
@include bg-variant('.bg-dark', $gray-dark);

@include text-emphasis-variant('.text-primary', $brand-primary);
@include text-emphasis-variant('.text-secondary', $brand-secondary);
@include text-emphasis-variant('.text-success', $brand-success);
@include text-emphasis-variant('.text-info', $brand-info);
@include text-emphasis-variant('.text-warning', $brand-warning);
@include text-emphasis-variant('.text-danger', $brand-danger);
@include text-emphasis-variant('.text-gray', $gray-light);