@font-face {
  font-family: 'cesys3';
  src:  url('/fonts/cesys3-icon-font.eot?y6wkm8');
  src:  url('/fonts/cesys3-icon-font.eot?y6wkm8#iefix') format('embedded-opentype'),
    url('/fonts/cesys3-icon-font.ttf?y6wkm8') format('truetype'),
    url('/fonts/cesys3-icon-font.woff?y6wkm8') format('woff'),
    url('/fonts/cesys3-icon-font.svg?y6wkm8') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="c3f-"], [class*=" c3f-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cesys3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c3f-air-condition-1:before {
  content: "\61";
}
.c3f-c3f-board-3:before {
  content: "\e900";
}
.c3f-wellness-1:before {
  content: "\e901";
}
.c3f-sea-distance-1:before {
  content: "\e902";
}
.c3f-family-friendly-1:before {
  content: "\e903";
}
.c3f-sport-friendly-1:before {
  content: "\e904";
}
.c3f-tobogan-1:before {
  content: "\e905";
}
.c3f-at-the-beach-1:before {
  content: "\e906";
}
.c3f-outdoor-pool-1:before {
  content: "\e907";
}
.c3f-indoor-pool-1:before {
  content: "\e908";
}
.c3f-wifi-1:before {
  content: "\e909";
}
.c3f-air-condition-2:before {
  content: "\e90a";
}
.c3f-at-the-beach-2:before {
  content: "\e90b";
}
.c3f-family-friendly-2:before {
  content: "\e90c";
}
.c3f-indoor-pool-2:before {
  content: "\e90d";
}
.c3f-outdoor-pool-2:before {
  content: "\e90e";
}
.c3f-wellness-2:before {
  content: "\e90f";
}
.c3f-arrow-back-1:before {
  content: "\e910";
}
.c3f-sport-friendly-2:before {
  content: "\e911";
}
.c3f-tobogan-2:before {
  content: "\e912";
}
.c3f-wifi-2:before {
  content: "\e913";
}
.c3f-facebook-1:before {
  content: "\e914";
}
.c3f-G-plus-1:before {
  content: "\e915";
}
.c3f-linkedin-1:before {
  content: "\e916";
}
.c3f-twitter-1:before {
  content: "\e917";
}
.c3f-youtube-1:before {
  content: "\e918";
}
.c3f-facebook-2:before {
  content: "\e919";
}
.c3f-g-plus-2:before {
  content: "\e91a";
}
.c3f-instagram-2:before {
  content: "\e91b";
}
.c3f-linkedIn-2:before {
  content: "\e91c";
}
.c3f-pinterest-2:before {
  content: "\e91d";
}
.c3f-twitter-2:before {
  content: "\e91e";
}
.c3f-youtube-2:before {
  content: "\e91f";
}
.c3f-car-1:before {
  content: "\e920";
}
.c3f-bus-1:before {
  content: "\e921";
}
.c3f-plane-1:before {
  content: "\e922";
}
.c3f-home-1:before {
  content: "\e923";
}
.c3f-calendar-1:before {
  content: "\e924";
}
.c3f-magnifier-1:before {
  content: "\e925";
}
.c3f-envelope-1:before {
  content: "\e926";
}
.c3f-heart-1:before {
  content: "\e927";
}
.c3f-telefon:before {
  content: "\e928";
}
.c3f-dialog-bubble-1:before {
  content: "\e929";
}
.c3f-dialog-bubble-2:before {
  content: "\e92a";
}
.c3f-dialog-bubble-3:before {
  content: "\e92b";
}
.c3f-dialog-bubble-4:before {
  content: "\e92c";
}
.c3f-dialog-bubble-5:before {
  content: "\e92d";
}
.c3f-dialog-bubble-6:before {
  content: "\e92e";
}
.c3f-dialog-bubble-7:before {
  content: "\e92f";
}
.c3f-dialog-bubble-8:before {
  content: "\e930";
}
.c3f-email-1:before {
  content: "\e931";
}
.c3f-email-2:before {
  content: "\e932";
}
.c3f-email-3:before {
  content: "\e933";
}
.c3f-email-4:before {
  content: "\e934";
}
.c3f-email-5:before {
  content: "\e935";
}
.c3f-mobil-1:before {
  content: "\e936";
}
.c3f-mobil-2:before {
  content: "\e937";
}
.c3f-mobil-3:before {
  content: "\e938";
}
.c3f-mobil-4:before {
  content: "\e939";
}
.c3f-phone-1:before {
  content: "\e93a";
}
.c3f-phone-2:before {
  content: "\e93b";
}
.c3f-lmfm-1:before {
  content: "\e93c";
}
.c3f-transport-1:before {
  content: "\e93d";
}
.c3f-transport-2:before {
  content: "\e93e";
}
.c3f-transport-3:before {
  content: "\e93f";
}
.c3f-globe-1:before {
  content: "\e940";
}
.c3f-star-1:before {
  content: "\e941";
}
.c3f-star-2:before {
  content: "\e942";
}
.c3f-ikona_kalendar-datum-1:before {
  content: "\e943";
}
.c3f-calendar-2:before {
  content: "\e944";
}
.c3f-calendar-3:before {
  content: "\e945";
}
.c3f-calendar-4:before {
  content: "\e946";
}
.c3f-calendar-5:before {
  content: "\e947";
}
.c3f-calendar-6:before {
  content: "\e948";
}
.c3f-magnifier-2:before {
  content: "\e949";
}
.c3f-payment-1:before {
  content: "\e94a";
}
.c3f-person-1:before {
  content: "\e94b";
}
.c3f-board-1:before {
  content: "\e94c";
}
.c3f-board-2:before {
  content: "\e94d";
}
.c3f-arrow-back-2:before {
  content: "\e94e";
}
.c3f-arrow-forward-1:before {
  content: "\e94f";
}
.c3f-arrow-forward-2:before {
  content: "\e950";
}
.c3f-board-3:before {
  content: "\e951";
}
.c3f-map-place-1:before {
  content: "\e952";
}
.c3f-map-place-2:before {
  content: "\e953";
}
.c3f-c3f-board-4:before {
  content: "\e954";
}
.c3f-c3f-briefcase-1:before {
  content: "\e955";
}
.c3f-c3f-briefcase-2:before {
  content: "\e956";
}
.c3f-c3f-calendar-7:before {
  content: "\e957";
}
.c3f-c3f-check-1:before {
  content: "\e958";
}
.c3f-c3f-check-2:before {
  content: "\e959";
}
.c3f-c3f-check-3:before {
  content: "\e95a";
}
.c3f-c3f-info-1:before {
  content: "\e95b";
}
.c3f-c3f-info-2:before {
  content: "\e95c";
}
.c3f-c3f-palm-1:before {
  content: "\e95d";
}
.c3f-c3f-palm-2:before {
  content: "\e95e";
}
.c3f-c3f-plus-1:before {
  content: "\e95f";
}
.c3f-c3f-plus-2:before {
  content: "\e960";
}
.c3f-c3f-plus-3:before {
  content: "\e961";
}
.c3f-board-5:before {
  content: "\e962";
}
.c3f-gallery:before {
  content: "\e963";
}
.c3f-login:before {
  content: "\e964";
}
.c3f-star-3:before {
  content: "\e965";
}
.c3f-star-4:before {
  content: "\e966";
}
.c3f-gallery-2:before {
  content: "\e967";
}
.c3f-gallery-3:before {
  content: "\e968";
}
.c3f-hotel:before {
  content: "\e969";
}
.c3f-star-5:before {
  content: "\e96a";
}
.c3f-sun-1:before {
  content: "\e96b";
}
.c3f-assignment-turned:before {
  content: "\e96c";
}
.c3f-content-copy:before {
  content: "\e96d";
}
.c3f-subdirectory-arrow:before {
  content: "\e96e";
}
.c3f-compass-1:before {
  content: "\e96f";
}
.c3f-compass-2:before {
  content: "\e970";
}
.c3f-cruise-1:before {
  content: "\e971";
}
.c3f-envelope-2:before {
  content: "\e972";
}
.c3f-give-gift-1:before {
  content: "\e973";
}
.c3f-give-gift-2:before {
  content: "\e974";
}
.c3f-chat-1:before {
  content: "\e975";
}
.c3f-insurance-1:before {
  content: "\e976";
}
.c3f-insurance-2:before {
  content: "\e977";
}
.c3f-insurance-3:before {
  content: "\e978";
}
.c3f-insurance-4:before {
  content: "\e979";
}
.c3f-notes-1:before {
  content: "\e97a";
}
.c3f-notes-2:before {
  content: "\e97b";
}
.c3f-plane-2:before {
  content: "\e97c";
}
.c3f-plane-3:before {
  content: "\e97d";
}
.c3f-price-1:before {
  content: "\e97e";
}
.c3f-send-1:before {
  content: "\e97f";
}
.c3f-telefon-1:before {
  content: "\e980";
}
.c3f-telefon-2:before {
  content: "\e981";
}
.c3f-telefon-3:before {
  content: "\e982";
}
.c3f-telefon-4:before {
  content: "\e983";
}
.c3f-transport-4:before {
  content: "\e984";
}