.countryFlag { background: transparent url("/img/countries/flags.png") no-repeat; border: 1px solid #ccc; }

.cFI1 { background-position: -0px 0; }
.cFI2 { background-position: -22px 0; }
.cFI3 { background-position: -44px 0; }
.cFI4 { background-position: -66px 0; }
.cFI5 { background-position: -88px 0; }
.cFI6 { background-position: -110px 0; }
.cFI7 { background-position: -132px 0; }
.cFI8 { background-position: -154px 0; }
.cFI9 { background-position: -176px 0; }
.cFI10 { background-position: -198px 0; }
.cFI11 { background-position: -220px 0; }
.cFI12 { background-position: -242px 0; }
.cFI13 { background-position: -264px 0; }
.cFI14 { background-position: -286px 0; }
.cFI15 { background-position: -308px 0; }
.cFI16 { background-position: -330px 0; }
.cFI17 { background-position: -352px 0; }
.cFI18 { background-position: -374px 0; }
.cFI19 { background-position: -396px 0; }
.cFI20 { background-position: -418px 0; }
.cFI21 { background-position: -440px 0; }
.cFI22 { background-position: -462px 0; }
.cFI23 { background-position: -484px 0; }
.cFI24 { background-position: -506px 0; }
.cFI25 { background-position: -528px 0; }
.cFI26 { background-position: -550px 0; }
.cFI27 { background-position: -572px 0; }
.cFI28 { background-position: -594px 0; }
.cFI29 { background-position: -616px 0; }
.cFI30 { background-position: -638px 0; }
.cFI31 { background-position: -660px 0; }
.cFI32 { background-position: -682px 0; }
.cFI33 { background-position: -704px 0; }
.cFI34 { background-position: -726px 0; }
.cFI35 { background-position: -748px 0; }
.cFI36 { background-position: -770px 0; }
.cFI37 { background-position: -792px 0; }
.cFI38 { background-position: -814px 0; }
.cFI39 { background-position: -836px 0; }
.cFI40 { background-position: -858px 0; }
.cFI41 { background-position: -880px 0; }
.cFI42 { background-position: -902px 0; }
.cFI43 { background-position: -924px 0; }
.cFI44 { background-position: -946px 0; }
.cFI45 { background-position: -968px 0; }
.cFI46 { background-position: -990px 0; }
.cFI47 { background-position: -1012px 0; }
.cFI48 { background-position: -1034px 0; }
.cFI49 { background-position: -1056px 0; }
.cFI50 { background-position: -1078px 0; }
.cFI51 { background-position: -1100px 0; }
.cFI52 { background-position: -1122px 0; }
.cFI53 { background-position: -1144px 0; }
.cFI54 { background-position: -1166px 0; }
.cFI55 { background-position: -1188px 0; }
.cFI56 { background-position: -1210px 0; }
.cFI57 { background-position: -1232px 0; }
.cFI58 { background-position: -1254px 0; }
.cFI59 { background-position: -1276px 0; }
.cFI60 { background-position: -1298px 0; }
.cFI61 { background-position: -1320px 0; }
.cFI62 { background-position: -1342px 0; }
.cFI63 { background-position: -1364px 0; }
.cFI64 { background-position: -1386px 0; }
.cFI65 { background-position: -1408px 0; }
.cFI66 { background-position: -1430px 0; }
.cFI67 { background-position: -1452px 0; }
.cFI68 { background-position: -1474px 0; }
.cFI69 { background-position: -1496px 0; }
.cFI70 { background-position: -1518px 0; }
.cFI71 { background-position: -1540px 0; }
.cFI72 { background-position: -1562px 0; }
.cFI73 { background-position: -1584px 0; }
.cFI74 { background-position: -1606px 0; }
.cFI75 { background-position: -1628px 0; }
.cFI76 { background-position: -1650px 0; }
.cFI77 { background-position: -1672px 0; }
.cFI78 { background-position: -1694px 0; }
.cFI79 { background-position: -1716px 0; }
.cFI80 { background-position: -1738px 0; }
.cFI81 { background-position: -1760px 0; }
.cFI82 { background-position: -1782px 0; }
.cFI83 { background-position: -1804px 0; }
.cFI84 { background-position: -1826px 0; }
.cFI85 { background-position: -1848px 0; }
.cFI86 { background-position: -1870px 0; }
.cFI87 { background-position: -1892px 0; }
.cFI88 { background-position: -1914px 0; }
.cFI89 { background-position: -1936px 0; }
.cFI90 { background-position: -1958px 0; }
.cFI91 { background-position: -1980px 0; }
.cFI92 { background-position: -2002px 0; }
.cFI93 { background-position: -2024px 0; }
.cFI94 { background-position: -2046px 0; }
.cFI95 { background-position: -2068px 0; }
.cFI96 { background-position: -2090px 0; }
.cFI97 { background-position: -2112px 0; }
.cFI98 { background-position: -2134px 0; }
.cFI99 { background-position: -2156px 0; }
.cFI100 { background-position: -2178px 0; }
.cFI101 { background-position: -2200px 0; }
.cFI102 { background-position: -2222px 0; }
.cFI103 { background-position: -2244px 0; }
.cFI104 { background-position: -2266px 0; }
.cFI105 { background-position: -2288px 0; }
.cFI106 { background-position: -2310px 0; }
.cFI107 { background-position: -2332px 0; }
.cFI108 { background-position: -2354px 0; }
.cFI109 { background-position: -2376px 0; }
.cFI110 { background-position: -2398px 0; }
.cFI111 { background-position: -2420px 0; }
.cFI112 { background-position: -2442px 0; }
.cFI113 { background-position: -2464px 0; }
.cFI114 { background-position: -2486px 0; }
.cFI115 { background-position: -2508px 0; }
.cFI116 { background-position: -2530px 0; }
.cFI117 { background-position: -2552px 0; }
.cFI118 { background-position: -2574px 0; }
.cFI119 { background-position: -2596px 0; }
.cFI120 { background-position: -2618px 0; }
.cFI121 { background-position: -2640px 0; }
.cFI122 { background-position: -2662px 0; }
.cFI123 { background-position: -2684px 0; }
.cFI124 { background-position: -2706px 0; }
.cFI125 { background-position: -2728px 0; }
.cFI126 { background-position: -2750px 0; }
.cFI127 { background-position: -2772px 0; }
.cFI128 { background-position: -2794px 0; }
.cFI129 { background-position: -2816px 0; }
.cFI130 { background-position: -2838px 0; }
.cFI131 { background-position: -2860px 0; }
.cFI132 { background-position: -2882px 0; }
.cFI133 { background-position: -2904px 0; }
.cFI134 { background-position: -2926px 0; }
.cFI135 { background-position: -2948px 0; }
.cFI136 { background-position: -2970px 0; }
.cFI137 { background-position: -2992px 0; }
.cFI138 { background-position: -3014px 0; }
.cFI139 { background-position: -3036px 0; }
.cFI140 { background-position: -3058px 0; }
.cFI141 { background-position: -3080px 0; }
.cFI142 { background-position: -3102px 0; }
.cFI143 { background-position: -3124px 0; }
.cFI144 { background-position: -3146px 0; }
.cFI145 { background-position: -3168px 0; }
.cFI146 { background-position: -3190px 0; }
.cFI147 { background-position: -3212px 0; }
.cFI148 { background-position: -3234px 0; }
.cFI149 { background-position: -3256px 0; }
.cFI150 { background-position: -3278px 0; }
.cFI151 { background-position: -3300px 0; }
.cFI152 { background-position: -3322px 0; }
.cFI153 { background-position: -3344px 0; }
.cFI154 { background-position: -3366px 0; }
.cFI155 { background-position: -3388px 0; }
.cFI156 { background-position: -3410px 0; }
.cFI157 { background-position: -3432px 0; }
.cFI158 { background-position: -3454px 0; }
.cFI159 { background-position: -3476px 0; }
.cFI160 { background-position: -3498px 0; }
.cFI161 { background-position: -3520px 0; }
.cFI162 { background-position: -3542px 0; }
.cFI163 { background-position: -3564px 0; }
.cFI164 { background-position: -3586px 0; }
.cFI165 { background-position: -3608px 0; }
.cFI166 { background-position: -3630px 0; }
.cFI167 { background-position: -3652px 0; }
.cFI168 { background-position: -3674px 0; }
.cFI169 { background-position: -3696px 0; }
.cFI170 { background-position: -3718px 0; }
.cFI171 { background-position: -3740px 0; }
.cFI172 { background-position: -3762px 0; }
.cFI173 { background-position: -3784px 0; }
.cFI174 { background-position: -3806px 0; }
.cFI175 { background-position: -3828px 0; }
.cFI176 { background-position: -3850px 0; }
.cFI177 { background-position: -3872px 0; }
.cFI178 { background-position: -3894px 0; }
.cFI179 { background-position: -3916px 0; }
.cFI180 { background-position: -3938px 0; }
.cFI181 { background-position: -3960px 0; }
.cFI182 { background-position: -3982px 0; }
.cFI183 { background-position: -4004px 0; }
.cFI184 { background-position: -4026px 0; }
.cFI185 { background-position: -4048px 0; }
.cFI186 { background-position: -4070px 0; }
.cFI187 { background-position: -4092px 0; }
.cFI188 { background-position: -4114px 0; }
.cFI189 { background-position: -4136px 0; }
.cFI190 { background-position: -4158px 0; }
.cFI191 { background-position: -4180px 0; }
.cFI192 { background-position: -4202px 0; }
.cFI193 { background-position: -4224px 0; }
.cFI194 { background-position: -4246px 0; }
.cFI195 { background-position: -4268px 0; }
.cFI196 { background-position: -4290px 0; }
.cFI197 { background-position: -4312px 0; }
.cFI198 { background-position: -4334px 0; }
.cFI199 { background-position: -4356px 0; }
.cFI200 { background-position: -4378px 0; }
.cFI201 { background-position: -4400px 0; }
.cFI202 { background-position: -4422px 0; }
.cFI203 { background-position: -4444px 0; }
.cFI204 { background-position: -4466px 0; }
.cFI205 { background-position: -4488px 0; }
.cFI206 { background-position: -4510px 0; }
.cFI207 { background-position: -4532px 0; }
.cFI208 { background-position: -4554px 0; }
.cFI209 { background-position: -4576px 0; }
.cFI210 { background-position: -4598px 0; }
.cFI211 { background-position: -4620px 0; }
.cFI212 { background-position: -4642px 0; }
.cFI213 { background-position: -4664px 0; }
.cFI214 { background-position: -4686px 0; }
.cFI215 { background-position: -4708px 0; }
.cFI216 { background-position: -4730px 0; }
.cFI217 { background-position: -4752px 0; }
.cFI218 { background-position: -4774px 0; }
.cFI219 { background-position: -4796px 0; }
.cFI220 { background-position: -4818px 0; }
.cFI221 { background-position: -4840px 0; }
.cFI222 { background-position: -4862px 0; }
.cFI223 { background-position: -4884px 0; }
.cFI224 { background-position: -4906px 0; }
.cFI225 { background-position: -4928px 0; }
.cFI226 { background-position: -4950px 0; }
.cFI227 { background-position: -4972px 0; }
.cFI228 { background-position: -4994px 0; }
.cFI229 { background-position: -5016px 0; }
.cFI230 { background-position: -5038px 0; }
.cFI231 { background-position: -5060px 0; }
.cFI232 { background-position: -5082px 0; }
.cFI233 { background-position: -5104px 0; }
.cFI234 { background-position: -5126px 0; }
.cFI235 { background-position: -5148px 0; }
.cFI236 { background-position: -5170px 0; }
.cFI237 { background-position: -5192px 0; }
.cFI238 { background-position: -5214px 0; }
.cFI239 { background-position: -5236px 0; }
.cFI240 { background-position: -5258px 0; }
.cFI241 { background-position: -5280px 0; }
.cFI242 { background-position: -5302px 0; }
.cFI243 { background-position: -5324px 0; }
.cFI244 { background-position: -5346px 0; }
.cFI245 { background-position: -5368px 0; }
.cFI246 { background-position: -5390px 0; }
.cFI247 { background-position: -5412px 0; }
.cFI248 { background-position: -5434px 0; }
.cFI249 { background-position: -5456px 0; }
.cFI250 { background-position: -5478px 0; }
.cFI251 { background-position: -5500px 0; }
.cFI252 { background-position: -5522px 0; }
.cFI253 { background-position: -5544px 0; }
.cFI254 { background-position: -5566px 0; }
.cFI255 { background-position: -5588px 0; }
.cFI256 { background-position: -5610px 0; }
.cFI257 { background-position: -5632px 0; }
.cFI258 { background-position: -5654px 0; }
.cFI259 { background-position: -5676px 0; }
.cFI260 { background-position: -5698px 0; }

