.nb.star{
	width: 12px;   
    height: 12px;
}


.imageEntities-ContentNews.img-small{
	width: 100px;   
    height: 66px;

}
.imageEntities-ContentNews.img-medium{
	width: 320px;   
}
.imageEntities-ContentNews.img-large{
	width: 640px;   
}



.imageEntities-ContentPages.img-small{
	width: 100px;   
    height: 66px;

}
.imageEntities-ContentPages.img-medium{
	width: 320px;   
}
.imageEntities-ContentPages.img-large{
	width: 640px;   
}

	

.imageEntities-ContentSideboxes.img-small{
	width: 100px;   
}
.imageEntities-ContentSideboxes.img-medium{
	width: 1px;   
	height: 1px;
}
.imageEntities-ContentSideboxes.img-large{
	width: 145px;   
}



.imageEntities-ContentBanners.img-small{
	width: 100px;      
}
.imageEntities-ContentBanners.img-medium{
	width: 1px;
	height: 1px;
}
.imageEntities-ContentBanners.img-large{
	width: 468px;   
}



.imageEntities-ClTrips.img-small{
	width: 90px;   
	height: 60px;

}
.imageEntities-ClTrips.img-medium{
	width: 320px;   

}
.imageEntities-ClTrips.img-large{
	width: 640px;   
}


.imageEntities-ContentDesignImageSets.img-small{
	width: 16px;      
	height: 16px
}
.imageEntities-ContentDesignImageSets.img-medium{
	width: 1px;
	height: 1px;
}
.imageEntities-ContentDesignImageSets.img-large{
	width: 1px;  
	height: 1px
}





.imageEntities-Settings.img-small{
	width: 16px;      
	height: 16px
}
.imageEntities-Settings.img-medium{
	width: 1px;
	height: 1px;
}
.imageEntities-Settings.img-large{
	width: 1px;  
	height: 1px
}



.imageEntities-MAccommodations.img-small{
	width: 90px;      
	height: 60px
}
.imageEntities-MAccommodations.img-medium{
	width: 200px;

}
.imageEntities-MAccommodations.img-large{
	width: 640px;  
}




.imageEntities-CsContracts.img-small{
	width: 1px;      
}
.imageEntities-CsContracts.img-medium{
	width: 1px;

}
.imageEntities-CsContracts.img-large{
	width: 1px;  
}



.imageEntities-LocalTourOperators.img-small{
	width: 100px;      
}
.imageEntities-LocalTourOperators.img-medium{
	width: 320px;

}
.imageEntities-LocalTourOperators.img-large{
	width: 640px;  
}





.imageEntities-ContentSliders.img-small{
	width: 100px;      
}
.imageEntities-ContentSliders.img-medium{
	width: 1px;
	height: 1px
}
.imageEntities-ContentSliders.img-large{
	width: 468px;  
}


.imageEntities-CsClients.img-small{
	width: 100px;      
}
.imageEntities-CsClients.img-medium{
	width: 1px;
	height: 1px
}
.imageEntities-CsClients.img-large{
	width: 468px;  
}



.imageEntities-BusinessCases.img-small{
	width: 1px;      
}
.imageEntities-BusinessCases.img-medium{
	width: 1px;
}
.imageEntities-BusinessCases.img-large{
	width: 1px;  
}
.fm-large{
	width: 48px;
	height: 48px
}
.lm-large{
	width: 48px;
	height: 48px
}

img.lm{
	width: 16px;      
	height: 16px
}
img.fm{
	width: 16px;      
	height: 16px
}
img.tip{
	width: 16px;      
	height: 16px
}
lm-pic{
	width:150px ;
	height: 25px;
}
fm-pic{
	width:150px ;
	height: 25px;
}

img.availability-small{
	width: 16px;      
	height: 16px	
}